header{
min-height: 130px !important;
padding-bottom: 0 !important;
}
header .row{
margin-right: -15px;
    margin-left: -15px;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: baseline;
}
nav{
margin-bottom: 0 !important;
}

.right-side{
display: flex; 
justify-content: space-between;
/*align-items: center;*/
height: auto;
}

.right-side > li:first-of-type a{
width: 100px;
height: 100px !important;
} 

.right-side li:first-of-type a img{
max-width: 100%;
max-height: 100%;
}

#blog .row .col-md-4{
  float: right;
}

#blog .thumbnail{
padding: 0;
}

.thumbnail .card-det{
padding: 1rem;
box-shadow: 0 0 13px #eaeaea;
line-height: 1.2;
}

.thumbnail .card-det a{
color: #11998e;
padding: .2rem;
transition: all ease-in-out .15s;
}

.thumbnail .card-det a:hover{
color: #fff;
background: #11998e;

}

.navigate{
background: #eee;
margin-top: 2rem;
margin-bottom: 2rem;
}

.navigate .navigation{
    padding: 1rem;
}

.navigate .navigation p{
margin-bottom: 0;
}


@media screen and (max-width: 992px) {
  header .row {
    flex-direction: column-reverse;
  }
  .right-side {
    justify-content: center;
  }
  .left-side {
    margin-top: 2rem;
  }
}

@media screen and (max-width: 450px) {
  .right-side {
    flex-direction: column;
  }
  .right-side li:first-child {
    margin-bottom: 30px;
  }
  .right-side li:nth-of-type(2) {
    align-self: flex-start;
  }
  .right-side li:last-child {
    align-self: flex-end;
    margin-top: -45px;
  }
}

.container-fluid{
margin-right: 45px;
margin-left: 45px;
}

.cat-filters{
list-style: none;
display: flex;
justify-content: center;
flex-wrap: wrap;
margin-bottom: 5rem;
}

.cat-filters li a{
    margin-right: 1rem;
    margin-left: 1rem;
    font-size: 2rem;
    padding: .5rem 1.5rem;
    border: 1px solid #11998e;
    border-radius: 22px;
    color: #11998e;
    text-decoration: none;
    transition: all linear .15s;
    margin-top: .5rem;
    margin-bottom: .5rem;
    display: inline-block;
}

.cat-filters li a:hover{
    color: #fff;
    background: #11998e;
}