*,
*::before,
*::after {
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
@font-face {
    font-family: 'Adobe Arabic';
    src: url({{asset('admin/dist/fonts/Adobe-Arabic-Regular.otf')}});
    font-weight: 700;
}
* {
    font-family: 'Markazi Text', 'Adobe Arabic', serif !important;
    transition: all .05s linear;
}

.text-bold {
    font-weight: bold;
}

html,
body {
    height: 100%;
}


body {
    direction: rtl;
    margin: 0;
    padding: 0;
    font-family: 'Markazi Text', 'Adobe Arabic', serif;
    background: #f1f1f1;
    background-color: #f1f1f1;
}

header {
    background-image: url(../imgs/Mask%20Group%203.png);
background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding-top: 15px;
    padding-bottom: 45px;
    min-height: 100vh !important;
}

nav {
    margin-bottom: 50px;
}

nav ul {
    padding: 0;
}

.right-side {
    text-align: right;
    height: 48px;
    padding-right:0 !important;
    padding-left:0 !important;
}

.left-side {
    text-align: left;
}

.clear {
    clear: both;
}

nav ul li {
    display: inline-block;
    text-align: center;
}

nav li a,
select {
    display: block;
    min-width: 142px;
    height: 35px;
    color: #666;
}

nav ul li,
nav li a:hover,
nav li a:focus {
    color: #666;
}

a:hover,
a:focus {
    text-decoration: none;
}

nav li a:hover,
nav li a:focus {
    font-weight: bold;
}

.sign-up, 
.sign-in,
.sign-in:hover,
select,
.add-shop,
form input {
    padding: 6px 25px;
    border-radius: 5px;
    background-color: #fff;
    border: 1px solid #d3d3d3;
}

header a:focus {
    background-color: #fff;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
}

select {
    padding: 4px 25px;
}

.sign-up {
    margin-left: 20px;
}

.add-shop {
    margin-right: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.sign-in {
    background-color: transparent;
    border: none;
}

.fa-plus {
    margin-left: -15px;
    margin-right: 14px;
}

.img-container {
    width: 100px;
    margin: auto;
    margin-top: 40px !important;
}

.img-container img {
    margin: auto;
}

.title {
    margin-bottom: 40px;
    font-size: 2.5em;
    color: #11998e;
}

input[type="search"]{
    display: block;
    width: 80%;
    margin: auto;
    border: none;
    border-radius: 30px;
    padding: 15px 40px;
    padding-left: 51px;
    font-size: 1.5em;
    color: #000;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
}


input[type="search"]::placeholder {
    font-size: 18px;
    color: #cbcdcd;
}

.search {
    display: flex;
    align-items: center;
}

.fa-search {
    display: block;
    position: relative;
    left: 12.5%;
    color: gray;
}

.example {
    width: 80%;
    margin: auto;
}

.ex {
    margin-top: 10px;
    text-align: right;
    padding-right: 27px; /*40px*/
    color: #75c0bb;
}

.customize-search {
    margin-top: 30px;
}

form select,
form input {
    padding-top: 15px;
    padding-bottom: 15px;
    min-width: 120px;
    margin-left: 20px;
    color: #95989a;
    font-size: 1.2em;
    display: inline-block;
}

form input[type="submit"]{
    margin-left: 0;
    margin-right: 20px;
    background: linear-gradient(to left, #11998e , #38ef7d);
    color: #fff;
    min-width: 203px;
/*    height: 73px;*/
}
form button[type="submit"]{
    margin-left: 0;
    margin-right: 20px;
    background: linear-gradient(to left, #11998e , #38ef7d);
    color: #fff;
    min-width: 203px;
/*    height: 73px;*/
}

.towns {
    margin-left: 0;
    margin-right: 20px;
    min-width: 203px;
    height: 55px;
    padding: 7px 25px;
    
    font-weight: bold;
}

.arrow-bottom {
    display: block;
    color: transparent;
    background-color: transparent;
    margin: 45px auto 0;
    width: 2em;
}
.arrow-bottom:focus {
    color: transparent;
    background-color: transparent;
    border: 0;
    box-shadow: 0, 0, 0, rgba(0,0,0,0);
}

.fa-chevron-down {
    display: block;
    color: #11998e;
}

@media screen and (max-width: 1199px) {
    .left-side,
    .right-side {
        text-align: center;
    }
}

@media screen and (max-width: 991px) {
    .fa-search {
        left: 14%;
    }
}

@media screen and (min-width: 294px) and (max-width: 430px) {
    .fa-search {
        left: 18%;
    }
    
    .towns {
        margin-right: 0;
    }
}

@media screen and (min-width: 431px) and (max-width: 644px){
    .fa-search {
        left: 14%;
    }
    
    .towns {
        margin-right: 0;
    }
}

@media screen and (max-width: 555px) {
    .add-shop,
    .sign-up{
        margin: 0;
    }
    
    .add-shop,
    .sign-in {
        margin-top: 10px;
    }
}

@media screen and (max-width: 465px) {
    form input[type="submit"],
    form select {
        margin-left: 0;
        margin-right: 0;
    }
    
    form select {
        margin-bottom: 10px;
    }
}

.howItWorks {
    background-image: url('../imgs/Section%202.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #fff;
    padding-bottom: 120px;
    margin-bottom: -1px;
}

.howItWorks h1,
.app h1 {
   margin-top: 65px;
}

.tools {
    min-height: 400px;
    background-image: url('../imgs/How%20it%20work.svg');
    background-repeat: no-repeat;
    background-position: center left;
    margin-top: 70px;
}

@media screen and (max-width: 991px) {
    .tools {
        background-image: none;
    }
    
    .play-button {
        display: none;
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    .tools {
        background-image: url(../imgs/How%20it%20work.svg);
        min-height: 350px;
    }
}



.tools h2:before {
    content: '|';
    font-size: 1.4em;
    font-weight: normal;
}

.tools p {
    margin-top: 1.5em;
    margin-right: 1.4em;
    font-size: 1.6em;
}

.tools ul {
    margin-top: 60px;
    margin-right: 15px;
}

.tools ul li{
    list-style: none;
    margin-bottom: 20px;
    font-size: 1.3em;
}

.tools .fa-check {
    margin-left: 10px;
}

.howItWorks {
    position: relative;
}

.play-button {
    width: 60px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.play-button {
    margin: auto;
}

.vertical hr {
    width: 50px;
    border-width: 3px;
    border-color: #fff;
}

.ads {
    background-color: #cacbd1;
}

.ads img {
    margin: auto;
}

.app {
    background-color: #f7f7f7;
    color: #11998e;
    padding-bottom: 20px;
}

.app hr {
    border-color: #11998e;
}

.send-message form {
    margin-top: 50px;
}

.send-message form input {
    border-radius: 5px;
    margin: 0;
/*    min-height: 62px;*/
}

.send-message form input[type="email"] {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    width: 80%;
}

.send-message form input[type="email"]::placeholder {
    color: #b2b2b2;
}

.send-message form input[type="submit"] {
    height: auto;
    min-width: 10px;
    text-align: left;
    position: relative;
    border-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin-right: -4px;
}
.send-message form button[type="submit"] {
    height: auto;
    min-width: 10px;
    text-align: left;
    position: relative;
    border: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin-right: -4px;
    padding: 17px 25px;
    border: 1px solid #d3d3d3;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.app .tools {
    background: none;
}

.stores {
    margin-top: 80px;
    text-align: center;
}

.stores {
    display: flex;
    justify-content: center;
}

.ios,
.android {
    width: 25%;
    margin-left: 10%;
}


@media screen and (max-width:991px) {
    .app form,
    .app .tools h2 {
        text-align: center;
    }
}

@media screen and (max-width: 500px) {
    
    .stores {
        display: block;
    }
    
    .ios,
    .android {
        display: block;
        margin: auto;
        margin-bottom: 20px;
        width: 100%;
    }
    
    .ios {
        margin-bottom: 0;
    }
}

.samples-shops {
    color: red;
    padding-top: 20px;
    padding-bottom: 20px;
}

.owl-carousel {
    direction: ltr;
}


.owl-stage {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

.item {
    padding-left: 20px;
    padding-right: 20px;
    width: 180px;
    margin: auto;
}


footer {
    background-image: url(../imgs/Footer.svg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #f7f7f7;
    color: #11998e;
}

.left-section,
.center-section,
.right-section {
    margin-top: 30px;
}
.left-section {
    padding-left: 0;
    padding-right: 30px;
}
.center-section {
    padding: 0;
}
.right-section {
    padding-left: 30px;
    padding-right: 0;
}

.contact-us {
    letter-spacing: .5px;
}

.follow-us {
    margin-top: 65px;
}


.social-icons ul {
    padding: 0;
    list-style: none;
    margin-top: 30px;
    direction: ltr;
    text-align: right;
}

.social-icons ul li {
    width: 50px;
    height: 50px;
    background-color: #11998e;
    color: #fff;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    margin-right: 10px;
}

.facebook:hover li {
    background-color: #3b5999;
}

.twitter:hover li {
    background-color: #55acee;
}

.instagram:hover li {
    background-color: #e4405f;
}

.googlePlus:hover li {
    background-color: #dd4b39;
}
.youtube:hover li {
    background-color: #ff0000;
}

.social-icons ul .youtube li {
    margin-right: 0;
}

.phones,
.email,
.whatsApp {
    font-size: 20px;
}

.phones {
    display: flex;
    align-items: baseline;
    margin-top: 30px;
}

.text-color-grey {
    color: #666;
}

.whatsApp-icon {
    background-image: url('../imgs/Whats%20app.svg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
}

.fa-envelope,
.whatsApp-icon {
    margin-left: 15px;
}

.fa-phone {
    transform: rotate(240deg);
    margin-left: 25px;
}

.numbers,
.email {
    margin-bottom: 20px;
}

.numbers {
    display: inline-block;
}

.numbers span {
    display: block;
    direction: ltr;
}

.phones .sec {
    margin-right: 23px;
}

.whatsApp span {
    direction: ltr;
    display: inline-block;
}

.follow-us h2 {
    margin-top: 30px;
}

footer .send-message form input::placeholder {
    font-size: 16px;
}

footer .send-message form {
    max-width: 100%;
    margin-top: 30px;
}

.categories ul,
.right-section ul {
    margin-top: 20px;
    padding: 0;
    list-style: none;
    font-size: 17px;
}

.right-section .fa-check {
    color: #bfb9e3;
    margin-left: 10px;
}

footer ul li {
    margin-bottom: 10px;
}

footer ul li:last-child {
    margin-bottom: 0;
}

footer ul li a:hover,
footer ul li a:focus,
footer ul li a:active {
    color: #000;
}

.right-section .img-container {
    margin: 0;
}

.right-section h3 {
    /* margin-top: 74px; */
}

.right-section ul {
    padding: 0;
    line-height: none;
}

.footer-bottom {
    color: #666;
    direction: ltr;
    padding-top: 20px;
    padding-bottom: 40px;
    padding-right: 89.500px;
    padding-left: 89.500px;
}

.copy-right {
    direction: ltr;
    text-align: right;
}

.copy-right p {
    display: inline-block;
    margin: 0;
}

.copy-right,
.conditions {
    display: block;
}

.conditions {
    text-align: right;
}

.conditions a {
    text-align: right;
    margin-left: 10px;
    font-size: 12px;
    color: #666;
}

.conditions a:last-of-type {
    margin-left: 0;
}

footer .container-fluid {
    background-color: #f7f7f7;
}

@media screen and (max-width: 1011px) {
    
    .copy-right {
        text-align: center;
    }
    
    .conditions {
        text-align: center;
        margin-top: 10px;
    }
}

@media screen and (max-width: 500px) {
    .right-section .img-container {
        margin: auto;
    }
}


input:focus,
select:focus {
    border-color: #129C8D;
    outline: none;
}

@media screen and (min-width: 320px) and (max-width: 573px) {
    body h1 {
        font-size: 5.5vw !IMPORTANT;
    }
    
    body h2 {
        font-size: 5.1vw !IMPORTANT;
    }
    
    body h3 {
        font-size: 4.8vw !IMPORTANT;
    }
    
    .ex {
        text-align: center;
        padding-right: 0;
    }
    
    .copy-right p {
        font-size: 2.3vw;
    }
    
    .tools p {
        font-size: 4vw;
    }
    
    .tools ul {
        margin-top: 40px;
        font-size: 3.2vw;
        padding-right: 0;
        
    }
    
    .howItWorks {
        padding-bottom: 0;  
    }

}

.tools ul li {
    display: flex;
    align-items: center;
}

a:focus,
input:focus,
select:focus,
.add-shop:focus,
button:focus,
.search button:focus,
.send-message form input:focus ,
.send-message form button:focus {
   // border: 0.5px solid;
   // border-color: #129C8D;
    outline: none;
}

input, select, header li a {
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
}

.sign-in {
    box-shadow: none;
}

.sign-in:hover {
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
}

.bottom-divider {
border-bottom: 3px solid #fff;
    padding-bottom: 3px;
}

.container-fluid{
margin-right: 45px !important;
margin-left: 45px !important;
}
#contentPagesHeader {
position: relative;
}
h2.content-header {
    position: absolute;
    margin: auto;
    width: 100%;
    text-align: center;
    z-index: 1;
    color: #11998e;
    font-weight: bold;
    font-size: 45px;
    margin-top: 25px;
}
.header-higher {
    z-index: 2;
    margin-left: -10px;
}
.video-wrapper {
    position: relative;
}
.video {
    border-radius: 5px;
    box-shadow: 3px 3px 4px rgba(0,0,0,.1);
}
#videoM {
    width: 100%;
}
.playpause {
    background-image:url(/image/SVG/play-button.svg);
    background-repeat:no-repeat;
    background-color: rgba(0,0,0,.1);
    width:100%;
    height:100%;
    position:absolute;
    left:0%;
    right:0%;
    top:0%;
    bottom:0%;
    margin:auto;
    background-size: 100px;
    background-position: center;
}
#howItWorks .modal-content {
    background: transparent;
}




.text {
display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}




.text img {
    max-width: 15%
}

#preloader {
background: #f6f6f6;
    left: 0;
    top: 0;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 9999;
}


#preloader,
.text {
    overflow: hidden
}

.pace-running{

overflow: hidden

}

.twitter-typeahead {
    width: 100%;
}
input[type="search"] {
    text-align: right;
}
.tt-menu {
    right: auto !important;
    left: 11% !important;
}

