    /* Large Devices, Wide Screens */

    @media only screen and (max-width: 1200px) {


        .nav-one li {
            margin: 0 5px;
        }




    }

    /* Medium Devices, Desktops */

    @media only screen and (max-width: 992px) {

        .nav > li > a {
            position: relative;
            display: block;
            padding: 10px 20px;
        }


        .navbar-header {
            width: 30%;
            position: absolute;
            z-index: 7;
            left: 40px;
        }




    }

    /* Small Devices, Tablets */

    @media only screen and (max-width: 768px) {



        .navbar-header {
            width: 90%;
            position: absolute;
            z-index: 7;
            left: 40px;
        }


        .navbar-brand {
            font-size: 24px;
            max-width: 30%;
        }


        .navbar-toggle {
            position: relative;
            float: right;
            padding: 9px 10px;
            margin-top: 8px;
            margin-right: 15px;
            margin-bottom: 8px;
            background-color: white;
            background-image: none;
            border: 1px solid transparent;
            border-radius: 4px;
        }


        .navbar-toggle .icon-bar {
            display: block;
            width: 22px;
            height: 2px;
            border-radius: 1px;
            color: #000;
            background: #8509d2;
        }


        .navbar-collapse {
            padding-top: 0;
            padding-right: 15px;
            padding-left: 15px;
            overflow-x: visible;
            -webkit-overflow-scrolling: touch;
            border-top: 1px solid transparent;
            -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
            box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
            background-color: #FFF;
            margin-top: 70px;
        }


        .navbar-nav > li > a {
            padding-top: 10px;
            padding-bottom: 10px;
            line-height: 20px;
            color: #7a07d5;
            font-weight: bold;
        }



        .navbar-brand.fixed-theme {
            font-size: 18px;
            max-width: 30%;
            position: relative;
            top: 7px;
        }


        .main-buttons {
            display: block;
            text-align: right;
            margin-left: 50px;
        }



        .navbar-fixed-top .navbar-brand img {
            max-width: 64%;
            position: relative;
            top: -18px;
        }


        .header-con {
            padding-top: 50px;
        }



        .nav-one li .login-button,
        .nav-one li .signup-button {


            color: #FFF;
            background-color: transparent;
            border: 0;


        }


        .navbar-nav > li > a {
            padding-top: 10px;
            padding-bottom: 10px;
            line-height: 20px;
            color: #FFF;
            font-weight: bold;
            margin: 10px;
            display: block !important;
        }

        .nav-one {
            border-bottom: 1px solid #FFF;
            display: none;
        }


        .navbar-fixed-bottom .navbar-collapse,
        .navbar-fixed-top .navbar-collapse {
            height: auto;
            max-height: -webkit-max-content;
            max-height: -moz-max-content;
            max-height: max-content;
            margin-top: 40px;
        }



        .header-con {
            padding-top: 20px;
        }


        .cta .cta-con h1 {
            width: 90%;
            margin-left: 15px;
            margin-top: 50px;
            margin-bottom: 50px;
            color: #FFF;
            font-weight: bold;
        }




        .cta-button {
            text-align: center;
            padding-bottom: 50px;
        }

        .main-form {

            padding-bottom: 35px;
        }

        .partner-img {
            text-align: center;
            margin-bottom: 25px;
        }

        .app-google {
            text-align: center;
            margin-bottom: 15px;
        }
        .app-apple {
            text-align: center;
        }

        .icon-con {
            text-align: center;
            margin-bottom: 30px;
        }



    }


    /* Extra Small Devices, Phones */

    @media only screen and (max-width: 480px) {


        .navbar-brand {
            font-size: 24px;
            max-width: 45%;
        }



        .navbar-fixed-top .navbar-brand img {
            max-width: 100%;
            position: relative;
            top: -18px;
        }



        .navbar-brand.fixed-theme {
            font-size: 18px;
            max-width: 40%;
            position: relative;
            top: 7px;
        }



        .main .head-image {
            max-width: 95%;
            height: auto;
        }


        .pattern-sec .pattern-img {
            max-width: 100%;
            margin-top: 30px;
        }


        .pattern-sec h2 {
            text-align: center;
            color: #8f0bcf;
            border-bottom: 2px solid #900bce;
            padding: 2px;
            margin: 0px;
            display: inline-block;
            margin-top: 25px;
        }


        .icon-con {
            text-align: center;
            margin-bottom: 30px;
        }


        .cta .cta-con h1 {
            width: 100%;
            margin-left: 15px;
            margin-top: 50px;
            margin-bottom: 50px;
            color: #FFF;
            font-weight: bold;
        }


        .cta-button {
            text-align: center;
            padding-bottom: 50px;
        }


        .main-form {
            background-color: transparent;
            position: relative;
            height: auto;
            background-size: cover;
            top: -75px;
            padding-bottom: 40px;
        }

        .partner-img img {
            margin-bottom: 40px;
        }


        .app img {
            max-width: 70%;
            margin-bottom: 20px;
        }

        .app-google {
            text-align: center;
        }

        .app-apple {
            text-align: center;
        }

        .footer h3 {
            border-bottom: 1px solid #BAC1C8;
            color: #54697E;
            font-size: 18px;
            font-weight: 600;
            line-height: 27px;
            padding: 15px 0 10px;
            text-transform: uppercase;
        }


        #back-to-top {
            bottom: 15px;
            right: 15px;

        }


        .text img {


            opacity: 1;
            max-width: 35%;
        }

    }


    /* Custom, iPhone Retina */

    @media only screen and (max-width: 350px) {}



    }
