*,
*::before,
*::after {
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.text-bold {
    font-weight: bold;
}

html,
body {
    min-height: 100vh;
}


body {
    direction: rtl;
    margin: 0;
    padding: 0;
    font-family: 'Markazi Text', 'Adobe Arabic', serif;
    background-color: #f4f4f4;
}

footer .send-message form input::placeholder {
    font-size: 16px;
}

footer .send-message form {
    max-width: 100%;
    margin-top: 30px;
}

.footer-bottom {
    color: #666;
    direction: ltr;
    padding-top: 20px;
    padding-bottom: 40px;
    
}

.copy-right {
    direction: ltr;
    text-align: right;
}

.copy-right p {
    display: inline-block;
    margin: 0;
}

.copy-right,
.conditions {
    display: block;
    float: left;
}

.conditions {
    text-align: right;
}

.conditions a {
    text-align: right;
    margin-left: 10px;
    font-size: 12px;
    color: #666;
}

.conditions a:last-of-type {
    margin-left: 0;
}

footer .container-fluid {
    background-color: #f7f7f7;
}

@media screen and (max-width: 1011px) {
    
    .copy-right {
        text-align: center;
    }
    
    .conditions {
        text-align: center;
        
    }
}

@media screen and (max-width: 500px) {
    .right-section .img-container {
        margin: auto;
    }
}


input:focus,
select:focus {
    border-color: #129C8D;
    outline: none;
}

@media screen and (min-width: 320px) and (max-width: 573px) {
    body h1 {
        font-size: 5.5vw !IMPORTANT;
    }
    
    body h2 {
        font-size: 5.1vw !IMPORTANT;
    }
    
    body h3 {
        font-size: 4.8vw !IMPORTANT;
    }

}


body {
    display: flex;
    flex-direction: column;
}

header,
section {
    flex: 1 0 auto;
}

header hr {
    margin-bottom: 0;
    border: 1px solid #eee;
    display: block;
}

@media screen and (min-width: 992px) {
     .footer-bottom {
        padding-right: 89.500px;
        padding-left: 89.500px;
    }
}

.img-container {
    margin-top: 30px;
    margin-bottom: 35px;
    width: 125px;
    margin-left: auto;
    margin-right: auto;
}

.align-form form {
    margin: auto;
    max-width: 100%;
}

.align-form label {
    display: block;
    color: #666;
}

.align-form input[type=text],
.align-form input[type=email],
.align-form input[type=password] {
    width: 100%;
    border: 0;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
    color: #000;
    min-width: 120px;
    color: #95989a;
    font-size: 1.2em;
    padding: 15px 25px;
    border-radius: 5px;
    background-color: #fff;
    margin-bottom: 10px;
}

button {
    display: block;
    margin: auto;
}

.checkBox label,
.checkBox input {
    display: inline-block;
}

.checkBox input {
    width: auto;
    float: right;
    padding: 0;
    margin: 0;
    min-width: auto;
    display: inline-block;
    vertical-align: middle;
    height: 25px;
    width: 20px;
    margin-left: 10px;
}

.clear {
    clear: both;
}

.form {
    max-width: 500px;
    margin: auto;
}

button {
    background: linear-gradient(to left, #11998e , #38ef7d);
    color: #fff;
    font-size: 1.2em;
    font-weight: bold;
    border-radius: 5px;
    padding: 10px 30px;
    border: 0;
    width: 100%;
    margin-top: 20px;
}

button:hover,
button:focus {
    background: #11998E;
}

input::placeholder {
    font-size: 18px;
    color: #cbcdcd;
}

input {
    color: #000 !IMPORTANT;
}

label {
    font-size: 21px;
    margin-bottom: 10px;
}

.beConnected {
    font-size: 16px;
    letter-spacing: .5px;
    color: #666;
}

p a {
    color: #11998e;
    font-weight: bold;
}

p a:hover,
p a:focus {
    color: #000;
    text-decoration: none;
}

.box {
    height: 114px;
}

span {
    display: block;
}

.wrapper {
    min-height: 100vh;
}

.user{
    display: flex;
}

.user .img-container{
    margin-right: 0;
    margin-left: 100px
}

.user i {
    display: inline-block;
    margin-top: 100px;
    margin-bottom: 20px;
    font-size: 6em;
}

.primary {
    color: #11998e;
}

.secondary {
    color: #95989a;
}

.hr hr {
    border-color: #d6d6d6;
    border-width: 2px;
}

.video {
    padding: 2px 0;
}

.facebook-login,
.video {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.facebook-login p:hover,
.video:hover {
    color: #fff;
    background-color: #11998e;
}

.video {
    box-shadow: none;
    border-radius: 5px;
    border: 1px solid #adadad;
    color: #adadad;
}

.video p,
.video i {
    display: inline-block;
    margin: 0;
}

.video i {
    margin-right: 20px;
}

.facebook-login div {
    position: relative;
}

.facebook-login i {
    font-size: 5rem;
    color: #465993;
    position: absolute;
    top: -4px;
    /* bottom: 0; */
    background: #fff;
    /* left: 0px; */
    right: 0;
    z-index: 0;
}

.facebook-login p {
    margin: 0;
    /* margin-right: 33px; */
    width: 100%;
    background-color: #fff;
    padding: 11px;
    overflow: hidden;
    position: relative;
    text-align: center;
    border-radius: 5px;
}

.have-account {
    margin-top: 20px;
    margin-bottom: 20px;
}

.have-account span {
    color: #666;
    font-weight: bold;
    display: inline;
    text-decoration: none;
}

.have-account a {
    display: inline-block;
}

.have-account a:last-of-type {
    font-weight: bold;
    margin-right: 15px;
}

h3::before {
    content: '|';
    font-size: 1.4em;
    font-weight: normal;
    padding-left: 5px;   
}

ul {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 15px;
    padding: 0;
}

ul li {
    display: flex;
    align-items: center;
    list-style: none;
    margin-bottom: 20px;
    font-size: 1.3em;
    color: #adadad;
}


.fa-check {
    margin-left: 10px;
    color: #11998e;
}

.left {
    border-right: 3px solid #eaeaea;
}

.fa-checkk img {
    width: 30px;
    height: 30px;
}
.fa-checkk {
    margin-left: 10px;
}
.left-form-register {
    padding-right: 35px;
}
.left-form-register .video {
    width: 85%;
}
.user .form-group {
    width: 100px;
    display: block;
    position: relative;
}
.user .form-group #userPhoto {
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 99;
    cursor: pointer;
    position: absolute;
    margin: 0;
    top: 0;
}
.user .form-group .fa-user-circle {
    position: absolute;
    margin: 0;
    top: 50px;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    z-index: 2;
}
.modal-header button.close {
    width: auto;
    float: right;
}
.video-wrapper {
    position: relative;
}
.video-wrapper .videoVideo {
    border-radius: 5px;
    box-shadow: 3px 3px 4px rgba(0,0,0,.1);
}
.playpause {
    background-image: url(/image/SVG/play-button.svg);
    background-repeat: no-repeat;
    background-color: rgba(0,0,0,.1);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    margin: auto;
    background-size: 100px;
    background-position: center;
}
.modal-content {
    background: transparent;
}
.user {
    justify-content: center;
    flex-direction: row;
    height: 160px;
}