*,
*::before,
*::after {
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.text-bold {
    font-weight: bold;
}

html,
body {
    height: 100%;
}


body {
    direction: rtl;
    margin: 0;
    padding: 0;
    font-family: 'Markazi Text', 'Adobe Arabic', serif;
}

header {
    background-image: url(../imgs/Mask%20Group%203.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    padding-top: 15px;
    padding-bottom: 45px;
    min-height: 50vh;
}

nav ul {
    padding: 0;
}

.right-side {
    text-align: right;
/*    height: 48px;*/
    float: right;
}

.left-side {
    float: left;
    text-align: left;
}

.clear {
    clear: both;
}

nav ul li {
    display: inline-block;
    text-align: center;
}

nav li a,
select {
    display: block;
    min-width: 142px;
    height: 35px;
    color: #666;
}

nav ul li,
nav li a:hover,
nav li a:focus {
    color: #666;
}

a:hover,
a:focus {
    text-decoration: none;
}

nav li a:hover,
nav li a:focus {
    font-weight: bold;
}

.sign-up, 
.sign-in,
.sign-in:hover,
select,
.add-shop,
form input,
form button {
    padding: 6px 25px;
    border-radius: 5px;
    background-color: #fff;
/*    border: 1px solid #d3d3d3;*/
    border: 0.5px solid transparent;
}

select {
    padding: 0px 25px;
}

.sign-up {
    margin-left: 20px;
}

.add-shop {
    margin-right: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.sign-in {
    background-color: transparent;
    border: none;
}

nav .row {
    margin-left: 105px;
    margin-right: 105px;
}

@media screen and (max-width: 600px) {
    nav .row {
        margin-left: -15px;
        margin-right: -15px;
    }
}

.fa-plus {
    margin-left: -15px;
    margin-right: 14px;
}

.img-container {
    width: 125px;
}

.img-container img {
    margin: auto;
}

.title {
    margin-bottom: 40px;
    font-size: 2.5em;
    color: #11998e;
}

input[type="search"]{
    display: block;
    width: 80%;
    margin: auto;
    font-size: 1.2em;
    color: #000;
    border-radius: 50px;
    padding: 10px 40px;
    padding-left: 25px;
    height: 48px;
    font-weight: bold;
}


input[type="search"]::placeholder {
    font-size: 18px;
    color: #cbcdcd;
}

.search {
    display: flex;
    align-items: center;
    margin-top: 42px;
}

.fa-search {
/*
    display: block;
    position: relative;
    left: 12.5%;
*/
}

.search button {
    position: relative;
    background: linear-gradient(to left, #11998e , #38ef7d);
    border: 0;
    color: #fff;
    padding: 10px 3vw;
    border-radius: 50px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    left: 7.9vw;
}

.example {
    width: 80%;
    margin: auto;
}

.ex {
    margin-top: 10px;
    text-align: right;
    padding-right: 27px; /*40px*/
    color: #75c0bb;
}

.customize-search {
    margin-top: 30px;
}

form select,
form input,
.send-message form button {
    min-width: 120px;
    margin-left: 20px;
    color: #95989a;
    font-size: 1.2em;
    display: inline-block;
}

form select {
    margin-left: 0;
}

form input[type="submit"],
.send-message form button {
    margin-left: 0;
    margin-right: 20px;
    background: linear-gradient(to left, #11998e , #38ef7d);
    color: #fff;
    min-width: 203px;
/*    height: 73px;*/
    min-height: 55px;
}

.towns {
    margin-left: 0;
    margin-right: 20px;
    min-width: 203px;
    height: 55px;
    padding: 7px 25px;
    
    font-weight: bold;
}

.arrow-bottom {
    margin-top: 45px;
}

.fa-chevron-down {
    display: block;
    color: #11998e;
}


.profile img{
    max-width: 35px !important;
}

.profile div .profile-settings{
    display: flex !important;
    flex-direction: column;
}

.notification-icon img{
    min-width: 35px !important;
}

.notification-icon .slide-down{
    position: absolute !important;
}

@media screen and (max-width: 1199px) {
    .left-side,
    .right-side {
        text-align: center;
    }
    
    .notification-icon,
    .profile {
        min-width: 142px;
        justify-content: self-start;
    }
}


@media screen and (min-width: 294px) and (max-width: 430px) {
    
    .towns {
        margin-right: 0;
    }
}

@media screen and (min-width: 431px) and (max-width: 644px){
    
    .towns {
        margin-right: 0;
    }
}

@media screen and (max-width: 555px) {
    .add-shop,
    .sign-up{
        margin: 0;
    }
    
    .notification-icon {
        margin-left: 0;
    }
    
    .add-shop,
    .sign-in {
        margin-top: 10px;
    }
}

@media screen and (max-width: 465px) {
    form input[type="submit"],
    form select {
        margin-left: 0;
        margin-right: 0;
    }
    
    form select {
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 480px) {
    
    .search {
        margin-right: 10%;
    }
    
    .search button {
        padding:13.5px 5vw;
    }
    
    .search .fa-search {
        font-size: 1.5em;
    }
}

.howItWorks {
    background-image: url('../imgs/Section%202.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #fff;
    padding-bottom: 120px;
    margin-bottom: -1px;
}

.howItWorks h1,
.app h1 {
   margin-top: 65px;
}

.tools {
    min-height: 400px;
    background-image: url('../imgs/How%20it%20work.svg');
    background-repeat: no-repeat;
    background-position: center left;
    margin-top: 70px;
}

@media screen and (max-width: 991px) {
    .tools {
        background-image: none;
    }
    
    .play-button {
        display: none;
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    .tools {
        background-image: url(../imgs/How%20it%20work.svg);
        min-height: 350px;
    }
}

@media screen and (max-width: 1199px) {
    .form-container select {
        margin-top: 20px !IMPORTANT;
        margin-left: 0 !IMPORTANT;
        
    }
}

@media screen and (min-width: 1200px) and (max-width: 1370px) {
    
    .search button {
        left: -32.8vw;
    }
    
}


.form-container select {
        margin-left: -66px;
        direction: rtl;
        margin-top: -4px;
}

@media screen and (min-width: 1200px) {
    .form-container .search,
    .form-container select {
        display: inline-block;
    }
    
    .form-container .search {
        width: 80%;
    }
    
    .form-container {
        display: flex;
        align-items: center;
    }
    
    .search button {
        left: -27vw;
        top: -48px;
    }
    
    .form-container {
        direction: ltr;
    }
    
    .form-container input {
        text-align: right;
    }
}




.tools h2:before {
    content: '|';
    font-size: 1.4em;
    font-weight: normal;
}

.tools p {
    margin-top: 1.5em;
    margin-right: 1.4em;
    font-size: 1.6em;
}

.tools ul {
    margin-top: 60px;
    margin-right: 15px;
}

.tools ul li{
    list-style: none;
    margin-bottom: 20px;
    font-size: 1.3em;
}

.tools .fa-check {
    margin-left: 10px;
}

.howItWorks {
    position: relative;
}

.play-button {
    width: 60px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.play-button {
    margin: auto;
}

.vertical hr {
    width: 50px;
    border-width: 3px;
    border-color: #fff;
}

.ads {
    background-color: #cacbd1;
}

.ads img {
    margin: auto;
}

.app {
    background-color: #f7f7f7;
    color: #11998e;
    padding-bottom: 20px;
}

.app hr {
    border-color: #11998e;
}

.send-message form {
    margin-top: 50px;
}

.send-message form input {
    border-radius: 5px;
    margin: 0;
    min-height: 55px;
}

.send-message form input[type="email"] {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    width: 64%;
}

.send-message form input[type="email"]::placeholder {
    color: #b2b2b2;
}

.send-message form input[type="submit"],
.send-message form button {
    height: auto;
    min-width: 10px;
    text-align: left;
    position: relative;
    border-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin-right: -4px;
}

.app .tools {
    background: none;
}

.stores {
    margin-top: 80px;
    text-align: center;
}

.stores {
    display: flex;
    justify-content: space-around;
}

.ios,
.android {
    width: 40%;
}


@media screen and (max-width:991px) {
    .app form,
    .app .tools h2 {
        text-align: center;
    }
}

@media screen and (max-width: 500px) {
    
    .stores {
        display: block;
    }
    
    .ios,
    .android {
        display: block;
        margin: auto;
        margin-bottom: 20px;
        width: 100%;
    }
    
    .ios {
        margin-bottom: 0;
    }
}

.samples-shops {
    color: red;
    padding-top: 20px;
    padding-bottom: 20px;
}

.owl-carousel {
    direction: ltr;
}


.owl-stage {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

.item {
/*
    padding-left: 20px;
    padding-right: 20px;
*/
    width: 180px;
    margin: auto;
}


footer {
    background-image: url(../imgs/Footer.svg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #f7f7f7;
    color: #11998e;
}

.left-section,
.center-section,
.right-section {
    margin-top: 30px;
    float: left;
}

.contact-us {
    letter-spacing: .5px;
}

.follow-us {
    margin-top: 65px;
}


.social-icons ul {
    padding: 0;
    list-style: none;
    margin-top: 30px;
    direction: ltr;
    text-align: right;
}

.social-icons ul li {
    width: 50px;
    height: 50px;
    background-color: #11998e;
    color: #fff;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    margin-right: 10px;
}

.facebook:hover li {
    background-color: #3b5999;
}

.twitter:hover li {
    background-color: #55acee;
}

.instagram:hover li {
    background-color: #e4405f;
}

.googlePlus:hover li {
    background-color: #dd4b39;
}

.social-icons ul .twitter li {
    margin-right: 0;
}

.phones,
.email,
.whatsApp {
    font-size: 20px;
}

.phones {
    display: flex;
    align-items: baseline;
    margin-top: 30px;
}

.text-color-grey {
    color: #666;
}

.whatsApp-icon {
    background-image: url('../imgs/Whats%20app.svg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
}

.fa-envelope,
.whatsApp-icon {
    margin-left: 15px;
}

.fa-phone {
    transform: rotate(240deg);
        margin-left: 25px;
}

.numbers,
.email {
    margin-bottom: 20px;
}

.numbers {
    display: inline-block;
}

.numbers span {
    display: block;
    direction: ltr;
}

.phones .sec {
    margin-right: 23px;
}

.whatsApp span {
    direction: ltr;
    display: inline-block;
}

.follow-us h2 {
    margin-top: 30px;
}

footer .send-message form input::placeholder {
    font-size: 16px;
}

footer .send-message form {
    max-width: 100%;
    margin-top: 30px;
}

.categories ul,
.right-section ul {
    margin-top: 20px;
    padding: 0;
    list-style: none;
    font-size: 17px;
}

.right-section .fa-check {
    color: #bfb9e3;
    margin-left: 10px;
}

footer ul li {
    margin-bottom: 10px;
}

footer ul li:last-child {
    margin-bottom: 0;
}

footer ul li a:hover,
footer ul li a:focus,
footer ul li a:active {
    color: #000;
}

.right-section .img-container {
    margin: 0;
}

.right-section h3 {
    margin-top: 26px;
}

.right-section ul {
    padding: 0;
    line-height: none;
}

.footer-bottom {
    color: #666;
    direction: ltr;
    padding-top: 20px;
    padding-bottom: 40px;
    padding-right: 89.500px;
    padding-left: 89.500px;
}

.copy-right {
    direction: ltr;
    text-align: right;
}

.copy-right p {
    display: inline-block;
    margin: 0;
}

.copy-right,
.conditions {
    display: block;
    float: left;
}

.conditions {
    text-align: right;
}

.conditions a {
    text-align: right;
    margin-left: 10px;
    font-size: 12px;
    color: #666;
}

.conditions a:last-of-type {
    margin-left: 0;
}

footer .container-fluid {
    background-color: #f7f7f7;
}

@media screen and (max-width: 1011px) {
    
    .copy-right {
        text-align: center;
    }
    
    .conditions {
        text-align: center;
        margin-top: 10px;
    }
}

@media screen and (max-width: 500px) {
    .right-section .img-container {
        margin: auto;
    }
}


@media screen and (min-width: 320px) and (max-width: 573px) {
    body h1 {
        font-size: 5.5vw !IMPORTANT;
    }
    
    body h2 {
        font-size: 5.1vw !IMPORTANT;
    }
    
    body h3 {
        font-size: 4.8vw !IMPORTANT;
    }
    
    .ex {
        text-align: center;
        padding-right: 0;
    }
    
    .copy-right p {
        font-size: 2.3vw;
    }
    
    .tools p {
        font-size: 4vw;
    }
    
    .tools ul {
        margin-top: 40px;
        font-size: 3.2vw;
        padding-right: 0;
        
    }
    
    .howItWorks {
        padding-bottom: 0;  
    }

}

.tools ul li {
    display: flex;
    align-items: center;
}





/*Start Of Search Page*/

header .right-side {
    min-height: 37px;
    display: flex;
    justify-content: flex-start;
}



.notification-icon {
    margin-left: 20px;
   /* display: inline-flex;
    vertical-align: bottom; */
}

@media screen and (max-width: 337px) {
    .notification-icon {
        margin-left: 0;
    }
}

@media screen and (max-width: 317px) {
    .notification-icon,
    .profile {
        margin-top: 10px
    } 
}

.profile {
    display: inline-flex;
    align-items: center;
}



.fa-angle-down {
    margin-left: 5px;
    font-weight: bold;
}


.form-container select {
    font-weight: bold;
}

/*End Of Search Page*/

.navigate {
    color: #666;
    padding-top: 10px;
    padding-bottom: 10px;
}

.navigate p {
    margin: 0;
}

a {
    color: #666;
}

a:focus,
a:hover {
    color: #000;
}

.order {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: left;
}

.companies {
    background-color: #f4f4f4;
}

.company {
    background-color: #fff;
/*    box-shadow: 1px 0px 5px 1px rgba(0, 0, 0, 0.1), -1px 2px 5px 1px rgba(0, 0, 0, 0.1);*/
    border-radius: 10px;
    overflow: hidden;
    border-left: 1px solid #dcdddd;
    margin-bottom: 15px;
}

.company:last-of-type {
    margin-bottom: 0;
}

.brand {
    display: inline-block;
    border-left: 2px solid #dcdddd;   
    padding: 0;
    background-color: #fbfbfb;
}

.brand-info,
.brand-gallery {
    display: inline-block;
}

.company .brand-name {
    font-size: 1.2em;
    padding-top: 11px;
    padding-bottom: 10px;
}

.brand-info {
    font-size: 13px;
    
}

.brand-info ul {
    list-style: none;
    padding: 0;
}

.brand-info ul {
    margin-top: 15px;
    margin-bottom: 0;
    color: #666;
    font-weight: bold;
}

.brand-info ul li {
    display: flex;
    align-items: center;
    margin-right: 5px;
}

.brand-info ul li:nth-of-type(4){
    display: none !important;
}

.users {
    vertical-align: middle;
}

.brand-info ul li i {
    margin-left: 5px;
    color: #11998e;
    width: 30px;
    text-align: center;
    vertical-align: middle;
}

.brand-info ul li {
    margin-bottom: 15px;
}

.brand-info ul li:last-child {
    margin-bottom: 0;
}

.company .brand-name a {
    color: #11998e;
}

#opinions {
    display: block;
    height: 23px;
}

.right {
    float: right;
}

.people-opinion {
    float: left;
    position: relative;
}


.people-opinion .people-pics {
    display: inline-block;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    left: 0;
    z-index: 3;
}

.opinions-number {
    color: #11998e;
    font-size: 1.18em;
    margin-left: 40px;
}

.people-opinion .second {
    left: 7px;
    z-index: 2;
}

.people-opinion .third {
    left: 14px;
    z-index: 1;
}

.brand-gallery {
    margin-top: 15px;
    margin-bottom: 15px;
}

.product,
.product img {
    border-radius: 5px;
}

.s-row {
    margin-top: 10px;
}

.equal-companies {
    background-color: #f4f4f4;
    padding-bottom: 65px;
    padding-top: 45px;
}

.headerWord {
    color: #11998e;
    margin-bottom: 65px;
}

footer .headerWord {
    margin-bottom: 10px;
}

.hr-right hr {
    display: inline-block;
    width: 60px;
    border-width: 3px;
    border-color: #11998e;
    margin-top: 0;
    margin-bottom: 0;
}

.equal-companies .item {
    width: auto;
}

.equal-companies .item .brand {
    border: 0;
}

.equal-companies .company {
    border-radius: 0;
    border: 1px solid #dcdddd;
}

.equal-companies .company .brand-info {
    direction: rtl;
    padding-bottom: 15px;
}

.owl-carousel {
    position: relative;
}

.owl-nav {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
}

.owl-prev,
.owl-next {
    position: absolute;
}

.owl-prev {
    left: 0px;
}

.owl-next {
    right: 0px;
}

.owl-theme .owl-nav [class*=owl-] {
    margin-left: 0;
    margin-right: 0;
    background: linear-gradient(to left, #11998e , #38ef7d);
    font-size: 26px;
    margin: 5px;
    padding: 7px 12px;
}

.owl-item {
    margin: auto;
}

.owl-theme .owl-nav {
    margin-top: 0;
    top: 47%
}

.owl-theme .owl-nav [class*=owl-]:hover {
    background: #11998E;
}

@media screen and (max-width: 480px) {
    .owl-theme .owl-nav [class*=owl-] {
        font-size: 21px;
    }
}

.send-message form input,
.send-message form button {
        border: 1px solid #d3d3d3;
}


input:focus,
select:focus,
.add-shop:focus,
button:focus,
.search button:focus,
.send-message form input:focus ,
.send-message form button:focus {
    border: 0.5px solid;
    border-color: #129C8D;
    outline: none;
}

.last-carousel .item {
    padding-left: 20px;
    padding-right: 20px;
    width: 180px;
    margin: auto;

}


input,
select,
header li a {
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 600px) {
    .img-container {
        margin-left: auto;
        margin-right: auto;
    }
}
.nav-drop-alter {
    width: 400px;
}
.nav-drop-alter .message {
    padding: 5px;
}
.nav-drop-alter .img-container {
    width: 50px;
    height: 50px;
}
.nav-drop-alter .time {
    bottom: 15px;
}
footer .subscribeBtn {
    background: -webkit-gradient(linear, right top, left top, from(#11998e) , to(#38ef7d));
    background: -webkit-linear-gradient(right, #11998e , #38ef7d);
    background: -o-linear-gradient(right, #11998e , #38ef7d);
    background: linear-gradient(to left, #11998e , #38ef7d);
    color: #fff;
    padding: 6px 25px;
    border: 0.5px solid transparent;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    font-size: 1.2em;
}
footer input[type="email"] {
    margin-left: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}