*,
*::before,
*::after {
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.text-bold {
    font-weight: bold;
}

html,
body {
    
}

@font-face {
    font-family: 'Adobe Arabic';
    src: url({{asset('admin/dist/fonts/Adobe-Arabic-Bold.otf')}});
    font-weight: 700;
}
* {
    font-family: 'Markazi Text', 'Adobe Arabic', serif !important;
    transition: all .05s linear;
}

body {
    direction: rtl;
    margin: 0;
    padding: 0;
    font-family: 'Markazi Text', 'Adobe Arabic', serif;
    overflow-x: hidden;
}

header {
    background-color: #f5f5f5;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    padding-top: 15px;
    padding-bottom: 45px;
    min-height: auto !important;
}

nav ul {
    padding: 0;
}

.right-side {
    text-align: right;
/*    height: 48px;*/
    float: right;
}

.left-side {
    float: left;
    text-align: left;
    margin-top: -10px;
}

.clear {
    clear: both;
}

nav ul li {
    display: inline-block;
    text-align: center;
}

nav li a,
select {
    display: block;
    min-width: 142px;
    height: 35px;
    color: #666;
}

nav ul li,
nav li a:hover,
nav li a:focus {
    color: #666;
}

a:hover,
a:focus {
    text-decoration: none;
}

nav li a:hover,
nav li a:focus {
    font-weight: bold;
}

.sign-up, 
.sign-in,
.sign-in:hover,
select,
.add-shop,
form input {
    padding: 6px 25px;
    border-radius: 5px;
    background-color: #fff;
/*    border: 1px solid #d3d3d3;*/
    border: 0.5px solid transparent;
}

select {
    padding: 0px 25px;
}

.sign-up {
    margin-left: 20px;
}

.add-shop {
    margin-right: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.sign-in {
    background-color: transparent;
    border: none;
}

/*
nav .row {
    margin-left: 105px;
    margin-right: 105px;
}
*/

@media screen and (max-width: 600px) {
    nav .row {
        margin-left: -15px;
        margin-right: -15px;
    }
}

.fa-plus {
    margin-left: -15px;
    margin-right: 14px;
}

.img-container {
    width: 125px;
    margin: 0 !important;
}

.img-container img {
    margin: auto;
}

.title {
    margin-bottom: 40px;
    font-size: 2.5em;
    color: #11998e;
}

input[type="search"]{
    display: block;
    width: 80%;
    margin: auto;
    font-size: 1.2em;
    color: #000;
    border-radius: 50px;
    padding: 10px 40px;
    padding-left: 45px;
    height: 48px;
    font-weight: bold;
}


input[type="search"]::placeholder {
    font-size: 15px;
    color: #cbcdcd;
}

.search {
    position: relative;
    margin-top: 5%;
    
    margin-right: 85px;
}

.search button {
    display: block;
    position: relative;
    left: 14%;
    top: 12%;
    background-color: transparent;
    border: 0;
}

@media screen and (max-width: 350px) {
    .search button {
        left: 18%;
    }
}

button .fa-search {
    font-size: 1.6em;
    color: #95989a;
}

.search input {
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
}

/*
.search button {
    position: relative;
    background: linear-gradient(to left, #11998e , #38ef7d);
    border: 0;
    color: #fff;
    padding: 10px 3vw;
    border-radius: 50px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    left: 7.9vw;
}
*/

.example {
    width: 80%;
    margin: auto;
}

.ex {
    margin-top: 10px;
    text-align: right;
    padding-right: 27px; /*40px*/
    color: #75c0bb;
}

.customize-search {
    margin-top: 30px;
}

form select,
form input,
.send-message form button {
    min-width: 120px;
    margin-left: 20px;
    color: #95989a;
    font-size: 1.2em;
    display: inline-block;
}

form select {
    margin-left: 0;
}

/*
form input[type="submit"],
.send-message form button {
    margin-left: 0;
    margin-right: 20px;
    background: linear-gradient(to left, #11998e , #38ef7d);
    color: #fff;
    min-width: 203px;
    //height: 73px;
    min-height: 55px;
}
*/

.towns {
    margin-left: 0;
    margin-right: 20px;
    min-width: 203px;
    height: 55px;
    padding: 7px 25px;
    
    font-weight: bold;
}

.arrow-bottom {
    margin-top: 45px;
}

.fa-chevron-down {
    display: block;
    color: #11998e;
}

/*
@media screen and (max-width: 1199px) {
    .left-side,
    .right-side {
        text-align: center;
    }
    
    .notification-icon,
    .profile,
    .messages {
        min-width: 142px;
        justify-content: center;
    }
}
*/

@media screen and (min-width: 294px) and (max-width: 430px) {
    
    .towns {
        margin-right: 0;
    }
}

@media screen and (min-width: 431px) and (max-width: 644px){
    
    .towns {
        margin-right: 0;
    }
}

@media screen and (max-width: 555px) {
    .add-shop,
    .sign-up{
        margin: 0;
    }
    
    .notification-icon {
        margin-left: 0;
    }
    
    .add-shop,
    .sign-in {
        margin-top: 10px;
    }
}

/*
@media screen and (max-width: 465px) {
    form input[type="submit"],
    form select {
        margin-left: 0;
        margin-right: 0;
    }
    
    form select {
        margin-bottom: 10px;
    }
}
*/

@media screen and (max-width: 480px) {
    
/*
    .search {
        margin-right: 10%;
    }
*/
    
/*
    .search button {
        padding:13.5px 5vw;
    }
*/
    
/*
    .search button {
        font-size: 1.5em;
    }
*/
}

.howItWorks {
    background-image: url('../imgs/Section%202.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #fff;
    padding-bottom: 120px;
    margin-bottom: -1px;
}

.howItWorks h1,
.app h1 {
   margin-top: 65px;
}

.tools {
    min-height: 400px;
    background-image: url('../imgs/How%20it%20work.svg');
    background-repeat: no-repeat;
    background-position: center left;
    margin-top: 70px;
}

@media screen and (max-width: 991px) {
    .tools {
        background-image: none;
    }
    
    .play-button {
        display: none;
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    .tools {
        background-image: url(../imgs/How%20it%20work.svg);
        min-height: 350px;
    }
}

@media screen and (max-width: 1199px) {
    .form-container select {
        margin-top: 20px !IMPORTANT;
        margin-left: 0 !IMPORTANT;
        
    }
}

/*
@media screen and (min-width: 1200px) and (max-width: 1370px) {
    
    .search button {
        left: -32.8vw;
    }
    
}
*/


.form-container select {
        margin-left: -66px;
        direction: rtl;
        margin-top: -4px;
}

@media screen and (min-width: 1200px) {
    .form-container .search,
    .form-container select {
        display: inline-block;
    }
    
    .form-container .search {
        width: 80%;
    }
    
    .form-container {
        display: flex;
        align-items: center;
    }
    
/*
    .search button {
        left: -27vw;
        top: -48px;
    }
*/
    
    .form-container {
        direction: ltr;
    }
    
    .form-container input {
        text-align: right;
    }
}




.tools h2:before {
    content: '|';
    font-size: 1.4em;
    font-weight: normal;
}

.tools p {
    margin-top: 1.5em;
    margin-right: 1.4em;
    font-size: 1.6em;
}

.tools ul {
    margin-top: 60px;
    margin-right: 15px;
}

.tools ul li{
    list-style: none;
    margin-bottom: 20px;
    font-size: 1.3em;
}

.tools .fa-check {
    margin-left: 10px;
}

.howItWorks {
    position: relative;
}

.play-button {
    width: 60px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.play-button {
    margin: auto;
}

.vertical hr {
    width: 50px;
    border-width: 3px;
    border-color: #fff;
}

.ads {
    background-color: #cacbd1;
}

.ads img {
    margin: auto;
}

.app {
    background-color: #f7f7f7;
    color: #11998e;
    padding-bottom: 20px;
}

.app hr {
    border-color: #11998e;
}

.send-message form {
    margin-top: 50px;
}

.send-message form input {
    border-radius: 5px;
    margin: 0;
    min-height: 55px;
}

.send-message form input[type="email"] {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    width: 64%;
}

.send-message form input[type="email"]::placeholder {
    color: #b2b2b2;
}

/*
.send-message form input[type="submit"],
.send-message form button {
    height: auto;
    min-width: 10px;
    text-align: left;
    position: relative;
    border-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin-right: -4px;
}
*/

.app .tools {
    background: none;
}

.stores {
    margin-top: 80px;
    text-align: center;
}

.stores {
    display: flex;
    justify-content: space-around;
}

.ios,
.android {
    width: 40%;
}


@media screen and (max-width:991px) {
    .app form,
    .app .tools h2 {
        text-align: center;
    }
}

@media screen and (max-width: 500px) {
    
    .stores {
        display: block;
    }
    
    .ios,
    .android {
        display: block;
        margin: auto;
        margin-bottom: 20px;
        width: 100%;
    }
    
    .ios {
        margin-bottom: 0;
    }
}

.samples-shops {
    color: red;
    padding-top: 20px;
    padding-bottom: 20px;
}

.owl-carousel {
    direction: ltr;
}

footer {
    background-image: url(../imgs/Footer.svg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #f7f7f7;
    color: #11998e;
}

.left-section,
.center-section,
.right-section {
    margin-top: 30px;
    float: left;
}

.contact-us {
    letter-spacing: .5px;
}

.follow-us {
    margin-top: 65px;
}


.social-icons ul {
    padding: 0;
    list-style: none;
    margin-top: 30px;
    direction: ltr;
    text-align: right;
}

.social-icons ul li {
    width: 50px;
    height: 50px;
    background-color: #11998e;
    color: #fff;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    margin-right: 10px;
}

.facebook:hover li {
    background-color: #3b5999;
}

.twitter:hover li {
    background-color: #55acee;
}

.instagram:hover li {
    background-color: #e4405f;
}

.googlePlus:hover li {
    background-color: #dd4b39;
}

.social-icons ul .twitter li {
    margin-right: 10px !important;
}

.phones,
.email,
.whatsApp {
    font-size: 20px;
}

.phones {
    display: flex;
    align-items: baseline;
    margin-top: 30px;
}

.text-color-grey {
    color: #666;
}

.whatsApp-icon {
    background-image: url('../imgs/Whats%20app.svg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
}

.fa-envelope,
.whatsApp-icon {
    margin-left: 15px;
}

.fa-phone {
    transform: rotate(240deg);
        margin-left: 25px;
}

.numbers,
.email {
    margin-bottom: 20px;
}

.numbers {
    display: inline-block;
}

.numbers span {
    display: block;
    direction: ltr;
}

.phones .sec {
    margin-right: 23px;
}

.whatsApp span {
    direction: ltr;
    display: inline-block;
}

.follow-us h2 {
    margin-top: 30px;
}

footer .send-message form input::placeholder {
    font-size: 16px;
}

footer .send-message form {
    max-width: 100%;
    margin-top: 30px;
}

.categories ul,
.right-section ul {
    margin-top: 20px;
    padding: 0;
    list-style: none;
    font-size: 17px;
}

.right-section .fa-check {
    color: #bfb9e3;
    margin-left: 10px;
}

footer ul li {
    margin-bottom: 10px;
}

footer ul li:last-child {
    margin-bottom: 0;
}

footer ul li a:hover,
footer ul li a:focus,
footer ul li a:active {
    color: #000;
}

.right-section .img-container {
    margin: 0;
}

.right-section h3 {
    margin-top: 49px;
}

.right-section ul {
    padding: 0;
    line-height: none;
}

.footer-bottom {
    color: #666;
    direction: ltr;
    padding-top: 20px;
    padding-bottom: 40px;
    padding-right: 89.500px;
    padding-left: 89.500px;
}

.copy-right {
    direction: ltr;
    text-align: right;
}

.copy-right p {
    display: inline-block;
    margin: 0;
}

.copy-right,
.conditions {
    display: block;
    float: left;
}

.conditions {
    text-align: right;
}

.conditions a {
    text-align: right;
    margin-left: 10px;
    font-size: 12px;
    color: #666;
}

.conditions a:last-of-type {
    margin-left: 0;
}

footer .container-fluid {
    background-color: #f7f7f7;
}

@media screen and (max-width: 1011px) {
    
    .copy-right {
        text-align: center;
    }
    
    .conditions {
        text-align: center;
        margin-top: 10px;
    }
}

@media screen and (max-width: 500px) {
    .right-section .img-container {
        margin: auto;
    }
}


@media screen and (min-width: 320px) and (max-width: 573px) {
    body h1 {
        font-size: 5.5vw !IMPORTANT;
    }
    
    body h2 {
        font-size: 5.1vw !IMPORTANT;
    }
    
    body h3 {
        font-size: 4.8vw !IMPORTANT;
    }
    
    .ex {
        text-align: center;
        padding-right: 0;
    }
    
    .copy-right p {
        font-size: 2.3vw;
    }
    
    .tools p {
        font-size: 4vw;
    }
    
    .tools ul {
        margin-top: 40px;
        font-size: 3.2vw;
        padding-right: 0;
        
    }
    
    .howItWorks {
        padding-bottom: 0;  
    }

}

.tools ul li {
    display: flex;
    align-items: center;
}





/*Start Of Search Page*/

header .right-side {
    min-height: 37px;
}



.notification-icon,
.messages {
    margin-left: 0;
    display: inline-flex;
    vertical-align: bottom;
}



@media screen and (max-width: 317px) {
    .notification-icon,
    .profile,
    .messages {
        margin-top: 10px
    } 
}

.profile {
    display: inline-flex;
    align-items: center;
}



.fa-angle-down {
    margin-left: 5px;
    font-weight: bold;
}


.form-container select {
    font-weight: bold;
}

/*End Of Search Page*/

.navigate {
    color: #666;
    padding-top: 10px;
    padding-bottom: 10px;
}

.navigate p {
    margin: 0;
}

a {
    color: #666;
}

a:focus,
a:hover {
    color: #000;
}

.order {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: left;
}

.companies {
    background-color: #f4f4f4;
}

.company {
    background-color: #fff;
/*    box-shadow: 1px 0px 5px 1px rgba(0, 0, 0, 0.1), -1px 2px 5px 1px rgba(0, 0, 0, 0.1);*/
    border-radius: 10px;
    overflow: hidden;
    border-left: 1px solid #dcdddd;
    margin-bottom: 15px;
}

.company:last-of-type {
    margin-bottom: 0;
}

.brand {
    display: inline-block;
    border-left: 2px solid #dcdddd;   
    padding: 0;
    background-color: #fbfbfb;
}

.brand-info,
.brand-gallery {
    display: inline-block;
}

.company .brand-name {
    font-size: 1.2em;
    padding-top: 11px;
    padding-bottom: 10px;
}

.brand-info {
    font-size: 13px;
    
}

.brand-info ul {
    list-style: none;
    padding: 0;
}

.brand-info ul {
    margin-top: 15px;
    margin-bottom: 0;
    color: #666;
    font-weight: bold;
}

.brand-info ul li {
    display: flex;
    align-items: center;
    margin-right: 5px;
}

.users {
    vertical-align: middle;
}

.brand-info ul li i {
    margin-left: 5px;
    color: #11998e;
    width: 30px;
    text-align: center;
    vertical-align: middle;
}

.brand-info ul li {
    margin-bottom: 15px;
}

.brand-info ul li:last-child {
    margin-bottom: 0;
}

.company .brand-name a {
    color: #11998e;
}

#opinions {
    display: block;
    height: 23px;
}

.right {
    float: right;
}

.people-opinion {
    float: left;
    position: relative;
}


.people-opinion .people-pics {
    display: inline-block;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    left: 0;
    z-index: 3;
}

.opinions-number {
    color: #11998e;
    font-size: 1.18em;
    margin-left: 40px;
}

.people-opinion .second {
    left: 7px;
    z-index: 2;
}

.people-opinion .third {
    left: 14px;
    z-index: 1;
}

.brand-gallery {
    margin-top: 15px;
    margin-bottom: 15px;
}

.product,
.product img {
    border-radius: 5px;
}

.s-row {
    margin-top: 10px;
}

.equal-companies {
    background-color: #f4f4f4;
    padding-bottom: 65px;
    padding-top: 45px;
}

.headerWord {
    color: #11998e;
    margin-bottom: 65px;
}

footer .headerWord {
    margin-bottom: 10px;
}

.hr-right hr {
    display: inline-block;
    width: 60px;
    border-width: 3px;
    border-color: #11998e;
    margin-top: 0;
    margin-bottom: 0;
}



.equal-companies .company {
    border-radius: 0;
    border: 1px solid #dcdddd;
}

.equal-companies .company .brand-info {
    direction: rtl;
    padding-bottom: 15px;
}

.send-message form input,
.send-message form button {
        border: 1px solid #d3d3d3;
}


input:focus,
select:focus,
.add-shop:focus,
button:focus,
.search button:focus,
.send-message form input:focus ,
.send-message form button:focus {
    border: 0.5px solid !IMPORTANT;
    border-color: #129C8D !IMPORTANT;
    outline: none;
}

.search button:focus {
    border: 0; 
}



@media screen and (max-width: 1199px) {
    .search {
        width: 100%;
        margin-right: 0;
    }
}

@media screen and (max-width: 991px) {
    .right-side .img-container {
        width: 115px;
        margin: auto;
        margin-bottom: 42px;
    }
    
    .left-side {
        text-align: center;
        margin-top: 13%
    }
}

.realtive {
    position: relative;
}

input[type="file"] {
    opacity: 0;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    width: 100%;
}

#navbar input[type="file"] {
    bottom: 50px;
}



.uploaderWords {
    color: #666;
}

.uploaderWords h3 {
    margin-bottom: 30px;
}

.cloud {
    color: #c5c7c7;
}

.fa-cloud-upload {
    font-size: 9em;
}

.item {
/*    min-height: 350px;*/
    max-height: 450px;
}

#uploader .item {
/*    min-height: 350px;*/
    height: 450px;
}

.owl-theme .owl-nav.disabled+.owl-dots {
    position: absolute;
    left: 47%;
    bottom: 5px;
}

.owl-theme .owl-dots .owl-dot span {
    width: 20px;
    height: 20px;
    margin: 5px 3px;    
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background: linear-gradient(to top, #11998e , #38ef7d);
}

#navbar {
    
}

#navbar .border {
    border-top: 5px solid #ddd;
    border-bottom: 5px solid #ddd;
    margin-bottom: 10px;
}

nav ul {
    margin: 0;
}

nav ul li {
    font-weight: bold;
    padding: 10px;
    font-size: 18px;
}

nav ul li a {
    padding: 8px 0;
    min-width: 48px;
    min-height: 42px;
}

nav ul li a:hover,
nav ul li a:focus {
    border-bottom: 3px solid #11998e;
    color: #11998e;
    padding-right: 0;
    padding-left: 0;
    padding-top: 8px;
    padding-bottom: 5px;
}

.brand-name {
    background-color: #fdfdfd;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.brand-name a {
    padding: 15px 0;
}

#navbar .owl-item {
/*    box-shadow: 2px 0px 8px 0px rgba(0, 0, 0, 0.1);*/
    margin-bottom: 20px;
}

#navbar .main {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #bdbfc0;
    
}

#navbar .item {
    min-height: auto;
    max-height: none;
/*    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);*/
}

#navbar .item p {
    font-size: 13px;   
}

/*
#navbar .item i {
    font-size: 5em;
    color: #fff;
}
*/

#navbar .item img {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#uploader .main {
    padding-top: 50px;
    padding-bottom: 50px;
}

.ion-android-more-vertical {
    color: #11998e;
}

.fa-ellipsis-v {
    position: absolute;
    right: -13px;
    color: #11998e;
    top: 5px;
    cursor: pointer;
    font-size: 2.5em;
}

#navbar input[type="file"] {
    margin: 0;
    padding: 0;
    min-width: auto;
}

.owl-carousel.owl-drag .owl-item {
    float: right;
}

.popup {
    position: absolute;
    right: 4px;
    left: 20px;
    background-color: #fff;
    border-radius: 5px;
    padding: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: right;
    box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.3);
    top: 4px;
    z-index: 99999;
}

.contain {
    position: relative;
}

.fa-caret-right {
    position: absolute;
    right: -9px;
    top: 2px;
    color: #fff;
    
}

.contain p {
    margin: 0;
}

.contain p:hover {
    color: #11998e;
}

.fa-arrow-circle-left {
    color: #11998e;
}

.owl-prev {
    position: absolute;
    bottom: 42%;
    font-size: 3em;
    left: -40px;
}

.slid-cates {
    margin-bottom: 30px;
    margin-top: 50px;
}

#navbar {
    background-color: #f5f5f5;
}

.border {
    background-color: #fff;
}

#navbar ul li .active {
    border-bottom: 3px solid #11998e;
    color: #11998e;
    padding-right: 0;
    padding-left: 0;
    padding-top: 8px;
    padding-bottom: 5px;
}

.slid-cates .active {
    color: #000;
}

.brand-name a {
    display: block;
    font-size: 1.3em;
}

#bigPopUp {
    background-color: #f5f5f5;
}

.wholeSection {
    margin-top: 10px;
    background-color: #fff;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
    min-height: 500px;
    margin-bottom: 20px;
}

.wholeSection {
    position: relative;
}

.bigArrow {
    position: absolute;
    top: -49px;
    right: 11%;
    color: #fff;
    font-size: 4em;
}

.mainSection {
    padding-top: 20px;
    padding-bottom: 40px;
}

.uploadProduct {
    position: relative;
    text-align: center;
    margin-top: 19px;
   /* border: 2px solid #ddd;
    border-radius: 5px;*/
    /*padding: 20px;*/
    /*margin-left: 40px;*/
}

.uploadProduct form {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.uploadProduct form input {
    cursor: pointer;
    margin: 0;
}

.uploadSec {
    color: #afafaf;
    padding: 20px;
    border: 2px solid #ddd;
    border-radius: 5px;
}

.fa-picture-o {
    font-size: 10em;
}

footer input[type="submit"] {
    background: linear-gradient(to left, #11998e , #38ef7d);
    color: #fff;
}
footer .subscribeBtn {
    background: -webkit-gradient(linear, right top, left top, from(#11998e) , to(#38ef7d));
    background: -webkit-linear-gradient(right, #11998e , #38ef7d);
    background: -o-linear-gradient(right, #11998e , #38ef7d);
    background: linear-gradient(to left, #11998e , #38ef7d);
    color: #fff;
    padding: 6px 25px;
    border: 0.5px solid transparent;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    font-size: 1.2em;
}
footer input[type="email"] {
    margin-left: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.profile {
    position: relative;
}

.profile-settings,
.messages-list {
    position: absolute;
    background-color: #fff;
    min-width: 250px;
    left: 21px;
    top: 60px;
    border-radius: 5px;
    z-index: 2000;
    overflow: hidden;
}

.profile .fa-caret-up,
.messages .fa-caret-up {
    position: absolute;
    bottom: -15px;
    font-size: 2em;
    color: #fff;
    right: 8px;
    
}

.profile-settings li {
    display: block;
    border-bottom: 2px solid #f6f6f6;
    text-align: right;
    padding: 0;
    font-size: 14px;
}

.profile .profile-settings li a:hover,
.profile .profile-settings li a:focus {
    background-color: #eee;
}

.profile-settings li:last-of-type {
    border: 0;
}

.profile-settings li a {
    padding-right: 20px;
    min-height: 38px;
}

.profile-settings li a i {
    padding-left: 20px;
    margin: 0;
    font-size: 1.4em;
    width: 37.61px;
    vertical-align: middle;
    color: #11998e;
}

.profile .profile-settings li a:hover,
.profile .profile-settings li a:focus {
    border-bottom: 0;
    padding-right: 20px;
}

.messages-list li a:hover,
.messages-list li a:focus {
    border-bottom: 0;
    padding: 8px 0;
}

.profile div,
.messages .slide-down {
    display: none;
}

header .left-side li{
    cursor: pointer;
}

.messages-list .img-container,
.messageClicked .img-container,
.message-header .img-container {
    border-radius: 50%;
    overflow: hidden;
    width: 60px;
    height: 60px;
}

.messages-list .img-container,
.messages-list .client-title {
    display: inline-block;
}
.messages-list .client-title{
    width: 75%;
}

.client-title h5,
.client-title h4 {
    margin: 0;
    margin-top: 5px;
    margin-right: 10px;
    font-weight: bold;
    color: #11998e;
}

.messages-list {
    width: 465px;
    z-index: 20000;
}

.messages-list li a {
    height: auto;
}

.messages-list li a p {
    display: inline-block;
    font-size: 12px;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 0;
}

.messages-list li {
    position: relative;
    display: block;
    text-align: right;
    border-bottom: 2px solid #f6f6f6;
}

.messages-list li:last-of-type {
    border: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.message-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.time {
    direction: ltr;
    text-align: left;
    position: absolute;
    left: 10px;
    bottom: 23px;
}

.client-title p {
    margin-right: 10px;
}

.more-messages p a {
    font-size: 12px;
    color: #5b73b5;
    min-height: auto;
}

.more-messages p a:hover,
.more-messages p a:focus {
    font-size: 12px;
    color: #11998e;
    min-height: auto;
    font-weight: normal;
}

.more-messages p {
    margin-bottom: 0;
    font-weight: normal;
}

.more-messages p:first-of-type {
    float: right;
}

.more-messages p:last-of-type {
    float: left;
}

.time,
.client-title p{
    color: #666 !IMPORTANT;
}

.messages-list li:hover,
.messages-list li:focus {
    background-color: #eee;   
}

.messages-list li:last-of-type:hover,
.messages-list li:last-of-type:focus {
    background-color: #fff;   
}

.messages-list  {
    left: -7px;
}

.messages .fa-caret-up {
    right: 19px;
}

.notification-icon .slide-down {
    display: none;
}

.notification-icon .fa-phone {
    transform: none;
    margin-left: 0;
}



.notification-icon .slide-down i {
    color: #11998e;
    font-size: 1.2em;
    margin-right: 5px;
}

.notification-icon .messages-list {
    left: -7px;
}

.notification-icon,
.messages {
    position: relative;
}

.notification-icon .fa-caret-up {
    color: #fff;
    position: absolute;
    color: #fff !IMPORTANT;
    /*font-size: 2em !IMPORTANT;*/
}

header li.more-messages {
    cursor: default;
}


@media screen and (max-width: 700px) {
    .left-side {
        position: relative;
    }
    
    .notification-icon,
    .messages,
    .profile {
        position: static;
    }

    .messages-list,
    .profile-settings {
        left: 0;
        right: 0;
        width: 100%
    }

}

@media screen and (max-width: 399px) {
    .time {
        bottom: 0px;
        left: 5px;
    }

    nav ul li {
        padding-left: 5px;
        padding-right: 5px;
    }
}
@media screen and (min-width: 701px) and (max-width: 991px) {
    .messages-list {
        left: 0;
        right: 0;
    }
}

.fa-caret-up {
    right: 2.5px !IMPORTANT;
    bottom: -26px !IMPORTANT;
    font-size: 1em !IMPORTANT;
    display: none;
}

.profile .fa-caret-up {
    right: -2px !IMPORTANT;
    bottom: -35px !IMPORTANT;
    font-size: 1.5em !IMPORTANT;
}

.fa-bell-o,
.fa-envelope-o,
.fa-angle-down {
    position: relative;
}


.uploadProduct {
    cursor: pointer;
}

.uploadSec input{
    margin: 0;
    padding: 0;
}

.addProduct .uploadSec {
    border-radius: 5px;
    height: 250px;
    width: 250px;
    margin: auto;
    text-align: center;
    background-color: #bdbfc0;
    color: #fff;
}

.addProduct input,
.addProduct select,
.addProduct textarea, 
#restInfo .boxInput input {
    border: 0;
    border: 0.5px solid #d3d3d3 ;
    color: #000;
    min-width: 120px;
    margin-left: 15px;
    font-size: 1.1em;
    padding: 15px 25px;
    border-radius: 5px;
    background-color: #fff;
    width: 40%;
}

.addProduct textarea {
    resize: none;
    width: 80%;
    vertical-align: middle;
    margin: 0;
    min-height: 150px;
}

.addProduct textarea:focus {
    border: 0.5px solid #11998e;
    outline: none;
}

.addProduct select {
    padding-top: 0;
    padding-bottom: 0;
    vertical-align: middle;
    height: 53px;
    color: #666;
}

.addProduct label {
    margin-left: 10px;
    width: 102px
}

.inputForm { 
    margin-bottom: 30px;

}

.inputForm span {
    display: block;
    margin-top: 5px;
    text-align: center;
    margin-right: 20px;
    color: #666;
}

.inputForm .optional {
    display: inline;
    margin-top: 0;
    margin-right: 0;
}

.inputForm label,
.inputForm .optional {
    color: #11998e;
    font-weight: bold;
    font-size: 1.1em;
    vertical-align: -webkit-baseline-middle;
}

.inputForm .textArea {
    margin-left: 45px;
    text-align: left;
    margin-right: 0;
}

input[name="percentage"] {
    width: 20%;
}

.properties .text-center label,
.sizes label{
    border: 1px solid #d3d3d3;
    padding: 10px 0;
    border-radius: 5px;
    text-align: center;
    width: 139.38px;
}

.checkboxStyle {
    background-color: #11998e;
    color: #fff;
}

input[type="checkbox"] {
    display: none;
}

.properties h4 {
    color: #11998e;
    font-weight: bold;
}

.colors,
.size {
    color: #666;
    margin-top: 15px;
    margin-bottom: 10px;
    font-weight: bold;
}

.addProduct {
    display: none;
    padding-top: 30px;
    padding-bottom: 30px;
}

.sale {
    display: inline;
}

@media screen and (max-width: 733px) {
    .sale {
        display: block;
        margin-top: 30px;
    }
    
    input[name="percentage"] {
        width: 40%;
    }
}

@media screen and (min-width: 991px) and (max-width: 1200px) {
    .sale {
        display: block;
        margin-top: 30px;
    }
    
    input[name="percentage"] {
        width: 40%;
    }
}

@media screen and (max-width: 650px) {
    .inputForm label {
        display: block;
    }
    
    .inputForm span {
        text-align: left;
        display: block;
        margin-left: 0;
        margin-right: 0;
    }
    
    .addProduct textarea,
    .inputForm input {
        width: 100%;
    }
    
    .addProduct select {
        width: 70%;
    }
    
    .inputForm .textArea {
        margin-right: 0;
        margin-left: 0;
        text-align: left;
    }
    
    .X {
        font-size: 1em;
        margin-left: 20px !IMPORTANT;
    }
}

.X {
    cursor: pointer;
    text-align: left;
    margin-left: 55px;
    color: #000;
}

.productPhotos form input,
.item form input {
    margin: 0;
    padding: 0;
}

.main .inputUploader {
    margin: auto;
}

.inputUploader {
    color: #fff;
    background-color: #bdbfc0;
    height: 300px;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
}

.inputUploader .fa-cloud-upload {
    font-size: 8em;
}

.productPhotos,
.anotherSides {
    position: relative;
    margin-bottom: 30px;
}

.anotherSides {
    display: inline-block;
    margin: 0;
    /*margin-right: 10px;*/
    height: 100px;
    margin-bottom: 25px;
}

.productPhotos input[type="file"],
.anotherSides input[type="file"] {
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 300px;
    margin: auto;
    cursor: pointer;
}

.anotherSides input[type="file"] {
    max-height: 100px;
    min-width: 100px;
    max-width: 100px;
    margin: 0;
}

.productPhotos .img,
.anotherSides .img {
    display: block;
    max-width: 300px;
    margin: auto;
    border-radius: 5px;
    overflow: hidden;
}

.generate {
    font-size: 0.8em;
    color: #95989a;
}

.code {
    font-size: 1.3em;
    color: #11998e;
    letter-spacing: 0.5px;
}

.generate span {
    color: #11998e;
    font-size: 1.5em;
}

.generate .fa {
    vertical-align: middle;
    color: #11998e;
    margin-right: 5px;
    cursor: pointer;
}

@media screen and (min-width: 1200px) {
    .sale label {
        margin-left: 7px;
    }
}

.anotherSides .inputUploader {
    height: 100px;
    max-width: 100px;
}

.anotherSides .img {
    max-width: 100px;
}

.anotherSides p {
    margin-bottom: 0;
    font-size: 1em;
}

.anotherSides .fa {
    font-size: 2em;
}

.centerMe {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin-top: 30px;
}

@media screen and (max-width: 991px) {
    .productPhotosUploader {
        margin-top: 30px;
    }
}

.saveChanges,
.saveAllChanges,
.editProfileSettings {
    float: left;
    display: block;
    background: linear-gradient(to left, #11998e , #38ef7d);
    color: #fff;
    font-size: 1.2em;
    font-weight: bold;
    border-radius: 5px;
    padding: 10px 30px;
    border: 0;
    margin-left: 10px;
    margin-top: 30px;
    height: 44px;
    width: 300px;
}



.editProfileSettings {
    float: none;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 30px;
}

.saveAllChanges {
    float: none;

}

@media screen and (max-width: 992px) {
    .reverseCols {
        display: flex;
        flex-direction: column-reverse;
    }

    .productForm {
        margin-top: 30px;
    }
}

.error {
    color: red;
}

.anProduct {
    position: relative;
    display: inline-block;
    /*overflow: hidden;*/
    border-radius: 5px;
    max-width: 262.5px;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.brand-name .img-container {
    border-radius: 50%;
    overflow: hidden;
    width: 40px;
    height: 40px;
    margin-right: 30px;
}

.anProduct .brand-name {
    padding-top: 0;
    padding-bottom: 0;
}

.anProduct .brand-name .shopName {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}

.brand-name span {
    color: #11998e;
    font-size: 1.1em;
}

.deleted {
    text-decoration: line-through;
    color: #a3a3a3;
    margin-right: 10px;
}

.nameOfProduct {
    margin: 10px 0;
    font-size: 1em;
}

.priceOfProduct {
    margin-top: 20px;
    margin-right: 10px;
}

.productInfo {
    padding-bottom: 10px;
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


.options {
    list-style: none;
    padding: 0;
    margin: 0;
}

.productPhoto {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    overflow: hidden;
}

.options li {
    padding: 8px 0;
    padding-right: 20px;
    min-height: 38px;
    border-bottom: 2px solid #f6f6f6;
}

.options li:last-of-type {
    border-bottom: 0;
}

.anProduct .popup {
    padding: 0;
    left: 8px;
    right: 9px;
    z-index: 1;
}

.anProduct .fa-caret-right {
    right: -8px;
    top: 4px;
    font-size: 2em;
    z-index: -1;
}

.options li {
    cursor: pointer;
}

.options li:hover,
.options li:focus {
    color: #11998e;
    background-color: #eee;
}

.options li:first-of-type {
     border-top-right-radius: 5px;
     border-top-left-radius: 5px;
}


.options li:last-of-type {
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

#swal2-content input {
    display: block;
    margin: auto;
    padding: 5px 10px;
    width: 250px;
    border: 0.5px solid #d3d3d3;
    border-radius: 5px;
}

#swal2-content label {
    margin-top: 10px;
    margin-bottom: 10px;
}

.inputForm .productStatus {
    text-align: center;
    font-size: 1em;
}

.messageContainer {
    position: relative;
}

.messageClicked {
    overflow: hidden;
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    width: 60%;
    margin: auto;
    background-color: #fff;
    border-radius: 5px;
    z-index: 1000;
    padding-bottom: 20px;
}

.messageClicked .fa-envelope {
    vertical-align: middle;
}

.text-color {
    color: #11998e;
}

.messageClicked .client-title p {
    margin-bottom: 0;
    margin-top: 10px;
}

/*.messageBox {
    margin-right: 20px;
}*/

.messageBox textarea {
    width: 100%;
    resize: none;
    border: 0.5px solid #d3d3d3;
    color: #000;
    font-size: 1.1em;
    padding: 15px 25px;
    border-radius: 5px;
    background-color: #fff;
    height: 120px;
    margin-top: 20px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
}

.messageBox textarea:focus {
    border: 0.5px solid #11998e;
    outline: none;
}

.buttons {
    text-align: left;
    margin-top: 20px;
}

.buttons button {
        display: inline-block;
    background: linear-gradient(to left, #11998e , #38ef7d);
    color: #fff;
    font-size: 1.2em;
    font-weight: bold;
    border-radius: 5px;
    padding: 6px 30px;
    border: 0.5px solid transparent;
}

.buttons button:first-of-type {
    background: #f2f2f3 !IMPORTANT;
    color: #95989a !IMPORTANT;
    border: 1px solid #95989a !IMPORTANT;
    box-shadow: none !IMPORTANT;
    margin-left: 10px;
}

.buttons button:hover,
.buttons button:focus {
    background: #11998e !IMPORTANT;
    border: 0.5px solid #11998e;
}

.buttons button:first-of-type:focus,
.buttons button:first-of-type:hover {
    background: #e2e2e2 !IMPORTANT;
}

.messageClicked .messageBox {
    position: relative;
}

.messageClicked .messageBox .fa {
    display: block;
    position: absolute;
    bottom: auto !IMPORTANT;
    top: 1px;
    right: 20px !IMPORTANT;
    font-size: 2em !IMPORTANT;
    color: #fff;
    text-shadow: -1px 0 #d3d3d3, 1px 0 #d3d3d3, 0 -1px #d3d3d3;
}

.messageContainer {
    display: none;
}

#map {
height: 400px;
}
#description {
font-size: 15px;
font-weight: 300;
}

#infowindow-content .title {
font-weight: bold;
}

#map #infowindow-content {
display: inline;
}

.pac-card {
margin: 10px 10px 0 0;
border-radius: 2px 0 0 2px;
box-sizing: border-box;
-moz-box-sizing: border-box;
outline: none;
box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
background-color: #fff;
font-family: 'Markazi Text', 'Adobe Arabic', serif;
}

.myMap {
position: absolute;
left: -100%;
width: 1%;
display: none;
}

#pac-container {
padding-bottom: 12px;

}

.pac-controls {
display: inline-block;
padding: 5px 11px;
}

.pac-controls label {
font-family: 'Markazi Text', 'Adobe Arabic', serif;
font-size: 13px;
font-weight: 300;
}

#pac-input:focus {
border: 0 !IMPORTANT;
}

#pac-input {
background-color: #fff;
font-family: 'Markazi Text', 'Adobe Arabic', serif;
font-size: 15px;
font-weight: 300;
padding: 0 11px 0 13px;
text-overflow: ellipsis;
width: 400px;
height: 25px;
border: 0;
}

#pac-input:focus {
border-color: #4d90fe;
}

#title {
color: #11998e;
background-color: #f5f5f5;
font-size: 25px;
font-weight: 500;
padding: 8px 12px;
}

.addresses .fa {
font-size: 20px;
width: 20px;
height: 20px;
vertical-align: bottom;
color: #11998e;
}

.addresses .marker {
padding-right: 4px;
}

.addresses ul {
padding: 0;
margin: 0;
}

.addresses ul li {
list-style: none;
margin-bottom: 20px;
}

.addresses ul li span {
margin-right: 5px;
}

#addAddress {
width: 450px;
display: none;
}

.places {
float: right;
}

.edit {
float: left;
}

#addAddress {
background-color: #fff;
position: absolute;
top: 10px;
left: 10px;
box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
padding-bottom: 20px;
}

#addAddress .title {
margin: 0;
background-color: #f5f5f5;
margin-bottom: 20px;
}

#infowindow-content {
  display: block;
  min-width: 100px;
  min-height: 100px;
}

#infowindow-content a {
color: #11998e;
border-bottom: 1px solid #11998e;
position: absolute;
left: 0;
top: 0;
display: none;
}

#infowindow-content p {
  margin-right: 15px;
  text-align: center;
}

#infowindow-content .title {
  margin: 0;
  font-size: 1.5em;
  margin-right: 15px;
  text-align: center;
}

#addAddress .title h3 {
margin: 0;
padding: 8px 12px;
height: 46px;
}

#addAddress .addresses a,
.addAnotherPhone div a {
margin-left: 10px;
color: #11998e;
border-bottom: 2px solid #11998e;
font-weight: bold;
}

#addAddress .addresses a:hover,
#addAddress .addresses a:focus,
.addAnotherPhone div a:hover,
.addAnotherPhone div a:focus {
border-bottom: 2px solid #666;
color: #666;
padding: 0;
}

.edit:focus {
outline: none;
}

.editPlace,
.addPlace,
.addMarker {
resize: none;
min-width: 400px;
min-height: 100px;
max-height: 200px;
margin: auto;
border-radius: 5px;
box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
padding: 15px 25px;
font-size: 1em;
border: 0;
}

@media screen and (max-width: 891px) {
#addAddress {
    position: relative;
    width: 100%;
    left: auto;
    top: auto;
    margin-top: 20px;
}
}

.img-uploader {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 1px solid #ddd;
  overflow: hidden;
  position: relative;
}

.absolute {
position: absolute;
left: 0;
right: 0;
top: 0;
bottom: 0;
overflow: hidden;
}

#restInfo {
    background-color: #f5f5f5;
    display: none;
}

#restInfo .fa-cloud-upload {
  font-size: 2em;
}

#restInfo input {
  margin: 0;
  padding: 0;
  width: auto;
}

#restInfo .photo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #666 !IMPORTANT;
  font-weight: bold;
  background-color: #fff;
}

#infowindow-content {
  height: 0;
  min-height: auto;
}

#restInfo {
  padding-top: 20px;
}

.companyBrand {
  float: right;
  display: flex;
  justify-content: flex-end;
}

.companyDesc,
.addons {
    margin-top: 48px;
}

.companyDesc textarea {
    float: right;
    resize: none;
    width: 70%;
    vertical-align: middle;
    margin: 0;
    min-height: 150px;
    border: 0;
    border: 0.5px solid #d3d3d3;
    color: #000;
    min-width: 120px;
    font-size: 1.1em;
    padding: 15px 25px;
    /*box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);*/
    background-color: #fff;
}

.companyDesc textarea:focus {
    border: 0.5px solid !IMPORTANT;
    border-color: #129C8D !IMPORTANT;
    outline: none;
}

.primary {
    color: #11998e;
}

.secondary {
    color: #666;
}

.workTime a {
    margin-right: 15px;
    font-size: 12px;
    border-bottom: 2px solid #11998e;
}

.workTime a:focus,
.workTime a:hover,
#addAddress .addresses a:focus,
#addAddress .addresses a:hover {
    border-bottom: 2px solid #666;
    color: #666;
}

#addAddress .addAnotherAddress div a:hover ~ i,
#addAddress .addAnotherAddress div a:focus ~ i {
    color: #666 !IMPORTANT;
}

.workTime i {
    margin-left: 5px;
    font-size: 1.5em;
    vertical-align: middle;
}

.dt {
    margin-top: 30px;
}

.fromTo {
    font-size: 16px;
    letter-spacing: .5px;
    line-height: 30px;
}

.fa-truck {
    transform: scalex(-1);
}

.delivery h4 {
    display: inline-block;
}

.delivery select {
    padding-top: 0;
    padding-bottom: 0;
    display: inline-block;
    margin-right: 5px;
    border-radius: 0;
    color: #000;
    width: 55px;
    padding-left: 0
}

.editDate select {
    margin: 10px auto;
    border: 0.5px solid #666;
    display: inline-block;
}

.editDate .fromTo select {
    display: inline-block;
}

.editDate .fromTo span {
    display: inline-block;
    width: 18px;
}

.box {
    width: 300px;
    margin: auto;
}

.boxInput i {
    font-size: 20px;
    margin-left: 10px;
    width: 20px;
    height: 20px;
}

.boxInput input {
    width: 70% !IMPORTANT;
}

.addAnotherPhone {
    margin-top: 20px;
}

.addAnotherPhone div a:hover ~ i,
.addAnotherPhone div a:focus ~ i {
    color: #666 !IMPORTANT;
}

.addAnotherPhone i  {
    vertical-align: middle;
}

.links {
    margin-top: 90px;
}

.links .boxInput {
    margin-top: 40px;
}

.customize {
    margin-right: 10px;
    margin-left: 10px;
}

@media screen and (max-width: 991px) {
 
    .settings {
        display: flex;
        flex-direction: column-reverse;
    }

    .companyBrand {
        justify-content: flex-start;
    }

    .companyDesc textarea {
        width: 100%;
    }

    .delivery + div {
        margin-bottom: 15px;
    }

    .dt .row {
        display: flex;
        flex-direction: column-reverse;
    }

.specificElments form {
	flex-direction: column;
	}
}

.newOffer,
.sale {
    display: none;
}


#restInfo {
    display: none;
}

.nameEmail h4 {
    color: #666;
}

.nameEmail p {
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 0;
    letter-spacing: .5px;
}

#profile_settings {
    background-color: #f5f5f5;
    padding-bottom: 30px;
}

.navigation {
    background-color: #fff;
}

.navigationText {
    margin: 0;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 18px;
}

.vendorProfile {
    margin-top: 30px;
}

#profile_settings .profile-settings {
    position: static;
    padding: 0;
    min-width: 10px;
    left: auto;
    right: auto;
    top: auto;
    bottom: auto;
}

#profile_settings .profile-settings li a {
    padding-top: 8px;
    padding-bottom: 8px;
    display: block;
    font-size: 1.1em;
    padding-right: 30px;
}

/*#profile_settings .profile-settings li a:focus {
    border-right: 2px solid #11998e;
    border-bottom: 2px solid #11998e;
    outline: none;
}*/

.focus {
    border-right: 2px solid #11998e;
    border-bottom: 2px solid #11998e;
    outline: none;
    color: #11998e;
}

#profile_settings .profile-settings li a i {
    margin-left: 20px;
}

.settings {
    margin-top: 40px;
}

.reviews {
    background-color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
}

.person-review {
    background-color: #fff;
    margin-top: 20px;
    border-radius: 5px;
    padding-top: 10px;
}

.person-review .message-header { 
    padding-right: 20px;
}

.reviewText {
    border-top: 2px solid #f6f6f6;
    color: #95989a;
    padding: 20px 0;
    padding-right: 90px;
    letter-spacing: .5px;
    font-size: 15px;
}

.timeEn {
    direction: ltr;
    text-align: right;
    margin-top: 10px;
    margin-bottom: 0;
}

.textBar .search {
    margin-top: 20px !IMPORTANT;
}

.textBar .search,
.textBar .search input {
    width: 100%;
    margin: 0;
}

.textBar .search input {
    padding-left: 0;
    height: 60px;
    padding-right: 65px;
    border: 1px solid #ccc;
    box-shadow: none;
}


.search .img-container {
    border-radius: 50%;
    overflow: hidden;
    width: 40px;
    height: 40px;
    position: absolute;
    right: 20px;
}

.inbox {
    display: none;
    background-color: #fff;
}

.inbox .reviews {
    border-bottom: 1px solid #ccc;
    padding: 10px 20px;
}

.allSettings {
    display: none;
}

.messages-box {
    border-left: 1px solid #ccc;
}

.messages-box ul {
    position: static;
    left: auto;
    right: auto;
    bottom: auto;
    top: auto;
    padding-right: 0;
    margin-top: 20px;
    width: auto;
}

.messages-box ul li .img-container {
    width: 50px;
    height: 50px;
}

.messages-box ul li {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
}

.messages-box ul li:hover,
.messages-box ul li:focus {
    border-radius: 0;
}

.messages-box .messages-list li:last-of-type {
    padding-top: 10px;
    padding-bottom: 10px;
}

.messages-box .time {
    bottom: 38px;
    font-weight: bold;
}

.messages-box .client-title h5 {
    color: #666 !IMPORTANT;
}

.messages-box .client-title p:first-of-type {
    color: #95989a !IMPORTANT;
}

.messages-box .messages-list {
    height: 296px;
    margin-top: 0;
    margin-bottom: 0;
    overflow-y: scroll;
}

.col-reverse {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.textBox {
    height: 248px;
    padding-top: 10px;
overflow: auto;
}

.msg textarea {
    width: 100%;
    resize: none;
    margin-right: -2px;
    margin-bottom: -33px;
    border-color: #ccc;
    outline: none;
}

.messenger {
    border: 1px solid #ccc;
    height: 46px;
    margin-top: 2px;
    margin-right: -3px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-left: 10px;
}

.messenger p {
    margin: 0;
}

.emojionearea {
    margin-top: 2px;
}

.emojionearea .emojionearea-editor {
    min-height: 3.1em;
}

.fa-thumbs-o-up {
    margin-left: 10px;
    color: #3fa2ff;
}

.messenger i {
    cursor: pointer;
    // overflow: hidden;
    margin-left: 10px;
}

.fa-camera {
    position: relative;
}

.emojionearea-editor {
    direction: rtl;
}

.box {
    position: relative;
}

.box .fa-camera {
    position: absolute;
    z-index: 100;
    right: 8px;
    bottom: 6px;
    font-size: 15px;
}

.allSettings {
    background-color: #fff;
}

.settingsNav {
    display: flex;
    justify-content: center;
}

.general,
.specific {
    border: 2px solid #ccc;
}

.general {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left-width: 1px;
    background-color: #11998e;
    color: #fff;
}

.specific {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-right-width: 1px;
}

.settingsNav h4 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.settingsNav {
    margin-top: 40px;
}

.attrsNow::before {
    content: '|';
    font-size: 1.4em;
    font-weight: normal;
    padding-left: 5px;
}

.attrs {
    margin-top: 50px;
}

.attrsVal label {
    border: 1px solid #d3d3d3;
    padding: 10px 0;
    border-radius: 5px;
    text-align: center;
    width: 139.38px;
}

.attrsVal .fa-ellipsis-v {
    position: static;
    left: auto;
    right: auto;
    top: auto;
    bottom: auto;
    vertical-align: middle;
    margin-left: 5px;
}

.attrsVal .popup {
    left: auto;
    right: 44px;
    top: 0;
}

.val {
    float: right;
}


.val label {
    background-color: #11998e;
    color: #fff;
}

.add-cates p {
    font-size: 18px;
    color: #9da1a3;
}

.add-cates p i {
    vertical-align: middle;
    cursor: pointer;
    margin-right: 5px;
}

#third-step2 {
    display: none;
}

.chooseCat label {
    border: 1px solid #d3d3d3;
    padding: 10px 73px;
    border-radius: 5px;
}

.bg-white {
    background-color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
}

#close2 {
    float: left;
}

.choose-kinds h3 {
    float: right;
}

.next-step a {
    display: inline-block;
    background: linear-gradient(to left, #11998e , #38ef7d);
    color: #fff;
    font-size: 1.2em;
    font-weight: bold;
    border-radius: 5px;
    padding: 10px 30px;
}

.next-step {
    float: left;
    margin-left: 13px;
    margin-top: 20px;
}

.add-cates {
    margin-bottom: 20px;
}

.specific,
.general {
    cursor: pointer;
}

.allSettings .specificElments {
    background-color: #fff !IMPORTANT; 
}

.specificElments .photo {
    margin: auto;
}

.specificElments .img-uploader {
    width: 120px;
    height: 120px;
}



#restInfo .box input {
    width: 100%;
    border: 0;
    color: #000;
    min-width: 120px;
    font-size: 1.2em;
    padding: 15px 25px;
    border-radius: 5px;
    background-color: #fff;
    margin-bottom: 10px;
    border: 0.5px solid #ddd;
}

.infoProfile {
    margin-top: 20px;
}

table {
    border-spacing: 5px;
    border-radius: 5px;
}

table,
th,
td {
    border: 1px solid #95989a;
    border-collapse: collapse;
}

th {
    width: 162px;
    background-color: #fbfbfb;
    padding: 15px;
    text-align: center;
}

td {
    min-width: 162px;
}

th:first-of-type {
    position: relative;
}

th:first-of-type .fa-times {
    position: absolute;
    right: 15px;
    top: 21px;
    cursor: pointer;
}

th:first-of-type .fa-times:hover {
    color: #fa3e3e;
}

table {
    margin-bottom: 15px;
}

th {
   font-size: 14px;
}

td {
    background-color: #fff;
    font-size: 14px;
}

td div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 10px;
}

td a {
    color: #5b73b5;
    margin-bottom: 10px;
}

td p {
    direction: ltr;
}

.rtl {
    direction: rtl
}

td a:hover,
td a:focus {
    color: #11998e;
}

.td .fa-lg {
    margin-left: 10px;
}

td:first-of-type div:first-of-type {
    flex-direction: row;
}

td:first-of-type div:first-of-type p {
    flex: 1;
    font-size: 21px;
    margin: 0;
}

th:first-of-type,
td:first-of-type {
    min-width: 200px;
}

.reviewsBox {
    overflow-x:auto;
}

.new {
    float: left;
    margin-right: 5px;
}

.fa-camera input[type="file"] {
	
	min-width: auto;
	margin: 0;
cursor: pointer;
padding: 0;
   
}

.fa-camera {
	cursor: pointer;
}

header nav ul li .fa img, header nav ul .profile img {
    width: 25px;
    height: 36px;
}

header nav ul .messages div::before,
header nav ul .notification-icon div::before {
    display: none;   
}

.profile .fa-angle-down {
color: #9c9fa1;
}

a:focus, a:hover {
    color: #11998e;
}


.owl-carousel {
    direction: ltr;
}


.owl-stage {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

.item {
    padding-left: 20px;
    padding-right: 20px;
    width: 180px;
    margin: auto;
}

input[type="file"],
input[type="file"]:hover {
cursor: pointer;
}

.emojionearea .emojionearea-picker .emojionearea-scroll-area .emojionearea-category-title {
    text-align: left;
}

#newmsgForum1 button {
display: none;
}

.inbox .focus {
	border: none;
	background-color: #eee;
}

.inbox .messages-list li:hover {
	background-color: #eee;
}

/* Users' Comments */

.message-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-right: 0;
}

.message-header .img-container {
    border-radius: 50%;
    overflow: hidden;
    width: 60px;
    height: 60px;
    margin-right: 0;
    margin-left: 0;
}

.messages-box .client-title h4 {
    color: #666;
    margin: 0;
    margin-top: 5px;
    margin-right: 10px;
    font-weight: bold;
}

.messages-box .client-title p:first-of-type {
    color: #95989a !IMPORTANT;
}

.client-title p {
    margin-right: 10px;
    margin-bottom: 0;
    margin-top: 10px;
    color: #666;
}

.timeEn {
    direction: ltr;
    text-align: right;
    margin-top: 10px;
    margin-bottom: 0;
}

.reviewText {
    border-top: 2px solid #f6f6f6;
    color: #95989a;
    padding: 20px 0;
    padding-right: 90px;
    letter-spacing: .5px;
    font-size: 15px;
}


.emojionearea {
margin-bottom: 20px;
}

.emojionearea-button{
right: auto !important;
left: -32px !important; 
top: 9px !important;
}

.send-message-chat{
background-color: #11998e;
color: #fff;
font-weight: bold;
padding: .5rem 1.5rem;
border: none;
border-radius: 5px;
}

.container-fluid{
margin-left: 45px !important;
margin-right: 45px !important;
}
.nav-drop-alter {
    width: 400px;
}
.nav-drop-alter .message {
    padding: 5px;
}
.nav-drop-alter .img-container {
    width: 50px;
    height: 50px;
}
.nav-drop-alter .time {
    bottom: 15px;
}
footer .subscribeBtn {
    background: -webkit-gradient(linear, right top, left top, from(#11998e) , to(#38ef7d));
    background: -webkit-linear-gradient(right, #11998e , #38ef7d);
    background: -o-linear-gradient(right, #11998e , #38ef7d);
    background: linear-gradient(to left, #11998e , #38ef7d);
    color: #fff !important;
    padding: 6px 25px;
    border: 0.5px solid transparent !important;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    font-size: 1.2em !important;
}
footer input[type="email"] {
    margin-left: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    width: auto;
    min-height: auto;
}
.msg {
    position: relative;
}
.msg .img-container {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
}
.msg-right .img-container {
    float: right;
}
.msg-left .img-container {
    float: left;
}
.msg .client-title {
    display: inline-block;
    margin-right: 10px;
    margin-left: 20px;
}
.msg-left .client-title {
    float: left;
}
.msg .client-title h5 {
    line-height: 35px;
}
.msg .msgtxt {
    padding: 5px 60px;
}