*,
*::before,
*::after {
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.text-bold {
    font-weight: bold;
}

html,
body {
    min-height: 100vh;
}


body {
    direction: rtl;
    margin: 0;
    padding: 0;
    font-family: 'Markazi Text', 'Adobe Arabic', serif;
    background-color: #f4f4f4;
}

footer{
    position: fixed;
    width:  100%;
    bottom:  0;
}

footer .send-message form input::placeholder {
    font-size: 16px;
}

footer .send-message form {
    max-width: 100%;
    margin-top: 30px;
}

.footer-bottom {
    color: #666;
    direction: ltr;
    padding-top: 20px;
    padding-bottom: 40px;
    
}

.copy-right {
    direction: ltr;
    text-align: right;
}

.copy-right p {
    display: inline-block;
    margin: 0;
}

.copy-right,
.conditions {
    display: block;
    float: left;
}

.conditions {
    text-align: right;
}

.conditions a {
    text-align: right;
    margin-left: 10px;
    font-size: 12px;
    color: #666;
}

.conditions a:last-of-type {
    margin-left: 0;
}

footer .container-fluid {
    background-color: #f7f7f7;
}

@media screen and (max-width: 1011px) {
    
    .copy-right {
        text-align: center;
    }
    
    .conditions {
        text-align: center;
        
    }
}

@media screen and (max-width: 500px) {
    .right-section .img-container {
        margin: auto;
    }
}


input:focus,
select:focus {
    border-color: #129C8D;
    outline: none;
}

@media screen and (min-width: 320px) and (max-width: 573px) {
    body h1 {
        font-size: 5.5vw !IMPORTANT;
    }
    
    body h2 {
        font-size: 5.1vw !IMPORTANT;
    }
    
    body h3 {
        font-size: 4.8vw !IMPORTANT;
    }

}


body {
    display: flex;
    flex-direction: column;
}

header,
section {
    flex: 1 0 auto;
}

header hr {
    margin-bottom: 0;
    border: 1px solid #eee;
    display: block;
}

@media screen and (min-width: 992px) {
     .footer-bottom {
        padding-right: 89.500px;
        padding-left: 89.500px;
    }
}

.img-container {
    margin-top: 30px;
    margin-bottom: 35px;
    width: 125px;
    margin-left: auto;
    margin-right: auto;
}

.align-form form {
    margin: auto;
    max-width: 100%;
}

.align-form label {
    display: block;
}

.align-form input[type=text],
.align-form input[type=password], 
.align-form input[type=email] {
    width: 100%;
    border: 0;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
    color: #000;
    min-width: 120px;
    color: #95989a;
    font-size: 1.2em;
    padding: 15px 25px;
    border-radius: 2px;
    background-color: #fff;
    margin-bottom: 10px;
}

button {
    display: block;
    margin: auto;
}

.checkBox label,
.checkBox input {
    display: inline-block;
}

.checkBox input {
    width: auto;
    float: right;
    padding: 0;
    margin: 0;
    min-width: auto;
    display: inline-block;
    vertical-align: middle;
    height: 25px;
    width: 20px;
    margin-left: 10px;
}

.clear {
    clear: both;
}

.form {
    max-width: 450px;
    margin: auto;
    margin-bottom: 7rem;
}

button {
    background: linear-gradient(to left, #11998e , #38ef7d);
    color: #fff;
    font-size: 1.2em;
    font-weight: bold;
    border-radius: 5px;
    padding: 10px 30px;
    border: 0;
    width: 100%;
    margin-top: 20px;
}

button:hover,
button:focus {
    background: #11998E;
}

input::placeholder {
    font-size: 18px;
    color: #cbcdcd;
}

input {
    color: #000 !IMPORTANT;
}

label {
    margin-right: 8px;
    font-size: 21px;
    margin-bottom: 10px;
}

.beConnected {
    font-size: 16px;
    letter-spacing: .5px;
    color: #666;
}

p a {
    color: #11998e;
    font-weight: bold;
}

p a:hover,
p a:focus {
    color: #000;
    text-decoration: none;
}

.box {
    height: 115px;
}

span {
    display: block;
}

.wrapper {
    min-height: 100vh;
}

#pass {
    position: relative;
}

#pass .img {
    margin-top: 5px;
    display: block;
    text-align: left;
    margin-left: 10px;
    position: absolute;
    width: 22px;
    width: 22px;
    height: 14px;
    left: 16px;
    overflow: hidden;
    top: 61px;
    left: 16px;
    top: 62px;
    margin: 0 !IMPORTANT;
    padding: 0;
    text-align: center;
    cursor: pointer;
}

#pass img {
    position: relative;
}

.forget-one,
.forget-two{
  width: 80%;
  margin-right: 10%;
  padding: 5%;
  padding-right: 15%;
  border: 3px solid #11998e;
}

.forget-one .form-control,
.forget-two .form-control{
width: 80%;
}

.forget-one .inlove,
.forget-two .inlove{
max-width: 200px;
margin-left: 20%;
}

.hr hr{
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 2px solid #d6d6d6;
    height: 0;
}


.facebook-login{
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.facebook-login p {
    margin: 0;
    width: 100%;
    background-color: #fff;
    padding: 11px;
    overflow: hidden;
    position: relative;
    text-align: center;
    border-radius: 5px;
    color: #ccc;
}

.facebook-login i {
    font-size: 5rem;
    color: #465993;
    position: absolute;
    top: -4px;
    /* bottom: 0; */
    background: #fff;
    /* left: 0px; */
    right: 0;
    z-index: 0;
    }