*,
*::before,
*::after {
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.text-bold {
    font-weight: bold;
}

html,
body {
    height: 100%;
}


body {
    direction: rtl;
    margin: 0;
    padding: 0;
    font-family: 'Cairo', sans-serif;
    background-color: #fafafa;
}

/*
.search {
    display: flex;
    align-items: center;
}

input[type="search"] {
    display: block;
    width: 80%;
    margin: auto;
    border: none;
    border-radius: 30px;
    padding: 20px 40px;
    padding-left: 51px;
    font-size: 1.5em;
    color: #000;
}

.fa-search {
    display: block;
    position: relative;
    left: 12.5%;
}*/


main {
    min-height: 100vh;
    background-image: url(../imgs/Mask%20Group%203.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding-bottom: 35px;
}

.img-container  {
    margin-top: 30px;
    margin-bottom: 35px;
    width: 125px;
}

.virtual-search {
    background-color: #fff;
    border-radius: 20px;
    width: 80%;
    margin: auto;
    border: none;
    border-radius: 50px;
    padding: 10px 40px;
    padding-left: 25px;
    height: 48px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
}

.virtual-search:hover {
    cursor: text;
}

.virtual-search p {
    float: right;
}

.virtual-search .fa-search {
    float: left;
}

.virtual-search p,
.virtual-search .fa-search {
    display: block;
    color: #cacccc;
    margin: 0;
    line-height: normal;
    letter-spacing: 0.7px;
}

.virtual-search .fa-search {
    color: #666;
}

.clear {
    clear: both;
}


/*Shop Style*/

.shop-box {
    margin-top: 70px;
}

.shop {
    position: relative;
    max-width: 360px;
    padding-bottom: 22px;
    margin: auto;
    background-color: #fff;
    margin-top: -35px;
    border-radius: 5px;
    box-shadow: 1px 0px 5px 1px rgba(0, 0, 0, 0.1),
                -1px 2px 5px 1px rgba(0, 0, 0, 0.1);
}

.tanda {
    position: absolute;
    top: 0;
    right: -16px;
    left: -15px;
}

.tanda img {
    display: block;
    margin: auto;
    width: 400px;
}

.timer-bg {
    padding-top: 100px;
}

.counter {
    font-size: 2em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    bottom: 66px;
    color: #fff;
    line-height: 1.3;
}

.timer-bg {
    margin-left: 20px;
    margin-right: 20px;
}

.counter .word {
    text-align: center;
    font-size: 14px;
    font-weight: normal;
}


.send-message form input[type="email"] {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    width: 62%;
    color: #000;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
}

.send-message form input[type="email"]::placeholder {
    color: #cacccc;
    font-weight: bold;
}

.send-message form input, button {
    border-radius: 5px;
    margin: 0;
    /* min-height: 62px; */
}

form input, button {
    padding-top: 15px;
    padding-bottom: 15px;
    min-width: 120px;
    margin-left: 20px;
    color: #95989a;
    display: inline-block;
    padding: 10px 25px;
    border-radius: 5px;
    background-color: #fff;
    border: 1px solid #d3d3d3;
}

.send-message form input[type="submit"], button {
    height: auto;
    min-width: 10px;
    text-align: left;
    position: relative;
    border-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin-right: -4px;
        background: linear-gradient(to left, #11998e , #38ef7d);
    color: #fff;
}

form {
    text-align: center;
    margin-top: 22px;
    margin-bottom: 0;
}

input:focus, select:focus {
    border-color: #129C8D;
    outline: none;
}

h4 {
    margin-right: 30px;
    color: #11998e;
}

a:hover,
a:focus,
a:active {
    text-decoration: none;
}

.social-icons ul {
    padding: 0;
    list-style: none;
    direction: ltr;
    text-align: center;
}

.social-icons ul li {
    width: 50px;
    height: 50px;
    background-color: #11998e;
    color: #fff;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    margin-right: 10px;
}

.social-icons {
    margin-top: 35px;
}

.social-icons ul {
    margin-top: 0;
    margin-bottom: 0;
}

.facebook:hover li {
    background-color: #3b5999;
}

.twitter:hover li {
    background-color: #55acee;
}

.instagram:hover li {
    background-color: #e4405f;
}

.googlePlus:hover li {
    background-color: #dd4b39;
}

.social-icons ul .twitter li {
    margin-right: 0;
}

@media screen and (max-width: 355px) {
    .days,
    .hours,
    .minuts,
    .seconds {
        font-size: 7vw;
    }
    
    .counter {
        bottom: 17vw;
    }
    
}

@media screen and (max-width: 480px) {
    .img-container {
        margin-left: auto;
        margin-right: auto;
    }
    
    .virtual-search .fa-search {
        font-size: 1.5em;
        line-height: 1.3;
        
    }
}