*,
*::before,
*::after {
    -o-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.text-bold {
    font-weight: bold;
}


@font-face {
    font-family: 'Adobe Arabic';
    src: url({{asset('admin/dist/fonts/Adobe-Arabic-Bold.otf')}});
    font-weight: 700;
}
* {
    font-family: 'Markazi Text', 'Adobe Arabic', serif !important;
    transition: all .05s linear;
}



html,
body {
    
}


body {
    direction: rtl;
    margin: 0;
    padding: 0;
    font-family: 'Markazi Text', 'Adobe Arabic', serif !important;
    background: #f1f1f1;
    background-color: #f1f1f1;
}

header {
    background-image: url(../imgs/Mask%20Group%203.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    padding-top: 15px;
    padding-bottom: 45px;
    min-height: 50vh;
}

nav ul {
    padding: 0;
}

.right-side {
    text-align: right;
/*    height: 48px;*/
    float: right;
}

.left-side {
    float: left;
    text-align: left;
    margin-top: -10px;
}

.clear {
    clear: both;
}

nav ul li {
    display: inline-block;
    text-align: center;
}

nav li a,
select {
    display: block;
    min-width: 142px;
    height: 35px;
    color: #666;
}

nav ul li,
nav li a:hover,
nav li a:focus {
    color: #666;
}

a:hover,
a:focus {
    text-decoration: none;
}

nav li a:hover,
nav li a:focus {
    font-weight: bold;
}

.sign-up, 
.sign-in,
.sign-in:hover,
select,
.add-shop,
form input {
    padding: 6px 25px;
    border-radius: 5px;
    background-color: #fff;
/*    border: 1px solid #d3d3d3;*/
    border: 0.5px solid transparent;
}

select {
    padding: 0px 25px;
}

.sign-up {
    margin-left: 20px;
}

.add-shop {
    margin-right: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    min-height: auto;
}
li.button-shop {
    margin-right: 105px;
}

.sign-in {
    background-color: transparent;
    border: none;
}

/*
nav .row {
    margin-left: 105px;
    margin-right: 105px;
}
*/

#blog .col-md-3.col-sm-6{
    float: right !important;
    padding: 0 3px;
}

#blog .thumbnail{
    padding: 0 !important;
    border: none;
}

#blog .thumbnail:hover{
	-webkit-box-shadow: 2px 2px 10px rgba(0,0,0,.1);
	        box-shadow: 2px 2px 10px rgba(0,0,0,.1);
	-webkit-transition: all ease-in-out-.2s;
	-o-transition: all ease-in-out-.2s;
	transition: all ease-in-out-.2s;

}

#blog .thumbnail .card-det{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    padding-bottom: 2rem;
    -webkit-transition: all ease-in-out-.2s;
	-o-transition: all ease-in-out-.2s;
    transition: all ease-in-out .2s;
}

#blog .thumbnail .card-det a{
    -ms-flex-item-align: end !important;
        align-self: flex-end !important;
   padding: .5rem;
   transition: all ease-in-out .2s;
   color: #11998E;
   }

#blog .thumbnail .card-det a:hover{
   background: #11998E;
   color: #fff;
   font-weight: 700;
   transition: all ease-in-out .2s;
}

.main-header {
    position: relative;
    max-height: 100px;
    z-index: 1030;
    background-image: url();
    padding-top: 0;
    padding-bottom: 0;
    min-height: auto;
}

input[disabled]{
    border: none;
    background: transparent;
    min-width: 0;
    padding: 0;
    margin: 0;
}

.productForm p.secondary{
    display: flex;
    border-bottom: 1px solid #eee;
    
}

input#productDes,
input#productCreate{
    width: 100% !important;
}

.getPhone span:last-of-type{
    display: none;
}


@media screen and (max-width: 600px) {
    nav .row {
        margin-left: -15px;
        margin-right: -15px;
    }
}

.fa-plus {
    margin-left: -15px;
    margin-right: 14px;
}

.img-container {
    width: 100px;
}

.img-container img {
    margin: auto;
}

.title {
    margin-bottom: 40px;
    font-size: 2.5em;
    color: #11998e;
}

input[type="search"]{
    display: block;
    width: 80%;
    margin: auto;
    font-size: 1.2em;
    color: #000;
    border-radius: 50px;
    padding: 10px 40px;
    padding-left: 45px;
    height: 48px;
    font-weight: bold;
}


input[type="search"]::-webkit-input-placeholder {
    font-size: 15px;
    color: #cbcdcd;
}


input[type="search"]:-ms-input-placeholder {
    font-size: 15px;
    color: #cbcdcd;
}


input[type="search"]::-ms-input-placeholder {
    font-size: 15px;
    color: #cbcdcd;
}


input[type="search"]::placeholder {
    font-size: 15px;
    color: #cbcdcd;
}

.search {
    position: relative;
    margin-top: 42px;
    width: 65%;
    margin-right: 85px;
}

.search button {
    display: block;
    position: relative;
    left: 14%;
    top: 0;
    background-color: transparent;
    border: 0;
}

@media screen and (max-width: 350px) {
    .search button {
        left: 18%;
    }
}

button .fa-search {
    font-size: 1.6em;
    color: #95989a;
}

.search input {
    -webkit-box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
}

/*
.search button {
    position: relative;
    background: linear-gradient(to left, #11998e , #38ef7d);
    border: 0;
    color: #fff;
    padding: 10px 3vw;
    border-radius: 50px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    left: 7.9vw;
}
*/

.example {
    width: 80%;
    margin: auto;
}

.ex {
    margin-top: 10px;
    text-align: right;
    padding-right: 27px; /*40px*/
    color: #75c0bb;
}

.customize-search {
    margin-top: 30px;
}

form select,
form input,
.send-message form button {
    min-width: 120px;
    margin-left: 20px;
    color: #95989a;
    font-size: 1.2em;
    display: inline-block;
}

form select {
    margin-left: 0;
}

/*
form input[type="submit"],
.send-message form button {
    margin-left: 0;
    margin-right: 20px;
    background: linear-gradient(to left, #11998e , #38ef7d);
    color: #fff;
    min-width: 203px;
    //height: 73px;
    min-height: 55px;
}
*/

.towns {
    margin-left: 0;
    margin-right: 20px;
    min-width: 140px;
    height: 35px !IMPORTANT;
    padding: 0px 20px;
    
    font-weight: bold;
}

.arrow-bottom {
    margin-top: 45px;
}

.fa-chevron-down {
    display: block;
    color: #11998e;
}

/*
@media screen and (max-width: 1199px) {
    .left-side,
    .right-side {
        text-align: center;
    }
    
    .notification-icon,
    .profile,
    .messages {
        min-width: 142px;
        justify-content: center;
    }
}
*/

@media screen and (min-width: 294px) and (max-width: 430px) {
    
    .towns {
        margin-right: 0;
    }
}

@media screen and (min-width: 431px) and (max-width: 644px){
    
    .towns {
        margin-right: 0;
    }
}

@media screen and (max-width: 555px) {
    .add-shop,
    .sign-up{
        margin: 0;
    }
    
    .notification-icon {
        margin-left: 0;
    }
    
    .add-shop,
    .sign-in {
        margin-top: 10px;
    }
}

/*
@media screen and (max-width: 465px) {
    form input[type="submit"],
    form select {
        margin-left: 0;
        margin-right: 0;
    }
    
    form select {
        margin-bottom: 10px;
    }
}
*/

@media screen and (max-width: 480px) {
    
/*
    .search {
        margin-right: 10%;
    }
*/
    
/*
    .search button {
        padding:13.5px 5vw;
    }
*/
    
/*
    .search button {
        font-size: 1.5em;
    }
*/
}

.howItWorks {
    background-image: url('../imgs/Section%202.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #fff;
    padding-bottom: 120px;
    margin-bottom: -1px;
}

.howItWorks h1,
.app h1 {
   margin-top: 65px;
}

.tools {
    min-height: 400px;
    background-image: url('../imgs/How%20it%20work.svg');
    background-repeat: no-repeat;
    background-position: center left;
    margin-top: 70px;
}

@media screen and (max-width: 991px) {
    .tools {
        background-image: none;
    }
    
    .play-button {
        display: none;
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    .tools {
        background-image: url(../imgs/How%20it%20work.svg);
        min-height: 350px;
    }
}

@media screen and (max-width: 1199px) {
    .form-container select {
        margin-top: 20px !IMPORTANT;
        margin-left: 0 !IMPORTANT;
        
    }
}

/*
@media screen and (min-width: 1200px) and (max-width: 1370px) {
    
    .search button {
        left: -32.8vw;
    }
    
}
*/


.form-container select {
        margin-left: 50px;
        direction: rtl;
        margin-top: -4px;
        width: 140px;
}

@media screen and (min-width: 1200px) {
    .form-container .search,
    .form-container select {
        display: inline-block;
    }
    
    .form-container .search {
        width: 80%;
    }
    
    .form-container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    
/*
    .search button {
        left: -27vw;
        top: -48px;
    }
*/
    
    .form-container {
        direction: ltr;
    }
    
    .form-container input {
        text-align: right;
    }
}




.tools h2:before {
    content: '|';
    font-size: 1.4em;
    font-weight: normal;
}

.tools p {
    margin-top: 1.5em;
    margin-right: 1.4em;
    font-size: 1.6em;
}

.tools ul {
    margin-top: 60px;
    margin-right: 15px;
}

.tools ul li{
    list-style: none;
    margin-bottom: 20px;
    font-size: 1.3em;
}

.tools .fa-check {
    margin-left: 10px;
}

.howItWorks {
    position: relative;
}

.play-button {
    width: 60px;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

.play-button {
    margin: auto;
}

.vertical hr {
    width: 50px;
    border-width: 3px;
    border-color: #fff;
}

.ads {
    background-color: #cacbd1;
    position: relative;
}

.ads img {
    margin: auto;
}

.app {
    background-color: #f7f7f7;
    color: #11998e;
    padding-bottom: 20px;
}

.app hr {
    border-color: #11998e;
}

.send-message form {
    margin-top: 50px;
}

.send-message form input {
    border-radius: 5px;
    margin: 0;
    min-height: 55px;
}

.send-message form input[type="email"] {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    width: 64%;
}

.send-message form input[type="email"]::-webkit-input-placeholder {
    color: #b2b2b2;
}

.send-message form input[type="email"]:-ms-input-placeholder {
    color: #b2b2b2;
}

.send-message form input[type="email"]::-ms-input-placeholder {
    color: #b2b2b2;
}

.send-message form input[type="email"]::placeholder {
    color: #b2b2b2;
}

/*
.send-message form input[type="submit"],
.send-message form button {
    height: auto;
    min-width: 10px;
    text-align: left;
    position: relative;
    border-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin-right: -4px;
}
*/

.app .tools {
    background: none;
}

.stores {
    margin-top: 80px;
    text-align: center;
}

.stores {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
}

.ios,
.android {
    width: 40%;
}


@media screen and (max-width:991px) {
    .app form,
    .app .tools h2 {
        text-align: center;
    }
}

@media screen and (max-width: 500px) {
    
    .stores {
        display: block;
    }
    
    .ios,
    .android {
        display: block;
        margin: auto;
        margin-bottom: 20px;
        width: 100%;
    }
    
    .ios {
        margin-bottom: 0;
    }
}

.samples-shops {
    color: red;
    padding-top: 20px;
    padding-bottom: 20px;
}

.owl-carousel {
    direction: ltr;
}

footer {
    background-image: url(../imgs/Footer.svg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #f7f7f7;
    color: #11998e;
}

.left-section,
.center-section,
.right-section {
    margin-top: 30px;
    float: left;
}
@media (min-width: 1200px) {
    .left-section {
        padding-right: 70px;
    }
}
.right-section {
    padding-right: 5px;
}
.right-section .img-container {
    margin-top: 15px !important;
    margin-bottom: 90px !important;
}
.contact-us {
    letter-spacing: .5px;
}

.follow-us {
    margin-top: 65px;
}


.social-icons ul {
    padding: 0;
    list-style: none;
    margin-top: 30px;
    direction: ltr;
    text-align: right;
}

.social-icons ul li {
    width: 50px;
    height: 50px;
    background-color: #11998e;
    color: #fff;
    border-radius: 50%;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
    margin-right: 10px;
}

.facebook:hover li {
    background-color: #3b5999;
}

.twitter:hover li {
    background-color: #55acee;
}

.instagram:hover li {
    background-color: #e4405f;
}

.googlePlus:hover li {
    background-color: #dd4b39;
}

.social-icons ul .twitter li {
    margin-right: 0;
}

.phones,
.email,
.whatsApp {
    font-size: 20px;
}

.phones {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    margin-top: 30px;
}

.text-color-grey {
    color: #666;
}

.whatsApp-icon {
    background-image: url('../imgs/Whats%20app.svg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
}

.fa-envelope,
.whatsApp-icon {
    margin-left: 15px;
}

.fa-phone {
    -webkit-transform: rotate(240deg);
        -ms-transform: rotate(240deg);
            transform: rotate(240deg);
        margin-left: 25px;
}

.numbers,
.email {
    margin-bottom: 20px;
}

.numbers {
    display: inline-block;
}

.numbers span {
    display: block;
    direction: ltr;
}

.phones .sec {
    margin-right: 23px;
}

.whatsApp span {
    direction: ltr;
    display: inline-block;
}

.follow-us h2 {
    margin-top: 30px;
}

footer .send-message form input::-webkit-input-placeholder {
    font-size: 16px;
}

footer .send-message form input:-ms-input-placeholder {
    font-size: 16px;
}

footer .send-message form input::-ms-input-placeholder {
    font-size: 16px;
}

footer .send-message form input::placeholder {
    font-size: 16px;
}

footer .send-message form {
    max-width: 100%;
    margin-top: 30px;
}

.categories ul,
.right-section ul {
    margin-top: 20px;
    padding: 0;
    list-style: none;
    font-size: 17px;
}

.right-section .fa-check {
    color: #bfb9e3;
    margin-left: 10px;
}

footer ul li {
    margin-bottom: 10px;
}

footer ul li:last-child {
    margin-bottom: 0;
}

footer ul li a:hover,
footer ul li a:focus,
footer ul li a:active {
    color: #000;
}

.right-section .img-container {
    margin: 0;
}

.right-section h3 {
    margin-top: 15px;
}

.right-section ul {
    padding: 0;
    line-height: none;
}

.footer-bottom {
    color: #666;
    direction: ltr;
    padding-top: 20px;
    padding-bottom: 40px;
    padding-right: 89.500px;
    padding-left: 89.500px;
}

.copy-right {
    direction: ltr;
    text-align: right;
}

.copy-right p {
    display: inline-block;
    margin: 0;
}

.copy-right,
.conditions {
    display: block;
    float: left;
}

.conditions {
    text-align: right;
}

.conditions a {
    text-align: right;
    margin-left: 10px;
    font-size: 12px;
    color: #666;
}

.conditions a:last-of-type {
    margin-left: 0;
}

footer .container-fluid {
    background-color: #f7f7f7;
}

@media screen and (max-width: 1011px) {
    
    .copy-right {
        text-align: center;
    }
    
    .conditions {
        text-align: center;
        margin-top: 10px;
    }
}

@media screen and (max-width: 500px) {
    .right-section .img-container {
        margin: auto;
    }
}


@media screen and (min-width: 320px) and (max-width: 573px) {
    body h1 {
        font-size: 5.5vw !IMPORTANT;
    }
    
    body h2 {
        font-size: 5.1vw !IMPORTANT;
    }
    
    body h3 {
        font-size: 4.8vw !IMPORTANT;
    }
    
    .ex {
        text-align: center;
        padding-right: 0;
    }
    
    .copy-right p {
        font-size: 2.3vw;
    }
    
    .tools p {
        font-size: 4vw;
    }
    
    .tools ul {
        margin-top: 40px;
        font-size: 3.2vw;
        padding-right: 0;
        
    }
    
    .howItWorks {
        padding-bottom: 0;  
    }

}

.tools ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}





/*Start Of Search Page*/

header .right-side {
    min-height: 37px;
}



.notification-icon,
.messages {
    margin-left: 10px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    vertical-align: bottom;
}



@media screen and (max-width: 317px) {
    .notification-icon,
    .profile,
    .messages {
        margin-top: 10px
    } 
}

.profile {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}



.fa-angle-down {
    margin-left: 5px;
    font-weight: bold;
}


.form-container select {
    font-weight: bold;
}

/*End Of Search Page*/

.navigate {
    color: #666;
    padding-top: 10px;
    padding-bottom: 10px;
}

.navigate p {
    margin: 0;
}

a {
    color: #666;
}

a:focus,
a:hover {
    color: #000;
}

.order {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: left;
}

.companies {
    background-color: #f4f4f4;
}

.company {
    background-color: #fff;
/*    box-shadow: 1px 0px 5px 1px rgba(0, 0, 0, 0.1), -1px 2px 5px 1px rgba(0, 0, 0, 0.1);*/
    border-radius: 10px;
    overflow: hidden;
    border-left: 1px solid #dcdddd;
    margin-bottom: 15px;
}

.company:last-of-type {
    margin-bottom: 0;
}

.brand {
    display: inline-block;
    border-left: 2px solid #dcdddd;   
    padding: 0;
    background-color: #fbfbfb;
    float: right;
}

.brand-info,
.brand-gallery {
    display: inline-block;
}

.company .brand-name {
    font-size: 1.2em;
    padding-top: 11px;
    padding-bottom: 10px;
}

.brand-info {
    font-size: 13px;
    float: right;
    
}

.brand-info ul {
    list-style: none;
    padding: 0;
}

.brand-info ul {
    margin-top: 15px;
    margin-bottom: 0;
    color: #666;
    font-weight: bold;
}

.brand-info ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 5px;
}


.users {
    vertical-align: middle;
}

.brand-info ul li i {
    margin-left: 5px;
    color: #11998e;
    width: 30px;
    text-align: center;
    vertical-align: middle;
}

.brand-info ul li {
    margin-bottom: 15px;
}

.brand-info ul li:last-child {
    margin-bottom: 0;
}

.company .brand-name a {
    color: #11998e;
}

#opinions {
    display: block;
    height: 23px;
}

.right {
    float: right;
}

.people-opinion {
    float: left;
    position: relative;
}


.people-opinion .people-pics {
    display: inline-block;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    left: 0;
    z-index: 3;
}

.opinions-number {
    color: #11998e;
    font-size: 1.18em;
    margin-left: 40px;
}

.people-opinion .second {
    left: 7px;
    z-index: 2;
}

.people-opinion .third {
    left: 14px;
    z-index: 1;
}

.brand-gallery {
    margin-top: 15px;
    margin-bottom: 15px;
}

.product,
.product img {
    border-radius: 5px;
}

.s-row {
    margin-top: 10px;
}

.equal-companies {
    background-color: #f4f4f4;
    padding-bottom: 10px;
    padding-top: 45px;
}

.headerWord {
    color: #11998e;
    margin-bottom: 65px;
}

footer .headerWord {
    margin-bottom: 10px;
}

.hr-right hr {
    display: inline-block;
    width: 60px;
    border-width: 3px;
    border-color: #11998e;
    margin-top: 0;
    margin-bottom: 0;
}



.equal-companies .company {
    border-radius: 0;
    border: 1px solid #dcdddd;
}

.equal-companies .company .brand-info {
    direction: rtl;
    padding-bottom: 15px;
}

.send-message form input,
.send-message form button {
        border: 1px solid #d3d3d3;
}


input:focus,
select:focus,
.add-shop:focus,
button:focus,
.search button:focus,
.send-message form input:focus ,
.send-message form button:focus,
.pagination a:focus {
    border: 0.5px solid !IMPORTANT;
    border-color: #129C8D !IMPORTANT;
    outline: none;
}

.search button:focus {
    border: 0; 
}



@media screen and (max-width: 1199px) {
    .search {
        width: 100%;
        margin-right: 0;
    }
}

@media screen and (max-width: 991px) {
    .right-side .img-container {
        width: 115px;
        margin: auto;
        margin-bottom: 42px;
    }
    
    .left-side {
        text-align: center;
    }
}

.realtive {
    position: relative;
}

input[type="file"] {
    opacity: 0;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    width: 100%;
}

#navbar input[type="file"] {
    bottom: 50px;
}



.uploaderWords {
    color: #666;
}

.uploaderWords h3 {
    margin-bottom: 30px;
}

.cloud {
    color: #c5c7c7;
}

.fa-cloud-upload {
    font-size: 9em;
}

.item {
/*    min-height: 350px;*/
    max-height: 450px;
}

#uploader .item {
/*    min-height: 350px;*/
    
}

.owl-theme .owl-nav.disabled+.owl-dots {
    position: absolute;
    left: 47%;
    bottom: 5px;
}

.owl-theme .owl-dots .owl-dot span {
    width: 20px;
    height: 20px;
    margin: 5px 3px;    
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background: #38ef7d;
}

#navbar {
    
}

#navbar .border {
    border-top: 5px solid #ddd;
    border-bottom: 5px solid #ddd;
    margin-bottom: 10px;
}

nav ul {
    margin: 0;
}

nav ul li {
    font-weight: bold;
    padding: 10px;
    font-size: 14px;
}

nav ul li a {
    padding: 8px 0;
    min-width: 48px;
    min-height: 42px;
}

#navbar ul li a:hover {
    border-bottom: 3px solid #11998e;
    color: #11998e;
    padding-right: 0;
    padding-left: 0;
    padding-top: 8px;
    padding-bottom: 5px;
}

.brand-name {
    background-color: #fdfdfd;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.brand-name a {
    padding: 15px 0;
}

#navbar .owl-item {
/*    box-shadow: 2px 0px 8px 0px rgba(0, 0, 0, 0.1);*/
    margin-bottom: 20px;
}

#navbar .main {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #bdbfc0;
    
}

#navbar .item {
    min-height: auto;
    max-height: none;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
}

#navbar .item p {
    font-size: 13px;   
}

/*
#navbar .item i {
    font-size: 5em;
    color: #fff;
}
*/

#navbar .item img {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#uploader .main {
    padding-top: 50px;
    padding-bottom: 50px;
}

.ion-android-more-vertical {
    color: #11998e;
}

.fa-ellipsis-v {
    position: absolute;
    right: -13px;
    color: #11998e;
    top: 5px;
    cursor: pointer;
    font-size: 2.5em;
}

#navbar input[type="file"] {
    margin: 0;
    padding: 0;
    min-width: auto;
}

.owl-carousel.owl-drag .owl-item {
    float: right;
}

.popup {
    position: absolute;
    right: 4px;
    left: 20px;
    background-color: #fff;
    border-radius: 5px;
    padding: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: right;
    -webkit-box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.3);
            box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.3);
    top: 4px;
    z-index: 99999;
}

.contain {
    position: relative;
}

.fa-caret-right {
    position: absolute;
    right: -9px;
    top: 2px;
    color: #fff;
    
}

.contain p {
    margin: 0;
}

.contain p:hover {
    color: #11998e;
}

.fa-arrow-circle-left {
    color: #11998e;
}

.slid-cates .owl-prev {
    position: absolute;
    bottom: 42%;
    font-size: 3em;
    left: -40px;
}

.slid-cates {
    margin-bottom: 30px;
    margin-top: 50px;
}

#navbar {
    background-color: #f5f5f5;
        position: relative;
}

.border {
    background-color: #fff;
}

#navbar ul li .active {
    border-bottom: 3px solid #11998e;
    color: #11998e;
    padding-right: 0;
    padding-left: 0;
    padding-top: 8px;
    padding-bottom: 5px;
}

.slid-cates .active {
    color: #11998e;
}

.brand-name a {
    display: block;
    font-size: 1.2em;
}

#bigPopUp {
    background-color: #f5f5f5;
}

.wholeSection {
    margin-top: 10px;
    background-color: #fff;
    -webkit-box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
    min-height: 500px;
    margin-bottom: 20px;
    position: relative;
}

.bigArrow {
    position: absolute;
    top: -49px;
    right: 11%;
    color: #fff;
    font-size: 4em;
}

.mainSection {
    padding-top: 20px;
    min-height: 500px;
    padding-bottom: 40px;
}

.uploadProduct {
    position: relative;
    text-align: center;
    margin-top: 19px;
   /* border: 2px solid #ddd;
    border-radius: 5px;*/
    /*padding: 20px;*/
    /*margin-left: 40px;*/
}

.uploadProduct form {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.uploadProduct form input {
    cursor: pointer;
    margin: 0;
}

.uploadSec {
    color: #afafaf;
    padding: 20px;
    border: 2px solid #ddd;
    border-radius: 5px;
}

.fa-picture-o {
    font-size: 10em;
}

footer input[type="submit"] {
    background: -webkit-gradient(linear, right top, left top, from(#11998e) , to(#38ef7d));
    background: -webkit-linear-gradient(right, #11998e , #38ef7d);
    background: -o-linear-gradient(right, #11998e , #38ef7d);
    background: linear-gradient(to left, #11998e , #38ef7d);
    color: #fff;
}
footer .subscribeBtn {
    background: -webkit-gradient(linear, right top, left top, from(#11998e) , to(#38ef7d));
    background: -webkit-linear-gradient(right, #11998e , #38ef7d);
    background: -o-linear-gradient(right, #11998e , #38ef7d);
    background: linear-gradient(to left, #11998e , #38ef7d);
    color: #fff;
    padding: 6px 25px;
    border: 0.5px solid transparent;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    font-size: 1.2em;
}
footer input[type="email"] {
    margin-left: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.profile {
    position: relative;
}

.profile-settings,
.messages-list {
    position: absolute;
    background-color: #fff;
    min-width: 250px;
    right: auto !important;
    left: 0 !important;
    top: 60px;
    border-radius: 5px;
    z-index: 2000;
    overflow: hidden;
}

.profile .fa-caret-up,
.messages .fa-caret-up {
    position: absolute;
    bottom: -15px;
    font-size: 2em;
    color: #fff;
    right: 8px;
    
}

.profile-settings li {
    display: block;
    border-bottom: 2px solid #f6f6f6;
    text-align: right;
    padding: 0;
    font-size: 14px;
}

.profile .profile-settings li a:hover,
.profile .profile-settings li a:focus {
    background-color: #eee;
}

.profile-settings li:last-of-type {
    border: 0;
}

.profile-settings li a {
    padding-right: 20px;
    min-height: 38px;
}

.profile-settings li a i {
    padding-left: 20px;
    margin: 0;
    font-size: 1.4em;
    width: 37.61px;
    vertical-align: middle;
    color: #11998e;
}

.profile .profile-settings li a:hover,
.profile .profile-settings li a:focus {
    border-bottom: 0;
    padding-right: 20px;
}

.messages-list li a:hover,
.messages-list li a:focus {
    border-bottom: 0;
    padding: 8px 0;
}

.profile div,
.messages .slide-down {
    display: none;
}

header .left-side li{
    cursor: pointer;
}

.messages-list .img-container,
.messageClicked .img-container,
.message-header .img-container {
    border-radius: 50%;
    overflow: hidden;
    width: 60px;
    height: 60px;
}

.messages-list .img-container,
.messages-list .client-title {
    display: inline-block;
}

.client-title h5,
.client-title h4 {
    margin: 0;
    margin-top: 5px;
    margin-right: 10px;
    font-weight: bold;
    color: #11998e;
}

.messages-list {
    width: 465px;
    z-index: 20000;
}

.messages-list li a {
    height: auto;
}

.messages-list li a p {
    display: inline-block;
    font-size: 12px;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 0;
}

.messages-list li {
    position: relative;
    display: block;
    text-align: right;
    border-bottom: 2px solid #f6f6f6;
}

.messages-list li:last-of-type {
    border: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.message-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.time {
    direction: ltr;
    text-align: left;
    position: absolute;
    left: 10px;
    bottom: 23px;
}

.client-title p {
    margin-right: 10px;
}

.more-messages p a {
    font-size: 12px;
    color: #5b73b5;
    min-height: auto;
}

.more-messages p a:hover,
.more-messages p a:focus {
    font-size: 12px;
    color: #11998e;
    min-height: auto;
    font-weight: normal;
}

.more-messages p {
    margin-bottom: 0;
    font-weight: normal;
}

.more-messages p:first-of-type {
    float: right;
}

.more-messages p:last-of-type {
    float: left;
}

.time,
.client-title p{
    color: #666 !IMPORTANT;
}

.messages-list li:hover,
.messages-list li:focus {
    background-color: #eee;   
}

.messages-list li:last-of-type:hover,
.messages-list li:last-of-type:focus {
    background-color: #fff;   
}

.messages-list  {
   left: -7px;
   right: auto !important;
}

.messages .fa-caret-up {
    right: 19px;
}

.notification-icon .slide-down {
    display: none;
}

.notification-icon .fa-phone {
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
    margin-left: 0;
}



.notification-icon .slide-down i {
    color: #11998e;
    font-size: 1.2em;
    margin-right: 5px;
}

.notification-icon .messages-list {
    left: -7px !important;
    right: auto !important;
}

.notification-icon,
.messages {
    position: relative;
}

.notification-icon .fa-caret-up {
    color: #fff;
    position: absolute;
    color: #fff !IMPORTANT;
    /*font-size: 2em !IMPORTANT;*/
}

header li.more-messages {
    cursor: default;
}



@media screen and (max-width: 700px) {
    .left-side {
        position: relative;
    }
    
    .notification-icon,
    .messages,
    .profile {
        position: static;
    }

    .messages-list,
    .profile-settings {
        left: 0;
        right: 0;
        width: 100%
    }

}

@media screen and (max-width: 399px) {
    .time {
        bottom: 0px;
        left: 5px;
    }

    nav ul li {
        padding-left: 5px;
        padding-right: 5px;
    }
}
@media screen and (min-width: 701px) and (max-width: 991px) {
    .messages-list {
        left: 0;
        right: 0;
    }
}

.fa-caret-up {
    right: 1.5px !IMPORTANT;
    bottom: -26px !IMPORTANT;
    font-size: 1em !IMPORTANT;
    display: none;
}

.profile .fa-caret-up {
    right: -2px !IMPORTANT;
    bottom: -35px !IMPORTANT;
    font-size: 1.5em !IMPORTANT;
}

.fa-bell-o,
.fa-envelope-o,
.fa-angle-down {
    position: relative;
}


.uploadProduct {
    cursor: pointer;
}

.uploadSec input{
    margin: 0;
    padding: 0;
}

.addProduct .uploadSec {
    border-radius: 5px;
    height: 250px;
    width: 250px;
    margin: auto;
    text-align: center;
    background-color: #bdbfc0;
    color: #fff;
}

.addProduct input,
.addProduct select,
.addProduct textarea, 
#restInfo .boxInput input {
    border: 0;
    border: 0.5px solid #d3d3d3 ;
    color: #000;
    min-width: 120px;
    margin-left: 15px;
    font-size: 1.1em;
    padding: 15px 25px;
    border-radius: 5px;
    background-color: #fff;
    width: 40%;
}

.addProduct textarea {
    resize: none;
    width: 80%;
    vertical-align: middle;
    margin: 0;
    min-height: 150px;
}

.addProduct textarea:focus {
    border: 0.5px solid #11998e;
    outline: none;
}

.addProduct select {
    padding-top: 0;
    padding-bottom: 0;
    vertical-align: middle;
    height: 53px;
    color: #666;
}

.addProduct label {
    margin-left: 10px;
    width: 102px
}

.inputForm { 
    margin-bottom: 30px;

}

.inputForm span {
    display: block;
    margin-top: 5px;
    text-align: center;
    margin-right: 20px;
    color: #666;
}

.inputForm .optional {
    display: inline;
    margin-top: 0;
    margin-right: 0;
}

.inputForm label,
.inputForm .optional {
    color: #11998e;
    font-weight: bold;
    font-size: 1.1em;
    vertical-align: -webkit-baseline-middle;
}

.inputForm .textArea {
    margin-left: 45px;
    text-align: left;
    margin-right: 0;
}

input[name="percentage"] {
    width: 20%;
}

.properties .text-center label,
.sizes label{
    border: 1px solid #d3d3d3;
    padding: 10px 0;
    border-radius: 5px;
    text-align: center;
    width: 139.38px;
}

.checkboxStyle {
    background-color: #11998e;
    color: #fff;
}

input[type="checkbox"] {
    display: none;
}

.properties h4 {
    color: #11998e;
    font-weight: bold;
}

.colors,
.size {
    color: #666;
    margin-top: 15px;
    margin-bottom: 10px;
    font-weight: bold;
}

.addProduct {
    display: none;
    padding-top: 30px;
    padding-bottom: 30px;
}

.sale {
    display: inline;
}

@media screen and (max-width: 733px) {
    .sale {
        display: block;
        margin-top: 30px;
    }
    
    input[name="percentage"] {
        width: 40%;
    }
}

@media screen and (min-width: 991px) and (max-width: 1200px) {
    .sale {
        display: block;
        margin-top: 30px;
    }
    
    input[name="percentage"] {
        width: 40%;
    }
}

@media screen and (max-width: 650px) {
    .inputForm label {
        display: block;
    }
    
    .inputForm span {
        text-align: left;
        display: block;
        margin-left: 0;
        margin-right: 0;
    }
    
    .addProduct textarea,
    .inputForm input {
        width: 100%;
    }
    
    .addProduct select {
        width: 70%;
    }
    
    .inputForm .textArea {
        margin-right: 0;
        margin-left: 0;
        text-align: left;
    }
    
    .X {
        font-size: 1em;
        margin-left: 20px !IMPORTANT;
    }
}

.X {
    cursor: pointer;
    text-align: left;
    margin-left: 55px;
    color: #000;
}

.productPhotos form input,
.item form input {
    margin: 0;
    padding: 0;
}

.main .inputUploader {
    margin: auto;
}

.inputUploader {
    color: #fff;
    background-color: #bdbfc0;
    height: 300px;
    max-width: 335px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-radius: 5px;
}

.inputUploader .fa-cloud-upload {
    font-size: 8em;
}

.productPhotos,
.anotherSides {
    position: relative;
    margin-bottom: 30px;
}

.anotherSides {
    display: inline-block;
    margin: 0;
    /*margin-right: 10px;*/
    height: 100px;
    margin-bottom: 25px;
}

.productPhotos input[type="file"],
.anotherSides input[type="file"] {
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 300px;
    margin: auto;
    cursor: pointer;
}

.anotherSides input[type="file"] {
    max-height: 100px;
    min-width: 100px;
    max-width: 100px;
    margin: 0;
}

.productPhotos .img,
.anotherSides .img {
    display: block;
    max-width: 300px;
    margin: auto;
    border-radius: 5px;
    overflow: hidden;
}

.generate {
    font-size: 0.8em;
    color: #95989a;
}

.code {
    font-size: 1.3em;
    color: #11998e;
    letter-spacing: 0.5px;
}

.generate span {
    color: #11998e;
    font-size: 1.5em;
}

.generate .fa {
    vertical-align: middle;
    color: #11998e;
    margin-right: 5px;
    cursor: pointer;
}

@media screen and (min-width: 1200px) {
    .sale label {
        margin-left: 7px;
    }
}

.anotherSides .inputUploader {
    height: 100px;
    max-width: 100px;
}

.anotherSides .img {
    max-width: 100px;
}

.anotherSides p {
    margin-bottom: 0;
    font-size: 1em;
}

.anotherSides .fa {
    font-size: 2em;
}

.centerMe {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-top: 30px;
}

@media screen and (max-width: 991px) {
    .productPhotosUploader {
        margin-top: 30px;
    }
}

.saveChanges,
.saveAllChanges,
.editProfileSettings {
    float: left;
    display: block;
    background: -webkit-gradient(linear, right top, left top, from(#11998e) , to(#38ef7d));
    background: -webkit-linear-gradient(right, #11998e , #38ef7d);
    background: -o-linear-gradient(right, #11998e , #38ef7d);
    background: linear-gradient(to left, #11998e , #38ef7d);
    color: #fff;
    font-size: 1.2em;
    font-weight: bold;
    border-radius: 5px;
    padding: 10px 30px;
    border: 0;
    margin-left: 10px;
    margin-top: 30px;
    height: 44px;
    width: 162.09px;
}

.editProfileSettings {
    float: none;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 30px;
}

.saveAllChanges {
    float: none;

}

@media screen and (max-width: 992px) {
    .reverseCols {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
            -ms-flex-direction: column-reverse;
                flex-direction: column-reverse;
    }

    .productForm {
        margin-top: 30px;
    }
}

.error {
    color: red;
}

.anProduct {
    margin-right: 20px;
    position: relative;
    display: inline-block;
    /* overflow: hidden; */
    border-radius: 5px;
    max-width: 262.5px;
    -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.brand-name .img-container {
    border-radius: 50%;
    overflow: hidden;
    width: 40px;
    height: 40px;
    margin-right: 30px;
}

.anProduct .brand-name {
    padding-top: 0;
    padding-bottom: 0;
}

.anProduct .brand-name .shopName {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 10px 0;
}

.brand-name span {
    color: #11998e;
    font-size: 1.1em;
}

.deleted {
    text-decoration: line-through;
    color: #a3a3a3;
    margin-right: 10px;
}

.nameOfProduct {
    margin: 10px 0;
    font-size: 1em;
}

.priceOfProduct {
    margin-top: 20px;
    margin-right: 10px;
}

.productInfo {
    padding-bottom: 10px;
}

.products {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
}


.options {
    list-style: none;
    padding: 0;
    margin: 0;
}

.productPhoto {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    overflow: hidden;
}

.options li {
    padding: 8px 0;
    padding-right: 20px;
    min-height: 38px;
    border-bottom: 2px solid #f6f6f6;
}

.options li:last-of-type {
    border-bottom: 0;
}

.anProduct .popup {
    padding: 0;
    left: 8px;
    right: 9px;
    z-index: 1;
}

.anProduct .fa-caret-right {
    right: -8px;
    top: 4px;
    font-size: 2em;
    z-index: -1;
}

.options li {
    cursor: pointer;
}

.options li:hover,
.options li:focus {
    color: #11998e;
    background-color: #eee;
}

.options li:first-of-type {
     border-top-right-radius: 5px;
     border-top-left-radius: 5px;
}


.options li:last-of-type {
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

#swal2-content input {
    display: block;
    margin: auto;
    padding: 5px 10px;
    width: 250px;
    border: 0.5px solid #d3d3d3;
    border-radius: 5px;
}

#swal2-content label {
    margin-top: 10px;
    margin-bottom: 10px;
}

.inputForm .productStatus {
    text-align: center;
    font-size: 1em;
}

.messageContainer {
    position: relative;
}

.messageClicked {
    overflow: hidden;
    position: absolute;
    top: 80px !important;
    left: 0;
    right: 0;
    width: 60%;
    margin: auto;
    background-color: #fff;
    border-radius: 5px;
    z-index: 1000;
    padding-bottom: 20px;
}

.messageClicked .fa-envelope {
    vertical-align: middle;
}

.text-color {
    color: #11998e;
}

.messageClicked .client-title p {
    margin-bottom: 0;
    margin-top: 10px;
}

/*.messageBox {
    margin-right: 20px;
}*/

.messageBox textarea {
    width: 100%;
    resize: none;
    border: 0.5px solid #d3d3d3;
    color: #000;
    font-size: 1.1em;
    padding: 15px 25px;
    border-radius: 5px;
    background-color: #fff;
    height: 120px;
    margin-top: 20px;
    -webkit-box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
}

.messageBox textarea:focus {
    border: 0.5px solid #11998e;
    outline: none;
}

.buttons {
    text-align: left;
    margin-top: 20px;
}

.buttons button {
        display: inline-block;
    background: -webkit-gradient(linear, right top, left top, from(#11998e) , to(#38ef7d));
    background: -webkit-linear-gradient(right, #11998e , #38ef7d);
    background: -o-linear-gradient(right, #11998e , #38ef7d);
    background: linear-gradient(to left, #11998e , #38ef7d);
    color: #fff;
    font-size: 1.2em;
    font-weight: bold;
    border-radius: 5px;
    padding: 6px 30px;
    border: 0.5px solid transparent;
}

.buttons button:first-of-type {
    background: #f2f2f3 !IMPORTANT;
    color: #95989a !IMPORTANT;
    border: 1px solid #95989a !IMPORTANT;
    -webkit-box-shadow: none !IMPORTANT;
            box-shadow: none !IMPORTANT;
    margin-left: 10px;
}

.buttons button:hover,
.buttons button:focus {
    background: #11998e !IMPORTANT;
    border: 0.5px solid #11998e;
}

.buttons button:first-of-type:focus,
.buttons button:first-of-type:hover {
    background: #e2e2e2 !IMPORTANT;
}

.messageClicked .messageBox {
    position: relative;
}

.messageClicked .messageBox .fa {
    display: block;
    position: absolute;
    bottom: auto !IMPORTANT;
    top: 1px;
    right: 20px !IMPORTANT;
    font-size: 2em !IMPORTANT;
    color: #fff;
    text-shadow: -1px 0 #d3d3d3, 1px 0 #d3d3d3, 0 -1px #d3d3d3;
}

.messageContainer {
    display: none;
}

#map {
height: 400px;
}
#description {
font-size: 15px;
font-weight: 300;
}

#infowindow-content .title {
font-weight: bold;
}

#map #infowindow-content {
display: inline;
}

.pac-card {
margin: 10px 10px 0 0;
border-radius: 2px 0 0 2px;
-webkit-box-sizing: border-box;
        box-sizing: border-box;
-moz-box-sizing: border-box;
outline: none;
-webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
background-color: #fff;
font-family: 'Markazi Text', 'Adobe Arabic', serif;
}

.myMap {
position: absolute;
left: -100%;
width: 1%;
display: none;
}

#pac-container {
padding-bottom: 12px;

}

.pac-controls {
display: inline-block;
padding: 5px 11px;
}

.pac-controls label {
font-family: 'Markazi Text', 'Adobe Arabic', serif;
font-size: 13px;
font-weight: 300;
}

#pac-input:focus {
border: 0 !IMPORTANT;
}

#pac-input {
background-color: #fff;
font-family: 'Markazi Text', 'Adobe Arabic', serif;
font-size: 15px;
font-weight: 300;
padding: 0 11px 0 13px;
-o-text-overflow: ellipsis;
   text-overflow: ellipsis;
width: 400px;
height: 25px;
border: 0;
}

#pac-input:focus {
border-color: #4d90fe;
}

#title {
color: #11998e;
background-color: #f5f5f5;
font-size: 25px;
font-weight: 500;
padding: 8px 12px;
}

.addresses .fa {
font-size: 20px;
width: 20px;
height: 20px;
vertical-align: bottom;
color: #11998e;
}

.addresses .marker {
padding-right: 4px;
}

.addresses ul {
padding: 0;
margin: 0;
}

.addresses ul li {
list-style: none;
margin-bottom: 20px;
}

.addresses ul li span {
margin-right: 5px;
}

#addAddress {
width: 300px;
display: none;
}

#addAddress .addresses {
    min-height: 250px;
    position: relative;
}
#addAddress .addresses .addAnotherAddress {
    position: absolute;
    bottom: 0;
    left: 0;
}

.places {
float: right;
}

.edit {
float: left;
}

#addAddress {
background-color: #fff;
position: absolute;
top: 10px;
left: 70px;
-webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
padding-bottom: 5px;
}

#addAddress .title {
margin: 0;
background-color: #f5f5f5;
margin-bottom: 20px;
}

#infowindow-content {
  display: block;
  min-width: 100px;
  min-height: 100px;
}

#infowindow-content a {
color: #11998e;
border-bottom: 1px solid #11998e;
position: absolute;
left: 0;
top: 0;
display: none;
}

#infowindow-content p {
  margin-right: 15px;
  text-align: center;
}

#infowindow-content .title {
  margin: 0;
  font-size: 1.5em;
  margin-right: 15px;
  text-align: center;
}

#addAddress .title h3 {
margin: 0;
padding: 8px 12px;
height: 46px;
}

#addAddress .addresses a,
.addAnotherPhone div a {
margin-left: 10px;
color: #11998e;
border-bottom: 2px solid #11998e;
font-weight: bold;
}

#addAddress .addresses a:hover,
#addAddress .addresses a:focus,
.addAnotherPhone div a:hover,
.addAnotherPhone div a:focus {
border-bottom: 2px solid #666;
color: #666;
padding: 0;
}

.edit:focus {
outline: none;
}

.editPlace,
.addPlace,
.addMarker {
resize: none;
min-width: 400px;
min-height: 100px;
max-height: 200px;
margin: auto;
border-radius: 5px;
-webkit-box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
        box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
padding: 15px 25px;
font-size: 1em;
border: 0;
}

@media screen and (max-width: 891px) {
#addAddress {
    position: relative;
    width: 100%;
    left: auto;
    top: auto;
    margin-top: 20px;
}
}

.img-uploader {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 1px solid #ddd;
  overflow: hidden;
  position: relative;
}

.absolute {
position: absolute;
left: 0;
right: 0;
top: 0;
bottom: 0;
overflow: hidden;
}

#restInfo {
    background-color: #f5f5f5;
    display: none;
}

#restInfo .fa-cloud-upload {
  font-size: 2em;
}

#restInfo input {
  margin: 0;
  padding: 0;
  width: auto;
}

#restInfo .photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #666 !IMPORTANT;
  font-weight: bold;
  background-color: #fff;
}

#infowindow-content {
  height: 0;
  min-height: auto;
}

#restInfo {
  padding-top: 20px;
}

.companyBrand {
  float: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.companyDesc,
.addons {
    margin-top: 48px;
}

.companyDesc textarea {
    float: right;
    resize: none;
    width: 70%;
    vertical-align: middle;
    margin: 0;
    min-height: 150px;
    border: 0;
    border: 0.5px solid #d3d3d3;
    color: #000;
    min-width: 120px;
    font-size: 1.1em;
    padding: 15px 25px;
    /*box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);*/
    background-color: #fff;
}

.companyDesc textarea:focus {
    border: 0.5px solid !IMPORTANT;
    border-color: #129C8D !IMPORTANT;
    outline: none;
}

.primary {
    color: #11998e;
}

.secondary {
    color: #666;
}

.workTime a {
    margin-right: 15px;
    font-size: 12px;
    border-bottom: 2px solid #11998e;
}

.workTime a:focus,
.workTime a:hover,
#addAddress .addresses a:focus,
#addAddress .addresses a:hover {
    border-bottom: 2px solid #666;
    color: #666;
}

#addAddress .addAnotherAddress div a:hover ~ i,
#addAddress .addAnotherAddress div a:focus ~ i {
    color: #666 !IMPORTANT;
}

.workTime i {
    margin-left: 5px;
    font-size: 1.5em;
    vertical-align: middle;
}

.dt {
    margin-top: 30px;
}

.fromTo {
    font-size: 16px;
    letter-spacing: .5px;
    line-height: 30px;
}

.fa-truck {
    -webkit-transform: scalex(-1);
        -ms-transform: scalex(-1);
            transform: scalex(-1);
}

.delivery h4 {
    display: inline-block;
}

.delivery select {
    padding-top: 0;
    padding-bottom: 0;
    display: inline-block;
    margin-right: 5px;
    border-radius: 0;
    color: #000;
    width: 55px;
    padding-left: 0
}

.editDate select {
    margin: 10px auto;
    border: 0.5px solid #666;
    display: inline-block;
}

.editDate .fromTo select {
    display: inline-block;
}

.editDate .fromTo span {
    display: inline-block;
    width: 18px;
}

.boxInput i {
    font-size: 20px;
    margin-left: 10px;
    width: 20px;
    height: 20px;
}

.boxInput input {
    width: 70% !IMPORTANT;
}

.addAnotherPhone {
    margin-top: 20px;
}

.addAnotherPhone div a:hover ~ i,
.addAnotherPhone div a:focus ~ i {
    color: #666 !IMPORTANT;
}

.addAnotherPhone i  {
    vertical-align: middle;
}

.links {
    margin-top: 90px;
}

.links .boxInput {
    margin-top: 40px;
}

.customize {
    margin-right: 10px;
    margin-left: 10px;
}

#addAddress .addresses a {
    color: #666;
    border-bottom-color: #666;
    float: left;
}

#addAddress .addresses a:hover {
    color: #11998e;
    border-bottom-color: #11998e;
}

@media screen and (max-width: 991px) {
    #restInfo form,
    .settings {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
            -ms-flex-direction: column-reverse;
                flex-direction: column-reverse;
    }

    .companyBrand {
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
    }

    .companyDesc textarea {
        width: 100%;
    }

    .delivery + div {
        margin-bottom: 15px;
    }

    .dt .row {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
            -ms-flex-direction: column-reverse;
                flex-direction: column-reverse;
    }
}

.newOffer,
.sale {
    display: none;
}


#restInfo {
    display: none;
}

.nameEmail h4 {
    color: #666;
}

.nameEmail p {
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 0;
    letter-spacing: .5px;
}

#profile_settings {
    background-color: #f5f5f5;
    padding-bottom: 30px;
    margin-bottom: 10px;
}

.navigation {
    background-color: #fff;
    font-size: 16px;
}

.navigationText {
    margin: 0;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 18px;
}

.vendorProfile {
    margin-top: 100px;
}

#profile_settings .profile-settings {
    position: static;
    padding: 0;
    min-width: 10px;
    left: auto;
    right: auto;
    top: auto;
    bottom: auto;
}

#profile_settings .profile-settings li a {
    padding-top: 8px;
    padding-bottom: 8px;
    display: block;
    font-size: 1.1em;
    padding-right: 30px;
}

/*#profile_settings .profile-settings li a:focus {
    border-right: 2px solid #11998e;
    border-bottom: 2px solid #11998e;
    outline: none;
}*/

.focus {
    border-right: 2px solid #11998e;
    border-bottom: 2px solid #11998e;
    outline: none;
}

#profile_settings .profile-settings li a i {
    margin-left: 20px;
}

.settings {
    margin-top: 40px;
    margin-left: 0;
}

.reviews {
    background-color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
}

.person-review {
    background-color: #fff;
    margin-top: 20px;
    border-radius: 5px;
    padding-top: 10px;
}

.person-review .message-header { 
    padding-right: 20px;
}

.reviewText {
    border-top: 2px solid #f6f6f6;
    color: #95989a;
    padding: 20px 0;
    padding-right: 90px;
    letter-spacing: .5px;
    font-size: 15px;
}

.timeEn {
    direction: ltr;
    text-align: right;
    margin-top: 10px;
    margin-bottom: 0;
}

.textBar .search {
    margin-top: 20px !IMPORTANT;
}

.textBar .search,
.textBar .search input {
    width: 100%;
    margin: 0;
}

.textBar .search input {
    padding-left: 0;
    height: 60px;
    padding-right: 65px;
    border: 0.5px solid #ccc;
    -webkit-box-shadow: none;
            box-shadow: none;
	border-radius: 50px;
}


.search .img-container {
    border-radius: 50%;
    overflow: hidden;
    width: 40px;
    height: 40px;
    position: absolute;
    right: 20px;
    top: 10px !important;
}

#profile_settings {
    display: none;
}

.inbox {
    display: none;
    background-color: #fff;
}

.inbox .reviews {
    border-bottom: 1px solid #ccc;
}

.messages-box {
    border-left: 1px solid #ccc;
}

.messages-box ul {
    position: static;
    left: auto;
    right: auto;
    bottom: auto;
    top: auto;
    padding-right: 0;
    margin-top: 20px;
    width: auto;
}

.messages-box ul li .img-container {
    width: 50px;
    height: 50px;
}

.messages-box ul li {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
}

.messages-box ul li:hover,
.messages-box ul li:focus {
    border-radius: 0;
}

.messages-box .messages-list li:last-of-type {
    padding-top: 10px;
    padding-bottom: 10px;
}

.messages-box .time {
    bottom: 38px;
    font-weight: bold;
}

.messages-box .client-title h5 {
    color: #666 !IMPORTANT;
}

.messages-box .client-title p:first-of-type {
    color: #95989a !IMPORTANT;
}

.messages-box .messages-list {
    height: 296px;
    margin-top: 0;
    margin-bottom: 0;
    overflow-y: auto;
}

.col-reverse {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
}

.textBox {
    height: 248px;
    padding-top: 10px;
overflow: auto;
}

.msg textarea {
    width: 100%;
    resize: none;
    margin-right: -2px;
    margin-bottom: -33px;
    border-color: #ccc;
    outline: none;
}

.messenger {
    border: 1px solid #ccc;
    height: 46px;
    margin-top: 2px;
    margin-right: -3px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.messenger p {
    margin: 0;
}

.emojionearea {
    margin-top: 2px;
}

.emojionearea .emojionearea-editor {
    min-height: 3.1em;
}

.fa-thumbs-o-up {
    margin-left: 22px;
    color: #3fa2ff;
}

.messenger i {
    cursor: pointer;
}

.fa-camera {
    position: relative;
}

.emojionearea-editor {
    direction: rtl;
}

.box {
    position: relative;
}

.box .fa-camera {
    position: absolute;
    z-index: 100;
    right: 8px;
    bottom: 6px;
    font-size: 15px;
}

.allSettings {
    background-color: #fff;
}

.settingsNav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.general,
.specific {
    border: 2px solid #ccc;
}

.general {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left-width: 1px;
    background-color: #11998e;
    color: #fff;
}

.specific {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-right-width: 1px;
}

.settingsNav h4 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.settingsNav {
    margin-top: 40px;
}

.attrsNow::before {
    content: '|';
    font-size: 1.4em;
    font-weight: normal;
    padding-left: 5px;
}

.attrs {
    margin-top: 50px;
}

.attrsVal label {
    border: 1px solid #d3d3d3;
    padding: 10px 0;
    border-radius: 5px;
    text-align: center;
    width: 139.38px;
}

.attrsVal .fa-ellipsis-v {
    position: static;
    left: auto;
    right: auto;
    top: auto;
    bottom: auto;
    vertical-align: middle;
    margin-left: 5px;
}

.attrsVal .popup {
    left: auto;
    right: 44px;
    top: 0;
}

.val {
    float: right;
}


.val label {
    background-color: #11998e;
    color: #fff;
}

.add-cates p {
    font-size: 18px;
    color: #9da1a3;
}

.add-cates p i {
    vertical-align: middle;
    cursor: pointer;
    margin-right: 5px;
}

#third-step2 {
    display: none;
}

.chooseCat label {
    border: 1px solid #d3d3d3;
    padding: 10px 73px;
    border-radius: 5px;
}

.bg-white {
    background-color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
}

#close2 {
    float: left;
}

.choose-kinds h3 {
    float: right;
}

.next-step a {
    display: inline-block;
    background: -webkit-gradient(linear, right top, left top, from(#11998e) , to(#38ef7d));
    background: -webkit-linear-gradient(right, #11998e , #38ef7d);
    background: -o-linear-gradient(right, #11998e , #38ef7d);
    background: linear-gradient(to left, #11998e , #38ef7d);
    color: #fff;
    font-size: 1.2em;
    font-weight: bold;
    border-radius: 5px;
    padding: 10px 30px;
}

.next-step {
    float: left;
    margin-left: 13px;
    margin-top: 20px;
}

.add-cates {
    margin-bottom: 20px;
}

.specific,
.general {
    cursor: pointer;
}

.allSettings .specificElments {
    background-color: #fff !IMPORTANT; 
}

.specificElments .photo {
    margin: auto;
}

.specificElments .img-uploader {
    width: 120px;
    height: 120px;
}

.box {
    width: 300px;
    margin: auto;
}

#restInfo .box input {
    width: 100%;
    border: 0;
    color: #000;
    min-width: 120px;
    font-size: 1.2em;
    padding: 15px 25px;
    border-radius: 5px;
    background-color: #fff;
    margin-bottom: 10px;
    border: 0.5px solid #ddd;
}

.infoProfile {
    margin-top: 20px;
}

.navigate {
    padding-top: 10px;
    padding-bottom: 10px;
    background: #fff;
}

.navigate p {
    margin: 0;
}

.primary {
    color: #11998e;
}

.spaceDown {
    margin-bottom: 30px;
}

.pagination {
    min-width: 100px;
    text-align: right;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 0;
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 0;
}

.pagination .fa-angle-right {
    margin-left: 10px;
}

.pagination .fa-angle-left {
    margin-right: 10px;
}

.pagination .fa {
    font-size: 1.4em;
    vertical-align: middle
}

.pagination .num {
    font-size: 1.2em;
    vertical-align: middle;
}

.pagination button,
.pagination a {
    background-color: #fff;
    border: 0;
    border-radius: 5px;
    color: #95989a;
    padding: 5px 20px;
    font-weight: bold;
    -webkit-box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
}

.pagination button:hover,
.pagination button:focus,
.pagination a:hover,
.pagination a:focus {
    background-color: #ddd;
}

.fasl {
    color: #95989a;
    font-weight: bold;
    font-size: 1.4em;
    margin-left: 5px;
    margin-right: 5px;
}

.pagination button,
.pagination div {
    display: inline-block;
}

.pagination .counter {
    margin-right: 5px;
    margin-left: 5px;
}

.moreInfo {
    margin-right: 22px;
}

.prices, .moreInfo {
    display: inline-block;
}

.moreInfo a {
    border: 1px solid #95989a;
    padding: 8px 23px;
    border-radius: 5px;
}

.moreInfo a:hover {
    background: #ddd;
}

#navbar ul li a {
    display: inline-block;
}

.coz {
    font-size: 1.3em;
}
.num {
    font-size: 13px;
}

.sales {
    position: relative;
}

.numNotify {
    position: absolute;
    top: 3px;
    left: -14px;
    background-color: #fa3e3e;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    color: #fff;
    font-size: 13px;
}

#navbar nav ul {
    float: right;
}

.buttonsActions {
    float: left !IMPORTANT;
    // padding-top: 6px;
    // padding-bottom: 6px;
    padding-top: 11px;
    padding-bottom: 11px;
}

.buttonsActions li {
    font-size: 20px;
    border-radius: 50%;
    border: 1px solid #11998e;
    width: 40px;
    height: 40px;
    text-align: center;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-right: 10px;
    margin-left: 10px;
}

.buttonsActions .fa-envelope {
    margin: 0;
}

.equal-companies .owl-theme .owl-nav [class*=owl-] {
    margin-left: 0;
    margin-right: 0;
    background: -webkit-gradient(linear, right top, left top, from(#11998e) , to(#38ef7d));
    background: -webkit-linear-gradient(right, #11998e , #38ef7d);
    background: -o-linear-gradient(right, #11998e , #38ef7d);
    background: linear-gradient(to left, #11998e , #38ef7d);
    font-size: 26px;
    margin: 5px;
    margin-right: 3px;
    margin-left: 6px;
    padding: 1.5px 12px;
}

.equal-companies  .owl-nav {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
}

.owl-carousel {
    position: relative;
}

.equal-companies  .owl-next {
    right: 0px;
}

.equal-companies  .owl-prev {
    left: 0px;
    font-size: 3em;
}

.equal-companies .owl-prev, .owl-next {
    position: absolute;
}

.equal-companies  .owl-theme .owl-nav {
    margin-top: 0;
    top: 47%;
}

.equal-companies .item .brand {
    border: 0;
}

.equal-companies .brand-name {
    font-size: 1.2em;
    padding-top: 11px;
    padding-bottom: 10px;
}

.equal-companies .brand-name a {
    padding: 0;
}

.equal-companies .owl-theme .owl-nav [class*=owl-]:hover {
    background: #11998E;
}

@media screen and (max-width: 480px) {
    .equal-companies  .owl-theme .owl-nav [class*=owl-] {
        font-size: 21px;
    }
}

@media screen and (max-width: 990px) {
    .pagination {
        text-align: center;
    }
}

.reviewsClients {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #f5f5f5;
    -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
    z-index: 10;
}

.reviewsClients h4 {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
}

.reviewsClients h4,
.reviewsClients a {
    display: inline-block;
}

.mainSection .ads {
    background-color: #f5f5f5;
}

.mainSection aside .ads img {
    margin-bottom: 20px;
}

.reviewExample {
    background-color: #fff;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 0.5px solid #ccc;
}

.reviewExample .time {
    margin: 0;
    margin-bottom: 2rem;
}

.reviewExample .client-title h5 {
    margin-top: 0;
}

.reviewExample .client {
    position: relative;
    margin-bottom: 20px;
}

.textReview {
    line-height: 28px;
    font-size: 15px;
    margin-right: 10px;
    color: #666;
}

.fa-long-arrow-left {
    margin-right: 7px;
}

.likes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 10px;
}

.likes .approveCounter {
    margin-right: 9px;
    margin-left: 10px;
}

.likes .fa-thumbs-o-up {
    color: #666;
    font-size: 20px;
    margin-left: 0;
    cursor: pointer;
    min-height: 22px;
    min-width: 22px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.likes .fa-thumbs-o-up:hover {
    color: #3fa2ff;
    font-size: 22px;
    -webkit-transition: font-size 0.5s;
    -o-transition: font-size 0.5s;
    transition: font-size 0.5s;
}

.anProduct {
    background-color: #fff;
}

.anProduct .brand-name {
    background-color: #fbfbfb;
}

.fa-bars {
    display: none;
}

@media screen and (max-width: 1145px) {
    .asideContainer {
        display: none;
        position: absolute;
        right: -300px;
        top: 39px;
        z-index: 9000;
    }

    .fa-bars {
        display: block;
        position: absolute;
        right: 0;
        top: 13px;
        font-size: 1.7em;
        margin-right: 15px;
        color: #666;
        z-index: 10000;
    }
}

.anProduct .productPhoto {
    position: relative;
}

.anProduct .productPhoto .salePercentage {
    position: absolute;
    top: -2px;
    right: -2px;
    border: 1px solid #ddd;
    padding: 8px 23px;
    border-radius: 5px;
    background-color: #fff;
    font-size: 16px;
}
#productsale .salePercentage {
    position: absolute;
    top: -2px;
    right: -2px;
    border: 1px solid #ddd;
    padding: 8px 23px;
    border-radius: 5px;
    background-color: #fff;
    font-size: 16px;
}

.getMe {
    background-color: #fff;
    padding: 15px 30px;
    width: 300px;
    margin: auto;
    -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
            box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    cursor: pointer;
}

.getMe:hover {
    background-color: #11998e;
    color: #fff;
}

#restInfo .social-icons ul {
    text-align: center;
    margin-bottom: 30px;
}

#restInfo {
    padding-bottom: 30px;
}

.holiday {
    color: #000;
    font-size: 16px;
}

.productForm div {
    margin-bottom: 40px;
}

.sizes span {
    text-align: center;
    border-radius: 5px;
    margin-right: 5px;
    margin-left: 5px;
    width: 30px;
    height: 30px;
    display: inline-block;
    padding: 5px;
    background-color: #353535;
    color: #fff;
}

.colors span {
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;
}

.who span {
    margin-right: 10px;
}

.who {
    margin-bottom: 20px;
    font-size: 16px;
}

.who i {
    width: 30px;
    height: 30px;
    text-align: center;
}

.publisher h4 {
    margin-bottom: 20px;
}

#mapp {
    height: 300px;
    max-width: 400px;
    border: 1px solid #ddd;
}

.reverseCols .getPhone {
    margin-top: 33px;
}

.productNum {
    color: #666 !IMPORTANT;
}

img[src="/image/SVG/uploadWhite.svg"], img[src="/image/SVG/upload.svg"] {
    width: 60px !IMPORTANT;
    height: 60px !IMPORTANT;
    margin-right: auto;
    margin-left: auto;
}

.brand-name input {
display: none;
}

.slid-cates .inputUploader, .slid-cates .img {
height: 150px;
overflow: hidden;
}

.photo .lead, .productPhotos .lead {
    margin-bottom: 7px;
}

.owl-prev, .owl-next {
    position: absolute;
    bottom: 45%;
    font-size: 3em;
    left: -40px;
    height: 39px;
    background-repeat: no-repeat;
    width: 36px;
}

.owl-next {
    left: auto;
    right: -40px;
}

.owl-next {
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
}

.redheart {
color: #fa3e3e;
}

.redborder {
border-color: #fa3e3e !IMPORTANT;
}

.favorMe:hover .fa-heart-o{
color: #fa3e3e;
}

.favorMe:hover {
border-color: #fa3e3e;
}

.cover .img img {
	-o-object-fit: cover;
	   object-fit: cover;
-o-object-position: center;
   object-position: center;
min-height: 300px;
}

.messageClicked .ion {
	margin-left: 15px;
vertical-align: middle;
}

header nav .img-container {
float: right;
}

header nav ul li .fa img, header nav ul .profile img {
    width: 25px;
    height: 36px;
display: inline-block;
}

header nav ul .messages div::before,
header nav ul .notification-icon div::before {
    display: none;   
}

.profile .fa-angle-down {
    color: #9c9fa1;
}

nav .left-side select {
font-size: 14px;
font-weight: normal;
}

.add-shop:focus {
border: 0.5px solid;
    border-color: #129C8D;
    outline: none;
}

nav li a:hover, nav li a:focus {
    font-weight: bold;
}

.form-container .search {
    height: 96px;
margin-right: 0;
}

.allNoti {
width: 100vw;
}

.form-container .search button {
    position: relative;
    background: -webkit-gradient(linear, right top, left top, from(#11998e) , to(#38ef7d));
    background: -webkit-linear-gradient(right, #11998e , #38ef7d);
    background: -o-linear-gradient(right, #11998e , #38ef7d);
    background: linear-gradient(to left, #11998e , #38ef7d);
    border: 0;
    color: #fff;
    padding: 10px 3vw;
    border-radius: 50px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
display: inline-block;

}

.form-container .search button i {
color: #fff !IMPORTANT;
font-size: 2em;
}

@media screen and (max-width: 1370px) and (min-width: 1200px){
.form-container .search button {
    left: -24.8vw;
}
}

@media screen and (min-width: 1200px){
.search button {
    left: -26vw;
    top: -48px;
}
}


.mainSection aside .ads img{
margin-bottom: 10px !important;
}



#mainFixedNav {
    position: relative;
    width: 100%;
    height: 75px;
    line-height: 60px;
    background: #eee;
    color: #666;
    padding-left: 20px;
    border-bottom: 5px solid #ddd;
        display: none;
}
#mainFixedNav.clone {
    position:fixed;
    top:-80px;
    left: 0;
    right: 0;
    z-index:999;
    transition:0.4s top cubic-bezier(.3,.73,.3,.74);
        display: block;
        overflow: hidden;
}
body.down #mainFixedNav.clone {
    top:0;
}


.mainFixedNav-container{

    display: flex;
    justify-content: end;
    flex-direction: row;
    height: 75px;

}



.mainFixedNav-logo{

    max-width: 6%;
    position: relative;
    top: 3px;
}






.mainFixedNav-regster{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
        list-style-type: none;

}


.mainFixedNav-regster li{

    width: 100px;
    height: 75px;
    justify-content: start;
    display: flex;
    align-items: center;

}


.mainFixedNav-search .form-container{

height: 75px;

}


.mainFixedNav-search .form-container .search{

height: 40px;
    margin-top: 0;
    display: flex;
        position: relative;
    left: 110px;

}



.mainFixedNav-search .form-container input{

height: 40px;
    margin: 0;
    font-size: 12px;
    border-radius: 5px;
    box-shadow: none;
    left: -25px;
        position: relative;

}



.mainFixedNav-search .form-container .search button{

    top: 0;
    height: 0;
        padding: 20px 37px;

}


.mainFixedNav-search .form-container .search button i{

position: absolute;
    top: 10px;
    font-size: 2rem;
        left: 28px;

}



.mainFixedNav-search .form-container select{

height: 40px !important;
    margin: 0px;
    display: flex;
    font-size: 12px;
        position: relative;
    z-index: 1;
    min-width: 130px;
    margin-left: 20px;

}


.mainFixedNav-search{

flex: 1;

}


.mainFixedNav-container input:focus,
.mainFixedNav-container select:focus{
    outline: 0;
    border: 0 !important;
}



.mainFixedNav-end ul{

    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
    height: 100%;
padding: 10px;

}



.mainFixedNav-end .add-shop{


    padding-top: 4px;
    padding-bottom: 4px;

}


.mainFixedNav-end .fa-plus {
    margin-left: 10px;
    margin-right: 10px;
    
    display: none;
}








@media only screen and (min-width: 320px) and (max-width: 479px){ 



.mainFixedNav-search input {
    padding-left: 10px !IMPORTANT;
    padding-right: 20px !important;
}



.mainFixedNav-logo {
    max-width: 16%;
    position: relative;
    top: 10px;
}


.mainFixedNav-search .form-container select {

    top: -23px;
    display: none;
}


.mainFixedNav-search .form-container .search {

    top: 17px;
        left: -25px;
}


.mainFixedNav-search .form-container .search button {
    top: 0;
    height: 40px;
    left: 0;
}


.mainFixedNav-search .form-container {
    height: 75px;
    width: 250px;
    margin-right: 15px;
}

.sign-up, .sign-in, .sign-in:hover, select, .add-shop, form input {
    padding: 5px 12px;
}



.mainFixedNav-end select {
    display: block;
    min-width: 100px;
    height: 35px;
    color: #666;
        display: none;
}


.mainFixedNav-search .form-container .search {
    top: 17px;
    left: 0;
}


.mainFixedNav-end ul {

    left: -46px;
        display: none;
}



.mainFixedNav-regster {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    display: none;
}


.mainFixedNav-end .add-shop {
    padding-top: 4px;
    padding-bottom: 4px;
    display: none;
}



}

@media only screen and (min-width: 480px) and (max-width: 767px){ 


.mainFixedNav-logo {
	max-width: 12%;
    position: relative;
    top: 3px;
}


.mainFixedNav-search .form-container select {

    top: -23px;
    display: none;
}


.mainFixedNav-search .form-container .search {

    top: 17px;
        left: -25px;
}


.mainFixedNav-search .form-container .search button {
    top: 0;
    height: 40px;
    left: 0;
}


.mainFixedNav-search .form-container {
    height: 75px;
    width: 225px;
    margin-right: 15px;
}

.sign-up, .sign-in, .sign-in:hover, select, .add-shop, form input {
    padding: 5px 12px;
}



.mainFixedNav-end select {
    display: block;
    min-width: 100px;
    height: 35px;
    color: #666;
        display: none;
}


.mainFixedNav-search .form-container .search {
    top: 17px;
    left: 0;
}


.mainFixedNav-end ul {

    left: -46px;
}



.mainFixedNav-regster {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    display: none;
}





}

@media only screen and (min-width: 768px) and (max-width: 991px){




.mainFixedNav-logo {
    max-width: 9%;
    position: relative;
    top: 3px;
}


.mainFixedNav-search .form-container select {

    top: -23px;
    display: none;
}


.mainFixedNav-search .form-container .search {

    top: 17px;
}


.mainFixedNav-search .form-container .search button {
    top: 0;
    height: 40px;
    left: 0;
}


.mainFixedNav-search .form-container {
    height: 75px;
    width: 180px;
}

.sign-up, .sign-in, .sign-in:hover, select, .add-shop, form input {
    padding: 5px 12px;
}



.mainFixedNav-end select {
    display: block;
    min-width: 100px;
    height: 35px;
    color: #666;
}


.mainFixedNav-search .form-container .search {
    top: 17px;
    left: 0;
}


.mainFixedNav-end ul {

    left: -46px;
}



}

@media only screen and (min-width: 992px) and (max-width: 1200px){

.mainFixedNav-search .form-container .search {

    left: 0;
}

.mainFixedNav-search .form-container .search button {
    left: 0;
}


.mainFixedNav-search .form-container select {

    display: none;
}

.mainFixedNav-search .form-container {
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}


}

.container-fluid{
margin-right: 45px !important;
margin-left: 45px !important;
}

#all-notification-wrapper{
background: #eee;
}

.messages-list.noti{
background: #eee;
width: 80%;
margin-right: 10%;

}

.messages-list.noti li{
padding: 1rem;
}

.messages-list.noti li:hover{
background: #fff;
}



#modal .addProduct {
    display: block !important;
    padding-top: 30px;
    padding-bottom: 30px;
}


.iziModal {

    max-width: 950px !important;
    height: 600px !important;
        z-index: 99999 !important;
}



.iziModal-overlay {

    z-index: 999 !important;
}


.iziModal .iziModal-content {
    zoom: 1;
    width: 100%;
    -webkit-overflow-scrolling: touch;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
}



#newproducts  .productPhoto {

max-width: 100%;
}
 
 
 #newproducts{
 
  width: 30%;
      position: relative;
      margin: 0 10px;
 
 }
 
 
 #newproducts .productInfo {
    padding-bottom: 10px;
    background-color: #FFF;
    height: 125px;
}
 
 
 #newproducts .nameOfProduct {
    margin: 0px 0;
    font-size: 1em;
}




.trigger{

    position: absolute;
    top: 25%;
    left: 40%;
    opacity: 0;
    transition: opacity .35s ease;
    background: transparent;
    border: 0;
}



.trigger i{

color: #18a88b;
    font-size: 3rem;
    padding: 10px;
    background-color: #FFF;
    border-radius: 50%;


}



#newproducts:hover .trigger{
        opacity: 1;
}



#newproducts img{
	opacity: 1;
        transition: opacity .35s ease;
}


#newproducts:hover img{
        opacity: .8;
}






#modal .sizes span{

display: block;
    margin-top: 14px;
    width: auto;
    height: auto;

}


#modal input{

border: 0;

}


#modal .secondary span{

    margin: auto;

}


#modal .view-prouduct{

    text-align: center;

}



#modal .view-prouduct a{

    
width: 200px;
    display: block;
    margin: auto;
        background: -webkit-gradient(linear, right top, left top, from(#11998e) , to(#38ef7d));
    background: -webkit-linear-gradient(right, #11998e , #38ef7d);
    background: -o-linear-gradient(right, #11998e , #38ef7d);
    background: linear-gradient(to left, #11998e , #38ef7d);
    color: #FFF;
    padding: 12px;
    border-radius: 30px;
    font-size: 20px;
    float: left;
}



#modal .productForm div {
    margin-bottom: 30px;
}



#modal .close{

float: left;
    opacity: 1;
    font-size: 25px;
    position: relative;
    top: -15px;
    left: 15px;

}


#modal .close a{

    color: #000;
    opacity: 1;

}



.product-info-page{


padding: 10px 50px;
    display: block;
        overflow: hidden;

}



.products {

    float: right;
        width: 100%;
}





.prouduct-container:hover .trigger{
        opacity: 1;
}



.prouduct-container img{
	opacity: 1;
        transition: opacity .35s ease;
}


.prouduct-container:hover img{
        opacity: .8;
}



#catproducts > div {
    width: 22%;
    margin: 15px 15px;
    position: relative;

}


#catproducts > div:hover .trigger{
opacity: 1

}



#productsale{

width: 100%

}


#productsale > div {
    width: 30%;
    margin: 15px 15px;
    position: relative;

}


#productsale > div:hover .trigger{
opacity: 1

}


.sale .products{

    float: none;
    width: auto;
    background: #fff;

}


.newOffer .products{

    float: none;
    width: auto;

}


.product-info-page input{

background-color: transparent;
    border: 0;

}


.sizes span{

    background-color: #ededee;
    padding: 10px;
    display: inline-block;
    color: #000;

}


#modal .sizes h4{
    font-weight: bold;
    background-color: #129b8e;
    color: #FFF;
    padding: 10px;
    border-radius: 5px;
}



.att-main{

display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

}


@media only screen and (min-width: 480px) and (max-width: 767px){ 

#catproducts > div {
    width: 100%;
    margin: 10px 15px;
    position: relative;
}


#productsale > div {
    width: 100%;
    margin: 10px 15px;
    position: relative;
}


#newproducts {
    width: 100%;
    position: relative;
    margin: 10px 10px;
}



}

.a2a_menu{
    width: 600px !important;
}

.a2a_i[href*="linkedin"],
.a2a_i[href*="reddit"],
.a2a_i[href*="pinterest"],
.a2a_i[href*="tumblr"]{
    display: none !important;
}
    
    
    
.product-info-page input {
    background-color: transparent;
    border: 0;
    width: 10%;
    padding: 15px 0;
    min-width: 30px;
}


.product-info-page .generate span {

    margin-left: 20px;
}


.product-info-page .productForm p.secondary {
    display: block;
}
.prod-header {
    min-height: fit-content;
    padding-bottom: 20px;
    background-color: #ECECEC;
}
.form-container .search {
    margin-top: 0;
    height: 50px;
}
#uploader .owl-carousel .owl-stage-outer {
    height: 360px;
}
.messages-list.noti li:hover {
    background: #fafafa;
}
ul.messages-list.noti.noti-other {
    position: relative;
    margin: 3% auto;
    width: 90%;
    padding: 0;
    top: 0;
    background: #eee !important;
    border: 3px solid #eee !important;
}
.img-container-noti {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
}
li.message.message-other {
    padding: 10px 50px;
}
a.sign-up, a.sign-in {
    min-height: auto;
    padding: 6px 30px;
    margin-left: 0;
}
header {
    background-color: #ececec;
}
.anProduct:hover {
    box-shadow: 0 0 30px rgba(0,0,0,.2);
    transition: all .1s linear;
}
.anProduct {
    transition: all .1s linear;
}
.slid-cates .item:hover .cat-image {
    width: 150%;
    max-width: 150%;
    margin-left: -25%;
    transition: all .1s linear;
}
.cat-image {
    transition: all .1s linear;
}
.buttonsActions {
    padding-top: 11px;
    padding-bottom: 11px;
}
.buttonsActions li {
    font-size: 20px;
    border-radius: 50%;
    border: 1px solid #11998e;
    width: 40px;
    height: 40px;
    text-align: center;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-right: 10px;
    margin-left: 10px;
}



.attribute-title h5{



}


.attribute-props ul{

display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: start;
    padding: 0;


}


.attribute-sub-props ul{

	display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-between;
    padding: 0;

}


.attribute-props ul li{

    padding: 8px 0;
    text-align: center;
    color: #11998e;
    border-radius: 5px;
    font-weight: bold;

}


.attribute-sub-props ul li{

    padding: 8px 0;
    background-color: #149f8d;
    min-width: 75px;
    text-align: center;
    color: #FFF;
    border-radius: 5px;

}

.productPhotos .img, .anotherSides .img {

    max-width: 400px;

}


#modal .productForm div {
    margin-bottom: 0px;
}


.attribute-type{

    margin: 20px 0px !important;

}


#modal .view-prouduct {
    text-align: center;
    margin-top: 30px;
}


.anotherSides {

    width: 22%;
}
.nav-drop-alter {
    width: 400px !important;
}
.nav-drop-alter .message, .nav-drop-alter .more-messages {
    padding: 5px !important;
    background: #fff !important;
}
.nav-drop-alter .message:hover {
    background: #eee !important;
}
.nav-drop-alter .img-container {
    width: 50px !important;
    height: 50px !important;
}
.nav-drop-alter .time {
    bottom: 15px !important;
}



.text {
display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}




.text img {
    max-width: 15%
}

#preloader {
background: #f6f6f6;
    left: 0;
    top: 0;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 9999;
}


#preloader,
.text {
    overflow: hidden
}


.pace-running{

overflow: hidden

}



#modal-contact{

height: 400px !important;
    z-index: 1000 !important;

}


.contact-us-modal{

    padding-top: 6%;

}


.contact-us-exit{

    background: #f2f2f3 !IMPORTANT;
    color: #95989a !IMPORTANT;
    border: 1px solid #95989a !IMPORTANT;
    -webkit-box-shadow: none !IMPORTANT;
    box-shadow: none !IMPORTANT;
    margin-left: 10px;

}


.product-info-page .attribute-container h4{

color: #11998e;
    font-weight: bold;

}


.product-info-page .attribute-container .sub-att{

padding-top: 20px;
    color: #11998e;
    border-radius: 5px;
    font-weight: bold;
    margin: 0;

}


.product-info-page .attribute-container .sub-sub-att{

padding: 8px 0;
    background-color: #149f8d;
    min-width: 75px;
    text-align: center;
    color: #FFF;
    border-radius: 5px;
    margin-top: 15px;

}


.product-info-page .no-margin{

margin: 0;
    display: inline-block
}


.twitter-typeahead{
display: block !important;
    position: relative;
    width: 100%;

}


.twitter-typeahead .tt-menu{

position: absolute;
    top: 100%;
    left: 15% !important;
    z-index: 100;
    right: 0px;
    width: 72%;
    background-color: #FFF;
    margin-top: 5px;
    border-radius: 30px;
        -webkit-box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
    padding: 10px 25px;
    text-align: right;
    font-weight: bold;
    max-height: 300px;
  overflow-y: auto;


}


.twitter-typeahead .tt-menu .tt-dataset .tt-suggestion{

    padding: 10px 0;
    border-bottom: 1px solid #EEE;

}


.twitter-typeahead .tt-menu .tt-dataset .tt-suggestion:hover{

opacity: .8;
    cursor: pointer;
    color: #139d8d;

}


.mainFixedNav-search .form-container .user-search{



    left: -33vw;


}


#productsale {
    width: 32%;
    position: relative;
}

#productsale > div {
    width: 90%;
    margin: 15px 15px;
    position: relative;
}


#productNm{

width: 100%;
}


#productDes{
    width: 100%;
    overflow: hidden;
    max-height: 150px;
    height: auto;
    background: transparent;
    border: 0;

}


.attribute-sub-props{

    display: inline-block;
}


.attribute-type{

   display: inline-block;
       margin: 20px 3px !important;
}

.shopName{
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
#newcommentForum {
    background: #fff;
    padding: 10px;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 5px 1px rgba(0,0,0,.1);
    box-shadow: 0 0 5px 1px rgba(0,0,0,.1);
}
.notiEmailName .img-container {
    margin-right: 50px;
    margin-left: 10px;
}
.notiEmailName .client-title {
    margin-top: 35px;
}
.item.selected {
    border: 2px solid #38ef7d;
    box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.3) !important;
}
.prod-header .right-side .img-container {
    width: 85px;
}
.vendorProfile.container-fluid {
    margin-left: 0;
    margin-right: 0;
}
footer .subscribeBtn {
    background: -webkit-gradient(linear, right top, left top, from(#11998e) , to(#38ef7d));
    background: -webkit-linear-gradient(right, #11998e , #38ef7d);
    background: -o-linear-gradient(right, #11998e , #38ef7d);
    background: linear-gradient(to left, #11998e , #38ef7d);
    color: #fff !important;
    padding: 6px 25px;
    border: 0.5px solid transparent !important;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    font-size: 1.2em !important;
    min-width: auto !important;
    margin-right: -5px;
}
footer input[type="email"] {
    margin-left: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}
#subsForum input[type="email"] {
    width: auto;
    min-height: auto;
    padding: 6px 25px;
    background-color: #fff;
}
#productPr {
    width: 50px;
    padding: 15px 5px;
    min-width: auto;
}
.egp-span {
    margin-right: 0 !important;
}
@media (min-width: 1200px) {
    .container {
        width: 1200px;
    }
}
.header-higher {
    padding-top: 0;
    padding-right: 0;
}
.user-authentication li {
    padding-top: 0;
}

@media (min-width: 768px) {
    .links-page form .social {
        width: 200%;
    }
}