*,
*::before,
*::after {
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/*
@font-face {
    font-family: tahomaArabic;
    src: url(tahoma.ttf);
}

@font-face {
    font-family: tahomaArabicBold;
    src: url(tahomabd.ttf);
}
*/

.text-bold {
    font-weight: bold;
}

html,
body {
    
}


body {
    direction: rtl;
    font-family: tahomaArabic;
    margin: 0;
    padding: 0;
    font-family: 'Cairo', sans-serif;
}

nav ul {
    padding: 0;
}

.right-side {
    text-align: right;
/*    height: 48px;*/
    margin-top: -3px;
}

.left-side {
    text-align: left;
}

.clear {
    clear: both;
}

nav ul li {
    display: inline-block;
    text-align: center;
}

nav li a,
select {
    display: block;
    min-width: 142px;
    height: 35px;
    color: #666;
}

nav ul li,
nav li a:hover,
nav li a:focus {
    color: #666;
}

a:hover,
a:focus {
    text-decoration: none;
}

nav li a:hover,
nav li a:focus {
    font-weight: bold;
}

.sign-up, 
.sign-in,
.sign-in:hover,
select,
.add-shop,
form input {
    padding: 6px 25px;
    border-radius: 5px;
    background-color: #fff;
    border: 1px solid #d3d3d3;
}

select {
    padding: 4px 25px;
}

.sign-up {
    margin-left: 20px;
}

.add-shop {
    margin-right: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.sign-in {
    background-color: transparent;
    border: none;
}

.fa-plus {
    margin-left: -15px;
    margin-right: 14px;
}

.img-container {
    width: 100px;
}

.img-container img {
    margin: auto;
}

.title {
    margin-bottom: 40px;
    font-size: 2.5em;
    color: #11998e;
}

input[type="search"]{
    display: block;
    width: 80%;
    margin: auto;
    border: none;
    border-radius: 30px;
    padding: 20px 40px;
    padding-left: 51px;
    font-size: 1.5em;
    color: #000;
}


input[type="search"]::placeholder {
    font-size: 18px;
    color: #cbcdcd;
}

.search {
    display: flex;
    align-items: center;
}

.example {
    width: 80%;
    margin: auto;
}

.ex {
    margin-top: 10px;
    text-align: right;
    padding-right: 27px; /*40px*/
    color: #75c0bb;
}

.customize-search {
    margin-top: 30px;
}

form select,
form input {
    padding-top: 15px;
    padding-bottom: 15px;
    min-width: 120px;
    margin-left: 20px;
    color: #95989a;
    font-size: 1.2em;
    display: inline-block;
}

/*
form input[type="submit"]{
    margin-left: 0;
    margin-right: 20px;
    background: linear-gradient(to left, #11998e , #38ef7d);
    color: #fff;
    min-width: 203px;
    //height: 73px;
}
*/

.towns {
    margin-left: 0;
    margin-right: 20px;
    min-width: 203px;
    height: 55px;
    padding: 7px 25px;
    
    font-weight: bold;
}

.arrow-bottom {
    margin-top: 45px;
}

.fa-chevron-down {
    display: block;
    color: #11998e;
}

@media screen and (max-width: 1199px) {
    .left-side,
    .right-side {
        text-align: center;
    }
}


@media screen and (min-width: 294px) and (max-width: 430px) {
/*
    button {
        font-size: 1.2em !IMPORTANT;
        left: 20% !IMPORTANT;
    }
*/
    
    .search input::placeholder {
        font-size: 12px !IMPORTANT;
    }
    
    .search input {
        padding-left: 35px !IMPORTANT;
    }
    
}


/*
@media screen and (min-width: 431px) and (max-width: 644px){
    .fa-search {
        left: 14%;
    }
    
    .towns {
        margin-right: 0;
    }
}
*/

@media screen and (max-width: 555px) {
    .add-shop,
    .sign-up{
        margin: 0;
    }
    
    .add-shop,
    .sign-in {
        margin-top: 10px;
    }
}

/*
@media screen and (max-width: 465px) {
    form input[type="submit"],
    form select {
        margin-left: 0;
        margin-right: 0;
    }
    
    form select {
        margin-bottom: 10px;
    }
}
*/

.howItWorks {
    background-image: url('../imgs/Section%202.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #fff;
    padding-bottom: 120px;
    margin-bottom: -1px;
}

.howItWorks h1,
.app h1 {
   margin-top: 65px;
}

.tools {
    min-height: 400px;
    background-image: url('../imgs/How%20it%20work.svg');
    background-repeat: no-repeat;
    background-position: center left;
    margin-top: 70px;
}

@media screen and (max-width: 991px) {
    .tools {
        background-image: none;
    }
    
    .play-button {
        display: none;
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    .tools {
        background-image: url(../imgs/How%20it%20work.svg);
        min-height: 350px;
    }
}



.tools h2:before {
    content: '|';
    font-size: 1.4em;
    font-weight: normal;
}

.tools p {
    margin-top: 1.5em;
    margin-right: 1.4em;
    font-size: 1.6em;
}

.tools ul {
    margin-top: 60px;
    margin-right: 15px;
}

.tools ul li{
    list-style: none;
    margin-bottom: 20px;
    font-size: 1.3em;
}

.tools .fa-check {
    margin-left: 10px;
}

.howItWorks {
    position: relative;
}

.play-button {
    width: 60px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.play-button {
    margin: auto;
}

.vertical hr {
    width: 50px;
    border-width: 3px;
    border-color: #fff;
}

.ads {
    background-color: #cacbd1;
}

.ads img {
    margin: auto;
}

.app {
    background-color: #f7f7f7;
    color: #11998e;
    padding-bottom: 20px;
}

.app hr {
    border-color: #11998e;
}

.send-message form {
    margin-top: 50px;
}

.send-message form input {
    border-radius: 5px;
    margin: 0;
/*    min-height: 62px;*/
}

.send-message form input[type="email"] {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    width: 64%;
}

.send-message form input[type="email"]::placeholder {
    color: #b2b2b2;
}

.send-message form input[type="submit"] {
    height: auto;
    min-width: 10px;
    text-align: left;
    position: relative;
    border-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin-right: -4px;
}

.app .tools {
    background: none;
}

.stores {
    margin-top: 80px;
    text-align: center;
}

.stores {
    display: flex;
    justify-content: space-around;
}

.ios,
.android {
    width: 40%;
}


@media screen and (max-width:991px) {
    .app form,
    .app .tools h2 {
        text-align: center;
    }
}

@media screen and (max-width: 500px) {
    
    .stores {
        display: block;
    }
    
    .ios,
    .android {
        display: block;
        margin: auto;
        margin-bottom: 20px;
        width: 100%;
    }
    
    .ios {
        margin-bottom: 0;
    }
}

.samples-shops {
    color: red;
    padding-top: 20px;
    padding-bottom: 20px;
}

.owl-carousel {
    direction: ltr;
}


footer {
    background-image: url(../imgs/Footer.svg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #f7f7f7;
    color: #11998e;
}

.left-section,
.center-section,
.right-section {
    margin-top: 30px;
}

.contact-us {
    letter-spacing: .5px;
}

.follow-us {
    margin-top: 65px;
}


.social-icons ul {
    padding: 0;
    list-style: none;
    margin-top: 30px;
    direction: ltr;
    text-align: right;
}

.social-icons ul li {
    width: 50px;
    height: 50px;
    background-color: #11998e;
    color: #fff;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    margin-right: 10px;
}

.facebook:hover li {
    background-color: #3b5999;
}

.twitter:hover li {
    background-color: #55acee;
}

.instagram:hover li {
    background-color: #e4405f;
}

.googlePlus:hover li {
    background-color: #dd4b39;
}

.social-icons ul .twitter li {
    margin-right: 0;
}

.phones,
.email,
.whatsApp {
    font-size: 20px;
}

.phones {
    display: flex;
    align-items: baseline;
    margin-top: 30px;
}

.text-color-grey {
    color: #666;
}

.whatsApp-icon {
    background-image: url('../imgs/Whats%20app.svg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
}

.fa-envelope,
.whatsApp-icon {
    margin-left: 15px;
}

.fa-phone {
    transform: rotate(240deg);
    margin-left: 25px;
}

.numbers,
.email {
    margin-bottom: 20px;
}

.numbers {
    display: inline-block;
}

.numbers span {
    display: block;
    direction: ltr;
}

.phones .sec {
    margin-right: 23px;
}

.whatsApp span {
    direction: ltr;
    display: inline-block;
}

.follow-us h2 {
    margin-top: 30px;
}

footer .send-message form input::placeholder {
    font-size: 16px;
}

footer .send-message form {
    max-width: 100%;
    margin-top: 30px;
}

.categories ul,
.right-section ul {
    margin-top: 20px;
    padding: 0;
    list-style: none;
    font-size: 17px;
}

.right-section .fa-check {
    color: #bfb9e3;
    margin-left: 10px;
}

footer ul li {
    margin-bottom: 10px;
}

footer ul li:last-child {
    margin-bottom: 0;
}

footer ul li a:hover,
footer ul li a:focus,
footer ul li a:active {
    color: #000;
}

.right-section .img-container {
    margin: 0;
}

.right-section h3 {
    margin-top: 26px;
}

.right-section ul {
    padding: 0;
    line-height: none;
}

.footer-bottom {
    color: #666;
    direction: ltr;
    padding-top: 20px;
    padding-bottom: 40px;
    padding-right: 89.500px;
    padding-left: 89.500px;
}

.copy-right {
    direction: ltr;
    text-align: right;
}

.copy-right p {
    display: inline-block;
    margin: 0;
}

.copy-right,
.conditions {
    display: block;
}

.conditions {
    text-align: right;
}

.conditions a {
    text-align: right;
    margin-left: 10px;
    font-size: 12px;
    color: #666;
}

.conditions a:last-of-type {
    margin-left: 0;
}

footer .container-fluid {
    background-color: #f7f7f7;
}

@media screen and (max-width: 1011px) {
    
    .copy-right {
        text-align: center;
    }
    
    .conditions {
        text-align: center;
        margin-top: 10px;
    }
}

@media screen and (max-width: 500px) {
    .right-section .img-container {
        margin: auto;
    }
}


input:focus,
select:focus {
    border-color: #129C8D;
    outline: none;
}

@media screen and (min-width: 320px) and (max-width: 573px) {
    body h1 {
        font-size: 5.5vw !IMPORTANT;
    }
    
    body h2 {
        font-size: 5.1vw !IMPORTANT;
    }
    
    body h3 {
        font-size: 4.8vw !IMPORTANT;
    }
    
    .ex {
        text-align: center;
        padding-right: 0;
    }
    
    .copy-right p {
        font-size: 2.3vw;
    }
    
    .tools p {
        font-size: 4vw;
    }
    
    .tools ul {
        margin-top: 40px;
        font-size: 3.2vw;
        padding-right: 0;
        
    }
    
    .howItWorks {
        padding-bottom: 0;  
    }

}

.tools ul li {
    display: flex;
    align-items: center;
}
#sortselect {
    padding-top: 0;
    padding-bottom: 0;
}
.right-section .img-container {
    margin-top: 40px !important;
}